@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Gruppo', cursive; }

.form-nav {
  background: #29323c; }
  .form-nav h1 {
    font-size: 1em; }
    @media (min-width: 768px) {
      .form-nav h1 {
        font-size: 1.5em; } }
  .form-nav #form-toggle {
    transform: scale(0.5); }
    .form-nav #form-toggle:active {
      transform: scale(1.4); }
    .form-nav #form-toggle:hover {
      transform: scale(0.7); }

.welcome-section {
  animation: none;
  background-image: none;
  background-color: #29323c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 1em; }
  .welcome-section::after {
    display: none; }
  .welcome-section ::selection {
    color: green;
    background: pink; }
  .welcome-section .form-container {
    border: none;
    outline: none;
    background: #fff;
    width: 330px;
    margin-top: 8vh;
    height: auto;
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
    box-shadow: inset 3px 3px 5px #ddda, inset -3px -3px 5px #000a; }
    @media (max-width: 500px) {
      .welcome-section .form-container {
        width: 85%;
        margin-top: 15vh;
        padding: 1em; } }
    @media (max-width: 330px) {
      .welcome-section .form-container {
        height: 87vh; } }
    .welcome-section .form-container header {
      text-transform: capitalize;
      font-size: 1.5em;
      font-weight: 600;
      margin: .4em auto;
      padding: .2em;
      border-radius: 5px;
      box-shadow: inset 2px 2px 4px #ddd, inset -2px -2px 4px #000a; }
      @media (max-width: 500px) {
        .welcome-section .form-container header {
          font-size: 1.3em;
          padding: .3em; } }
    .welcome-section .form-container .form-outer {
      width: 100%;
      overflow: hidden; }
      .welcome-section .form-container .form-outer form {
        display: flex;
        width: 400%; }
        .welcome-section .form-container .form-outer form .page {
          width: 25%;
          transition: margin-left .3s ease-in-out; }
          .welcome-section .form-container .form-outer form .page#message-page {
            position: relative;
            padding: .5em; }
            .welcome-section .form-container .form-outer form .page#message-page textarea {
              padding: .5em;
              margin: .5em auto;
              font-size: 1em;
              font-family: 'Poppins', sans-serif; }
              .welcome-section .form-container .form-outer form .page#message-page textarea::placeholder {
                font-weight: 700;
                font-family: 'Gruppo', cursive;
                font-size: .9em;
                color: #333a; }
            .welcome-section .form-container .form-outer form .page#message-page .btns {
              position: absolute;
              bottom: 0;
              left: 0; }
          .welcome-section .form-container .form-outer form .page .service-info {
            text-align: left;
            font-size: 1em; }
            .welcome-section .form-container .form-outer form .page .service-info p {
              font-weight: 700; }
          .welcome-section .form-container .form-outer form .page .title {
            text-align: left;
            font-size: 1.9em;
            font-weight: 900; }
            .welcome-section .form-container .form-outer form .page .title h3 {
              text-align: center;
              padding: .3em;
              border-radius: 5px;
              background: #485563;
              box-shadow: inset 2px 2px 5px #fffa, inset -2px -2px 5px #000;
              color: #fff;
              letter-spacing: .1em;
              font-size: .7em; }
            .welcome-section .form-container .form-outer form .page .title p {
              padding: 0;
              font-weight: 600; }
          .welcome-section .form-container .form-outer form .page .field {
            width: 100%;
            height: 45px;
            margin: 45px auto;
            display: flex;
            position: relative; }
            .welcome-section .form-container .form-outer form .page .field .label {
              position: absolute;
              top: -30px;
              font-weight: 800;
              color: #dc143c;
              font-size: .9em;
              text-transform: capitalize; }
            .welcome-section .form-container .form-outer form .page .field input {
              font-family: 'Poppins', sans-serif;
              height: 100%;
              width: 100%;
              border: none;
              outline: none;
              box-shadow: inset 2px 2px 4px #ddda, inset -2px -2px 4px #000a;
              border-radius: 5px;
              background-color: #f4f4f4;
              padding-left: 15px;
              font-size: 1.1em;
              transition: .2s; }
              .welcome-section .form-container .form-outer form .page .field input::placeholder {
                font-size: .7em; }
              .welcome-section .form-container .form-outer form .page .field input:invalid {
                background: #cf30501e;
                border: none;
                outline: none;
                box-shadow: inset 2px 2px 4px #ddda, inset -2px -2px 4px #79092098; }
              .welcome-section .form-container .form-outer form .page .field input:focus {
                border: none;
                outline: none;
                box-shadow: none;
                background-color: rgba(135, 207, 235, 0.233);
                box-shadow: inset 2px 2px 4px #ddda, inset -2px -2px 4px rgba(28, 39, 100, 0.667); }
            .welcome-section .form-container .form-outer form .page .field textarea {
              height: 100px;
              width: 100%;
              border-radius: 5px;
              border: none;
              outline: none;
              box-shadow: inset 2px 2px 4px #ddda, inset -2px -2px 4px #41061298; }
              .welcome-section .form-container .form-outer form .page .field textarea:focus {
                background: #f4f4f4; }
            .welcome-section .form-container .form-outer form .page .field select {
              width: 100%;
              padding-left: 10px;
              font-size: 17px;
              font-weight: 600;
              border-radius: 5px;
              border: none;
              color: #000;
              box-shadow: inset 2px 2px 4px #ddd, inset -2px -2px 4px #000a; }
              .welcome-section .form-container .form-outer form .page .field select option {
                font-weight: 600; }
              .welcome-section .form-container .form-outer form .page .field select:focus:focus {
                border: none;
                box-shadow: inset 2px 2px 4px #ddda, inset -2px -2px 4px #41061298; }
            .welcome-section .form-container .form-outer form .page .field button {
              width: 100%;
              height: calc(100% + 5px);
              border: none;
              margin-top: -20px;
              border-radius: 5px;
              color: #fff;
              cursor: pointer;
              font-size: 18px;
              font-weight: 500;
              letter-spacing: 1px;
              text-transform: uppercase;
              transition: 0.5s ease;
              position: relative;
              z-index: 3; }
              .welcome-section .form-container .form-outer form .page .field button::before, .welcome-section .form-container .form-outer form .page .field button::after {
                position: absolute;
                content: '';
                display: grid;
                letter-spacing: .15em;
                place-items: center;
                font-weight: 600;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                border-radius: 5px;
                transition: .2s; }
              .welcome-section .form-container .form-outer form .page .field button::before {
                background: #dc143c;
                box-shadow: inset 3px 3px 5px #fffa, inset -3px -3px 5px #000a; }
              .welcome-section .form-container .form-outer form .page .field button::after {
                opacity: 0;
                background: #29323c;
                box-shadow: inset 3px 3px 5px #000a, inset -3px -3px 5px #fffa; }
              .welcome-section .form-container .form-outer form .page .field button:hover::before {
                opacity: 0; }
              .welcome-section .form-container .form-outer form .page .field button:hover::after {
                opacity: 1; }
              .welcome-section .form-container .form-outer form .page .field button:active {
                transition: .2s;
                transform: scale(0.9); }
          .welcome-section .form-container .form-outer form .page .btns button {
            margin-top: -20px !important; }
            .welcome-section .form-container .form-outer form .page .btns button.prev {
              margin-right: 3px;
              font-size: 17px;
              color: #ddda; }
              .welcome-section .form-container .form-outer form .page .btns button.prev::before {
                background: #70081d; }
            .welcome-section .form-container .form-outer form .page .btns button.next {
              margin-left: 3px; }
    .welcome-section .form-container .form-progress-bar {
      display: flex;
      margin: 1em auto;
      user-select: none; }
      .welcome-section .form-container .form-progress-bar .step {
        text-align: center;
        width: 100%;
        position: relative;
        margin: .5em auto; }
        .welcome-section .form-container .form-progress-bar .step p {
          font-weight: 800;
          font-size: .9em;
          color: #000;
          margin: .4em auto;
          text-transform: capitalize; }
        .welcome-section .form-container .form-progress-bar .step .bullet {
          height: 25px;
          width: 25px;
          border: none;
          outline: none;
          display: inline-block;
          border-radius: 50%;
          position: relative;
          transition: 0.2s;
          box-shadow: inset 2px 2px 4px #ddd, inset -2px -2px 4px #000a; }
          .welcome-section .form-container .form-progress-bar .step .bullet.active {
            border: none;
            outline: none;
            background: #dc143c; }
          .welcome-section .form-container .form-progress-bar .step .bullet span {
            color: #000;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 500;
            font-size: .8em;
            line-height: 22px;
            font-family: 'Poppins', sans-serif; }
          .welcome-section .form-container .form-progress-bar .step .bullet.active span {
            display: none; }
          .welcome-section .form-container .form-progress-bar .step .bullet::before, .welcome-section .form-container .form-progress-bar .step .bullet::after {
            position: absolute;
            content: '';
            bottom: 50%;
            right: -30px;
            height: 3px;
            width: 25px;
            background: #a3a3a30c; }
          .welcome-section .form-container .form-progress-bar .step .bullet.active::after {
            background: #dc143c;
            transform: scaleX(0);
            transform-origin: left;
            animation: animate .6s linear forwards; }

@keyframes animate {
  100% {
    transform: scaleX(1); } }
        .welcome-section .form-container .form-progress-bar .step:last-child.bullet::before, .welcome-section .form-container .form-progress-bar .step:last-child.bullet::after {
          display: block; }
        .welcome-section .form-container .form-progress-bar .step p.active {
          color: #d43f8d;
          transition: .2s linear; }
        .welcome-section .form-container .form-progress-bar .step .check {
          position: absolute;
          left: 50%;
          top: 80%;
          font-size: 15px;
          transform: translate(-50%, -50%);
          display: none; }
          .welcome-section .form-container .form-progress-bar .step .check.active {
            display: block;
            color: #fff; }

.form-footer .footer {
  padding-top: 0; }

.form-footer .map {
  margin: 1em auto;
  border: none;
  outline: none;
  width: 80%;
  border-radius: 5px;
  height: 50vh;
  overflow: hidden; }
  .form-footer .map iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none; }
