@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:wght@200;400;500;700&family=Philosopher:wght@400;700&family=Shippori+Mincho:wght@700&family=Source+Code+Pro:wght@200;300;400&family=Ubuntu:wght@300;400&display=swap");
/*progress bar*/
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: transparent; }

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background: var(--redGradient);
  width: 0%;
  border-radius: 10px; }

/*end of progress bar*/
.section-title {
  font-size: 2.3em;
  font-weight: 500;
  max-width: 100vw;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  padding: .5em; }

/* TEXT-REFLECT CSS */
.section-title,
.section-title:before,
.text-reflect.section-title span {
  display: block;
  margin: 0;
  padding: 0; }

.section-title,
.section-title:before,
.section-title:after {
  position: relative; }

.section-title {
  top: -6px; }

.section-title:before {
  content: attr(data-text);
  top: 2.1em;
  transform: scale(1, -1);
  backface-visibility: visible;
  z-index: 1; }

.section-title:after {
  content: '';
  display: block;
  top: -10px;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.589) 0%, white 50%);
  z-index: 2; }

/* END OF TEXT-REFLECT CSS */
/* section title span animation */
.section-title span {
  position: relative;
  color: #dc143c;
  animation: section-span 3s ease-in-out infinite;
  height: 5px;
  /* section title animations */
  /* end of section title animations */ }

@keyframes section-span {
  0%,
  100% {
    top: 0px;
    opacity: 1;
    color: #dc143c; }
  45% {
    top: -20px;
    opacity: 0;
    color: darkblue; }
  46% {
    top: 20px;
    opacity: 0;
    color: darkblue; } }

/* end of section title span animation */
body {
  overflow-x: hidden; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 5em; }

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw; }
  #header .header {
    min-height: 8vh;
    background-color: #1f1e1e80;
    transition: 0.3s ease background-color; }
    #header .header #navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      max-width: 1300px;
      padding: 0 10px; }
      #header .header #navbar .brand h1 {
        font-size: 1.3em;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Gruppo', cursive;
        text-shadow: 0 0 10px #dc143c; }
      @media (min-width: 768px) {
        #header .header #navbar .nav-list .links-container .nav-avi {
          display: none; } }
      #header .header #navbar .nav-list .links-container .nav-avi {
        height: 5em;
        width: 5em;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 1em;
        left: 1em;
        cursor: pointer; }
        @media (max-width: 360px) {
          #header .header #navbar .nav-list .links-container .nav-avi {
            height: 4em;
            width: 4em; } }
        #header .header #navbar .nav-list .links-container .nav-avi img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: .5s;
          /* pointer-events: none; */ }
      #header .header #navbar .nav-list ul {
        list-style: none;
        position: absolute;
        background: #1f1e1e;
        width: 100vw;
        height: 100vh;
        left: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s ease left; }
        #header .header #navbar .nav-list ul.active {
          left: 20%;
          background-color: #29323c; }
      @media (min-width: 1024px) {
        #header .header #navbar .nav-list ul {
          position: initial;
          display: block;
          height: auto;
          width: fit-content;
          background-color: transparent; }
          #header .header #navbar .nav-list ul li {
            display: inline-block; }
            #header .header #navbar .nav-list ul li a {
              font-size: .9em;
              padding: .3em 1em;
              margin: 0 auto; }
              #header .header #navbar .nav-list ul li a i {
                margin-right: .3em;
                padding: .5em;
                font-size: 1em;
                border-radius: 50%; }
              #header .header #navbar .nav-list ul li a::after {
                display: none; }
          #header .header #navbar .nav-list ul.active {
            background: none;
            box-shadow: none; }
        #header .header #navbar .nav-list .hamburger {
          display: none; } }
