/* Error: expected "{".
 *     ,
 * 623 | >>>>>>> f1a82b156c0d4b0cf799a46f5762f06e4589770d:sass/components/_utilities.scss
 *     |                                                                                 ^
 *     '
 *   sass\components\_utilities.scss 623:81  @forward
 *   sass\components\_index.scss 3:1         @use
 *   sass\style.scss 3:1                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 623 \2502  >>>>>>> f1a82b156c0d4b0cf799a46f5762f06e4589770d:sass/components/_utilities.scss\d\a     \2502                                                                                  ^\a     \2575 \a   sass\\components\\_utilities.scss 623:81  @forward\a   sass\\components\\_index.scss 3:1         @use\a   sass\\style.scss 3:1                     root stylesheet';
}
