
/*root*/
:root {
  --overlay: linear-gradient(60deg, #29323c 0%, #485563 100%);
  --redGradient: linear-gradient(0deg, #000, #dc243c, #000);
  --crimson-light: #dc243c;
  --text-shadow-lg: 1.5px 1.5px 1px #000;
  --text-shadow-sm: 1px 1px 1px #000a;
  --text-shadow: 2px 2px 2px #000;

  --box-shadow-light: 1px 1px 5px #333333aa,
    -1px -1px #ddda,
    0 0 10px #9414256e,
    inset 5px 5px 5px #dddddd46,
    inset -5px -5px 5px #464545aa;

  --box-shadow-light-hover: -4px 0 10px #dddddd46,
    4px 0 10px #000a,
    inset 1px 1px 3px #333333aa,
    inset -1px -1px 3px #ddda,
    inset 4px 4px 5px #464545aa,
    inset -4px -4px 5px #dddddd46;

  --box-shadow: 1px 1px 5px #000,
    -1px -1px #ddd,
    0 0 10px #9414256e,
    inset 5px 5px 5px #dddddd46,
    inset -5px -5px 5px #000a;

  --box-shadow-sm: 1px 1px 5px #000a,
    -1px -1px #ddd,
    inset 1px 1px 5px #f5f1f12f,
    inset -2px -2px 5px #000a;

  --box-shadow-hover:
    -4px 0 15px #dddddd46,
    4px 0 15px #000a,
    inset 1px 1px 3px #000,
    inset -1px -1px 3px #ddda,
    inset 4px 4px 5px #000a,
    inset -4px -4px 5px #dddddd46;

  --box-shadow-bright: 10px 10px 5px #000a,
    1px 1px 5px #000,
    -1px -1px #fffa,
    inset 5px 5px 10px #fff,
    inset -5px -5px 15px #000;

  --contact-shadow: inset 2px 2px 5px #ddda,
                    inset -2px -2px 5px #000a;
                    

  --contact-shadow-hover: inset 2px 2px 5px #000a,
                          inset -2px -2px 5px #ddda;
                          

  --bg-color: hsl(49 37% 94%);
  
}
