@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:wght@200;400;500;700&family=Philosopher:wght@400;700&family=Shippori+Mincho:wght@700&family=Source+Code+Pro:wght@200;300;400&family=Ubuntu:wght@300;400&display=swap");
/*progress bar*/
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: transparent; }

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background: var(--redGradient);
  width: 0%;
  border-radius: 10px; }

/*end of progress bar*/
.section-title {
  font-size: 2.3em;
  font-weight: 500;
  max-width: 100vw;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  padding: .5em; }

/* TEXT-REFLECT CSS */
.section-title,
.section-title:before,
.text-reflect.section-title span {
  display: block;
  margin: 0;
  padding: 0; }

.section-title,
.section-title:before,
.section-title:after {
  position: relative; }

.section-title {
  top: -6px; }

.section-title:before {
  content: attr(data-text);
  top: 2.1em;
  transform: scale(1, -1);
  backface-visibility: visible;
  z-index: 1; }

.section-title:after {
  content: '';
  display: block;
  top: -10px;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.589) 0%, white 50%);
  z-index: 2; }

/* END OF TEXT-REFLECT CSS */
/* section title span animation */
.section-title span {
  position: relative;
  color: #dc143c;
  animation: section-span 3s ease-in-out infinite;
  height: 5px;
  /* section title animations */
  /* end of section title animations */ }

@keyframes section-span {
  0%,
  100% {
    top: 0px;
    opacity: 1;
    color: #dc143c; }
  45% {
    top: -20px;
    opacity: 0;
    color: darkblue; }
  46% {
    top: 20px;
    opacity: 0;
    color: darkblue; } }

/* end of section title span animation */
body {
  overflow-x: hidden; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 5em; }

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw; }
  #header .header {
    min-height: 8vh;
    background-color: #1f1e1e80;
    transition: 0.3s ease background-color; }
    #header .header #navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      max-width: 1300px;
      padding: 0 10px; }
      #header .header #navbar .brand h1 {
        font-size: 1.3em;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Gruppo', cursive;
        text-shadow: 0 0 10px #dc143c; }
      @media (min-width: 768px) {
        #header .header #navbar .nav-list .links-container .nav-avi {
          display: none; } }
      #header .header #navbar .nav-list .links-container .nav-avi {
        height: 5em;
        width: 5em;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 1em;
        left: 1em;
        cursor: pointer; }
        @media (max-width: 360px) {
          #header .header #navbar .nav-list .links-container .nav-avi {
            height: 4em;
            width: 4em; } }
        #header .header #navbar .nav-list .links-container .nav-avi img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: .5s;
          /* pointer-events: none; */ }
        #header .header #navbar .nav-list .links-container .nav-avi:active {
          transition: .4s;
          transform: scale(0.7); }
      #header .header #navbar .nav-list ul {
        position: absolute;
        background: #1f1e1e;
        width: 100vw;
        height: 100vh;
        left: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s ease left; }
        #header .header #navbar .nav-list ul li {
          list-style: none; }
          #header .header #navbar .nav-list ul li a {
            font-size: 1em;
            font-weight: 600;
            letter-spacing: .15em;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            padding: 20px;
            display: block;
            text-align: left;
            font-family: 'Gruppo', cursive;
            transition: .2s ease-in-out; }
            #header .header #navbar .nav-list ul li a i {
              margin: 0 auto;
              margin-right: .5em;
              padding: .5em;
              text-align: left;
              color: #fffa;
              border-radius: 10px;
              box-shadow: inset 2px 2px 3px #ddda, inset -2px -2px 3px #000a; }
        #header .header #navbar .nav-list ul.active {
          left: 20%;
          background-color: #29323c; }
      @media (min-width: 1024px) {
        #header .header #navbar .nav-list ul {
          position: initial;
          display: block;
          height: auto;
          width: fit-content;
          background-color: transparent; }
          #header .header #navbar .nav-list ul li {
            display: inline-block; }
            #header .header #navbar .nav-list ul li a {
              font-size: .9em;
              padding: .3em 1em;
              margin: 0 auto; }
              #header .header #navbar .nav-list ul li a i {
                margin-right: .3em;
                padding: .5em;
                font-size: 1em;
                border-radius: 50%; }
              #header .header #navbar .nav-list ul li a::after {
                display: none; }
            #header .header #navbar .nav-list ul li:hover a {
              transition: .3s ease;
              color: skyblue; }
            #header .header #navbar .nav-list ul li:hover i {
              transition: .3s ease;
              color: skyblue; }
          #header .header #navbar .nav-list ul.active {
            background: none;
            box-shadow: none; }
        #header .header #navbar .nav-list .hamburger {
          display: none; } }

#home {
  background-color: #29323c;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  #home .hero #hero-h1 {
    margin: 1em auto;
    background: transparent;
    padding: .5em;
    border-radius: 5px; }
    #home .hero #hero-h1 h1 {
      margin-bottom: .2em;
      display: block;
      width: fit-content;
      color: #eee;
      font-family: 'Philosopher', sans-serif; }
      #home .hero #hero-h1 h1 span {
        display: inline-block;
        color: #fff;
        text-align: left;
        font-size: 1.5em;
        text-shadow: 0 0 5px #000, 0 0 10px #dc143c;
        line-height: 1.3;
        animation: hero-span 6s ease-in-out;
        animation-delay: calc(1s + .5s * var(--s));
        transition: all 3s;
        /* hero h1 keyframes */
        /* hero h1 keyframes */ }

@keyframes hero-span {
  5% {
    opacity: 1; }
  10% {
    opacity: 1;
    color: #dc143c8c;
    transform: translateX(3px);
    text-shadow: 0 0 1px #fff; }
  100% {
    opacity: 1; } }
      #home .hero #hero-h1 h1#aka span {
        position: relative;
        display: inline-block;
        animation: aka 5s ease alternate;
        animation-delay: 4s;
        margin: .5em 0;
        color: #fff;
        opacity: 0.5;
        transform: scale(0.7); }

@keyframes aka {
  50% {
    opacity: 1;
    transform: scale(1);
    color: tomato; } }
  #home .hero #cta-header {
    font-size: 1.3em;
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: 'Gruppo', cursive;
    padding: .5em 1em;
    margin: 2em 0;
    width: 100%;
    border-radius: 40px;
    border: none;
    outline: none;
    background-color: #8584844b;
    text-shadow: 2px 2px 2px #000;
    transition: .3s linear;
    cursor: pointer; }
    #home .hero #cta-header::before, #home .hero #cta-header::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 40px;
      transition: .3s ease; }
    #home .hero #cta-header::before {
      box-shadow: inset 4px 4px 5px #ddda, inset -4px -4px 5px #000a; }
    #home .hero #cta-header::after {
      opacity: 0;
      box-shadow: inset 4px 4px 5px #000a, inset -4px -4px 5px #ddda; }
    #home .hero #cta-header:hover {
      transform: scale(0.98); }
      #home .hero #cta-header:hover::before {
        opacity: 0; }
      #home .hero #cta-header:hover::after {
        opacity: 1; }
    #home .hero #cta-header:active {
      transition: .2s;
      transform: scale(0.94); }
    #home .hero #cta-header span {
      position: relative;
      display: inline-block;
      color: #fff;
      font-size: 2em;
      font-weight: 700;
      animation: animate 3s ease-in-out infinite;
      animation-delay: calc(5s + .2s * var(--i));
      /* cta keyframes*/
      /* end of cta keyframes*/ }

@keyframes animate {
  0% {
    transform: translateY(0px); }
  20% {
    transform: translateY(-5px);
    color: #cd143c;
    background: linear-gradient(0deg, #ff0000, #dc143c, #ff0000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    box-shadow: none;
    text-shadow: none; }
  40%,
  100% {
    transform: translateY(0); } }

#skills .skills {
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 1em;
  background-image: url("../img/nadine-shaabana-0xD40qm07X0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; }
  #skills .skills::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
    overflow: auto; }
  #skills .skills-header {
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 30; }

#skills .skills-top {
  width: 90%;
  padding: .5em .5em 2em .5em;
  text-align: center;
  margin: 2em auto;
  background-image: var(--overlay);
  background: #48556388;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: none;
  box-shadow: inset 4px 4px 5px #ddda, inset -4px -4px 5px #000a;
  position: relative;
  z-index: 30;
  transition: .2s linear; }
  @media (min-width: 1024px) {
    #skills .skills-top {
      width: 60%; } }
  #skills .skills-top p {
    color: #fff;
    font-size: .9em;
    background: transparent;
    overflow: hidden;
    text-shadow: var(--text-shadow-sm);
    line-height: 2em; }
    @media (min-width: 768px) {
      #skills .skills-top p {
        font-size: 1em; } }
  #skills .skills-top::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    border: none;
    top: 100%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    transform: rotate(45deg);
    background-image: linear-gradient(135deg, transparent 48%, #3d4955 0%);
    transition: .2s;
    box-shadow: inset -5px -5px 5px #000a, inset 5px 5px 5px #3d495500; }
  #skills .skills-top:hover::after {
    box-shadow: inset -5px -5px 5px #ddda, inset 5px 5px 5px #3d495500;
    transition: .3s linear; }

#skills .dropdown {
  position: relative;
  margin: 0 auto;
  z-index: 4; }
  #skills .dropdown .dropbtn {
    color: #eee;
    padding: .3em 3em;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(0deg, #dc134c, #333);
    text-align: center;
    transition: .3s;
    font-family: 'Gruppo', cursive;
    position: relative;
    overflow: hidden; }
    #skills .dropdown .dropbtn::before, #skills .dropdown .dropbtn::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: .3s; }
    #skills .dropdown .dropbtn::before {
      box-shadow: 5px 10px 5px #000, inset 3px 3px 5px #000a, inset -3px -3px 5px #fffa; }
    #skills .dropdown .dropbtn::after {
      opacity: 0;
      box-shadow: 0px 0px 10px #000a, inset 3px 3px 5px #fffa, inset -3px -3px 5px #000a; }
    #skills .dropdown .dropbtn:hover::before {
      opacity: 0; }
    #skills .dropdown .dropbtn:hover::after {
      opacity: 1; }
    #skills .dropdown .dropbtn:active {
      transform: scale(0.9);
      transition: .3s; }
  #skills .dropdown .dropdown-content {
    display: none;
    width: 100vw;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-image: url("../img/nadine-shaabana-0xD40qm07X0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 10em; }
    #skills .dropdown .dropdown-content.show {
      display: block; }
    #skills .dropdown .dropdown-content::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: #000a; }
    #skills .dropdown .dropdown-content .skills-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      /*items wrapped onto multiple lines*/
      margin-top: 50px;
      padding-top: 50px;
      text-shadow: var(--text-shadow-sm); }
      #skills .dropdown .dropdown-content .skills-bottom .skills-item {
        flex-basis: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: .5em;
        background: transparent;
        background-size: cover;
        margin: .5em auto;
        position: relative;
        z-index: 1;
        text-overflow: ellipsis;
        transition: 0.3s ease-in-out;
        overflow: hidden;
        border-radius: 10px;
        height: auto; }
        @media (min-width: 768px) {
          #skills .dropdown .dropdown-content .skills-bottom .skills-item {
            flex-basis: 45%;
            margin: 2.5%;
            height: 300px;
            pointer-events: none; } }
        @media (min-width: 1024px) {
          #skills .dropdown .dropdown-content .skills-bottom .skills-item {
            flex-basis: 33%;
            width: 100%;
            margin: 1.5%;
            height: 300px;
            pointer-events: visible;
            cursor: pointer; } }
