@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:wght@200;400;500;700&family=Philosopher:wght@400;700&family=Shippori+Mincho:wght@700&family=Source+Code+Pro:wght@200;300;400&family=Ubuntu:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*root*/
:root {
  --overlay: linear-gradient(60deg, #29323c 0%, #485563 100%);
  --redGradient: linear-gradient(0deg, #000, #dc243c, #000);
  --crimson-light: #dc243c;
  --text-shadow-lg: 1.5px 1.5px 1px #000;
  --text-shadow-sm: 1px 1px 1px #000a;
  --text-shadow: 2px 2px 2px #000;

--box-shadow-light: 1px 1px 5px #333333aa,
                -1px -1px #ddda,
                0 0 10px #9414256e,
                inset 5px 5px 5px #dddddd46,
                inset -5px -5px 5px #464545aa;
              
--box-shadow-light-hover:-4px 0 10px #dddddd46, 
                          4px 0 10px #000a,
                          inset 1px 1px 3px #333333aa,
                          inset -1px -1px 3px #ddda,
                          inset 4px 4px 5px #464545aa,
                          inset -4px -4px 5px #dddddd46 ;

--box-shadow: 1px 1px 5px #000,
                -1px -1px #ddd,
                0 0 10px #9414256e,
                inset 5px 5px 5px #dddddd46,
                inset -5px -5px 5px #000a;

--box-shadow-sm: 1px 1px 5px #000a,
                -1px -1px #ddd,
                inset 1px 1px 5px #f5f1f12f,
                inset -2px -2px 5px #000a;              

  --box-shadow-hover: 
                      -4px 0 15px #dddddd46, 
                      4px 0 15px #000a,
                      inset 1px 1px 3px #000,
                      inset -1px -1px 3px #ddda,
                      inset 4px 4px 5px #000a,
                      inset -4px -4px 5px #dddddd46 ;

  --box-shadow-bright: 10px 10px 5px #000a,
                      1px 1px 5px #000,
                      -1px -1px #fffa,
                      inset 5px 5px 10px #fff,
                      inset -5px -5px 15px #000;
  
  --contact-shadow: inset 5px 5px 10px #ddda,
                    inset -5px -5px 10px #000a;

  --contact-shadow-hover: inset 5px 5px 10px #000a,
                          inset -5px -5px 10px #ddda;
  
  --bg-color: hsl(49 37% 94%);
  --typeWriterSpeed: 6s;
  --typeWriterCharacters: 15;
}

body  {
  overflow-x: hidden;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/*bootstrap scrollbar*/
.custom-scrollbar-js {
  height: 200px;
}

/*end of bootstrap scrollbar*/

/*progress bar*/
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: transparent;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background: var(--redGradient);
  width: 0%;
  border-radius: 10px;}

/*end of progress bar*/


a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}



p {
  color: #000;
  font-size: 1.3rem;
  margin-top: 5px;
  line-height: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

span {
  color: #dc143c;
}

.section-title {
  font-size: 4rem;
  font-weight: 500;
  max-width: 100vw;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;

}

/* TEXT-REFLECT CSS */

.section-title,
.section-title:before,
.text-reflect.section-title span {
  display: block;
  margin: 0;
  padding: 0;
}

.section-title,
.section-title:before,
.section-title:after {
  position: relative;
}

.section-title {
  top: -6px;
}

.section-title:before {
  content: attr(data-text);
  top: 2.1em;
  transform: scale(1, -1);
  backface-visibility: visible;
  z-index: 1;
}

.section-title:after {
  content: '';
  display: block;
  top: -10px;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.589) 0%, rgb(255, 255, 255) 50%);
  z-index: 2;
}

/* END OF TEXT-REFLECT CSS */

.section-title span {
  position: relative;
  color: #dc143c;
  animation: section-span 3s ease-in-out infinite;
  height: 5px;
}

@keyframes section-span {

  0%,
  100% {
    top: 0px;
    opacity: 1;
    color: #dc143c;
  }

  45% {
    top: -20px;
    opacity: 0;
    color: darkblue;
  }

  46% {
    top: 20px;
    opacity: 0;
    color: darkblue;
  }
}

#aka span {
  position: relative;
  display: inline-block;
  animation: aka 5s ease alternate;
  animation-delay: 4s;
  margin: 0 40px;
  color: #fff;
  opacity: 0.5;
  transform: scale(0.7);
}

@keyframes aka {
  50% {
    opacity: 1;
    transform: scale(1);
    color: tomato;
  }
}

#cta-header {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: 'Gruppo', cursive;
  padding: .8em 1em;
  margin: 10px 5px;
  width: 70%;
  border-radius: 40px;
  
  background-color: #8584843a;
  box-shadow: var(--box-shadow);
  text-shadow: 2px 2px 2px #000;

  transition: .2s linear;
}

#cta-header::before {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 5%;
  width: 90%;
  height: 20px;
  border-radius: 50%;
  background: #e4dedf36;
  filter: blur(5px);
  animation: shadowButton 3s linear infinite;
  animation-delay: 5s;
  opacity: .3;
}

@keyframes shadowButton {
  40% {
    background: #dc143c;
    filter: blur(5px);
  }
}

#cta-header:hover, #cta-header:focus {
  transition: .2s linear;
  transform: scale(.98);
  box-shadow: var(--box-shadow-hover);

}


#cta-header span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  animation: animate 3s ease-in-out infinite;
  animation-delay: calc(5s + .2s * var(--i))
}

/* cta keyframes*/
@keyframes animate {
  0% {
    transform: translateY(0px);

  }

  20% {
    transform: translateY(-5px);
    color: #cd143c;
    background: linear-gradient(0deg, #ff0000, #dc143c, #ff0000, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    box-shadow: none;
    text-shadow: none;
  }

  40%,
  100% {
    transform: translateY(0);
    
  }
}

/*end of cta keyframes*/


.brand h1 {
  font-size: 2.7rem;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Gruppo', cursive;
  text-shadow: 0 0 10px #dc143c;
}



/*Header Section*/
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: #1f1e1e80;
  transition: 0.3s ease background-color;
}

#header #navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list ul li:hover a {
  transition: .3s ease;
  color: crimson;
}
#header .nav-list ul li:hover i {
  transition: .3s ease;
  color: crimson;
}

#header .nav-list ul.active {
  left: 20%;
  background-color: #29323c;
}

#header .nav-list ul a {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  display: block;
  text-align: left;
  transition: .2s ease-in-out;
}

#header .nav-list ul a i {
  margin: 0 auto;
  margin-right: .5em;
  padding: .4em;
  text-align: left;
  color: #fffa;
  border-radius: 50%;
  box-shadow: inset 2px 2px 3px #ddda,
              inset -2px -2px 3px #000a;
} 

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 12rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

/*Hamburger menu*/
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin: 3px 20px;
  transition: .3s ease;
  box-shadow: inset 3px 3px 5px #ddda,
              inset -3px -3px 5px #000a;
}
#header .hamburger:hover {
  transform: scale(.73);
  box-shadow: inset 3px 3px 5px #000,
              inset -3px -3px 5px #ddda;
}
/*hamburger pulse*/
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  animation: ham-pulse 2s ease infinite;
}


#header .hamburger:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  animation: ham-pulse2 2s ease infinite;
  animation-delay: .6s;
}

#header .hamburger:hover::after,
#header .hamburger:focus::after {
  animation: none;  
}

#header .hamburger:focus::before {
  animation: none;  
} 


@keyframes ham-pulse {
  50% {
    border-color: #fff;

  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes ham-pulse2 {
  50% {}

  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

/*End of hamburger pulse*/

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: #f4f4f4;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #fff;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

/*End of Header Section*/

/*welcome-section*/
#welcome-section {
  background-image: url('../img/unit-3.jpg');
  background-repeat: no-repeat;
  background-size: 310%;
  background-position: left;
  background-attachment: fixed;
  position: relative;
  /*to allow overlay of this section*/
  z-index: 1;
  overflow: hidden;
  animation: unit3 120s linear infinite alternate;
}

@keyframes unit3 {
  100% {
    background-position: right;
  }
}

#welcome-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
  overflow: hidden;
}

#hero-h1 {
  background: transparent;
  backdrop-filter: blur(4px);
  padding: 15px;
  border-radius: 5px;
  height: 50vh;
}
#welcome-section h1 {
  display: block;
  width: fit-content;
  /* box-shadow: 5px 20px 5px rgba(0, 0, 0, 0.185); */
  font-size: 4.8rem;
  position: relative;
  color: #eee;
  font-family: 'Philosopher', sans-serif;
}

.hero h1 span {
  display: inline-block;
  color: #fff;
  text-align: left;
  text-shadow: 0 0 5px #000, 0 0 10px #dc143c;
  line-height: 1.3;
  animation: hero-span 6s ease-in-out;
  animation-delay: calc(1s + .5s * var(--s));
  transition: all 3s;
}

@keyframes hero-span {
  5% {
    opacity: 1;

  }

  10% {
    opacity: 1;
    color: #dc143c8c;
    transform: translateX(3px);
    text-shadow: 0 0 1px #fff;
  }

  100% {
    opacity: 1;
  }
}
/*End of welcome-section*/

/*Skills Section*/

#skills .skills {
  flex-direction: column;
  text-align: center;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 1em;
  background-image: url('../img/nadine-shaabana-0xD40qm07X0-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.skills {
  justify-content: flex-start;
}

#skills .skills::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
#skills .skills::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.4;
  overflow: auto;
}

.skills-header{
  width: 100%;
  height: auto;
  background: #fff;
  z-index: 30;
}
#skills .skills-top {
  width: 90%;
  padding: .5em .5em 3em .5em;
  text-align: center;
  margin:5em auto;
  background-image: var(--overlay);
  background: #48556388;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  border: none;
  box-shadow: inset 4px 4px 5px #ddda, inset -4px -4px 5px #000a ;
  position: relative;
  z-index: 30;
  transition: .2s linear;

}
.skills-top p {
  color: #fff;
  background: transparent;
  overflow: hidden;
  text-shadow: var(--text-shadow-sm);
}
#skills .skills-top:hover p {
  transition: .3s linear;
  text-shadow: var(--text-shadow-lg);
}

.skills-top::after{
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    border: none;
    top: 100%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    transform: rotate(45deg);
    background-image: linear-gradient(135deg, transparent 48%, #3d4955 0%);
    box-shadow: inset -5px -5px 5px #000a,
                inset 5px 5px 5px #3d495500;
    transition: .3s linear;
  }
.skills-top:hover.skills-top::after {
  box-shadow: inset -5px -5px 5px #ddda,
                inset 5px 5px 5px #3d495500;
  transition: .3s linear;
}

#skills .skills-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*items wrapped onto multiple lines*/
  margin-top: 50px;
  padding-top: 50px;
  text-shadow: var(--text-shadow-sm);
}

#skills .skills-item {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background: transparent ;
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  text-overflow: ellipsis;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 10px;
  height: auto;
  /* box-shadow: var(--box-shadow-bright); */
  /*border radius not visiblie without hidden overflow*/
}



#skills .skills-item li {
  color: #fff;
  font-size: 1.4rem;
  text-align: left;
  margin: 20px;
  text-transform: capitalize;

}

#skills .skills-item a {
  color: rgb(5, 255, 5);
}

/*overlay added to create contrast*/
#skills .skills-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  width: 100%;
  background: var(--overlay);
  opacity: 0.7;
  z-index: -1;
}
#skills .skills-item::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  box-shadow: inset 4px 4px 5px #ddda,
              inset -4px -4px 5px #000;
  z-index: 2;
}
#skills .skills-bottom .icon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #000,
              inset 2px 2px 3px #ddda,
              inset -2px -2px 5px #000a;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}
#skills .skills-bottom .icon img {
  width: 100%;
}
#skills .skills-item h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family: 'Gruppo', cursive;
  text-decoration: underline rgba(221, 221, 221, 0.466);
  text-underline-offset: .2em;
}

#skills .skills-item {
  line-height: 1.9rem;
}


#skills .skills-item p {
  color: #fff;
  text-align: center;
}

#skills .skills-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#git-icon img {
  width: 100%;
  border-radius: 50%;
}

#netlify-icon img {
  border-radius: 50%;
  width: 100%;

}

#express-icon img {
  border-radius: 30px;
}

/*Dropdown*/
/* Dropdown Button */
.dropbtn {
  color: #fff;
  /* width: 80vw; */
  padding:.4em 4em;
  font-size: 2.2em;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: linear-gradient(0deg, #dc134c, #333);
  /* background: none; */
  text-align: center;
  transition: .2s ease;
  font-family: 'Gruppo', cursive;
  position: relative;
  overflow: hidden;

}
.dropbtn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  /* background: linear-gradient(0deg, #dc134c, #333); */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: .5s;
  box-shadow: 5px 10px 5px #000,
              inset 3px 3px 5px #000a,
              inset -3px -3px 5px #fffa;
}

.dropbtn::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 10px;
  transition: .5s;
  box-shadow: 0px 0px 10px #000a,
              inset 3px 3px 5px #fffa,
              inset -3px -3px 5px #000a;
}
.dropbtn:hover.dropbtn::after {
  opacity: 1;
}
.dropbtn:hover.dropbtn::before {
  opacity: 0;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  transition: .2s ease;
  transform: scale(.96);
  border: none;
  outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  margin: 0 auto;
  z-index: 4;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #f4f4f4;
  width: 100vw;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-image: url('../img/nadine-shaabana-0xD40qm07X0-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 100px;
}
.dropdown-content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#8d092e71, #000a);
  
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/*end of Dropdown*/

/*End of Skills Section*/

/*Projects Section*/

#projects .projects {
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 20vh 0;
  background-image: url('../img/nadine-shaabana-0xD40qm07X0-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

#projects .projects::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
  overflow: hidden
}

.projects-header {
  width: 100%;
  height: 170px;
  background: rgb(255, 255, 255);
  margin-bottom: 50px;
  z-index: 2;
}

#projects .projects-header h1 {
  margin-bottom: 50px;
  background-image: linear-gradient(40deg, #000,purple, skyblue ,#000, skyblue, #dc143c, #000, skyblue , #000, purple );
  background-size: 900%;
  background-position: 0%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: projact 20s infinite;
}

@keyframes projact {
  100% {
    background-position: 100%;
  }
}

#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 5px #000a,
              inset 5px 5px 5px #ddda,
              inset -5px -5px 5px #000;
}

#projects .project-tile {
  padding: 30px;
  flex-basis: 50%;
  width: 100%;
  height: 100%;
  line-height: 1.9rem;
  /* border-radius: 10px; */

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: var(--overlay);
  background: #485563c5;
  backdrop-filter: blur(1px);
  transition: 1.3s ease;
  box-shadow: inset 5px 0px  5px rgba(150, 149, 149, 0.667),
              inset -3px -5px 5px #000a;
}


#projects .project-tile:hover {
  transition: 0.4s ease;
}

#projects .project-tile h1 {
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1em;
  padding-bottom: 10px;
  text-transform: capitalize;
  border-bottom: 1px dashed #fff;
  background: linear-gradient(0deg, #b9b6b6, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



#projects .project-tile h2 {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 10px;
  text-transform: capitalize;
}

#projects .project-tile p {
  font-size: 1.4rem;
  font-weight: 200;
  color: #fff;
  margin-bottom: 10px;
}

#projects .project-tile a {
  color: #fff;
  background: #333;
  animation: project-link 2s linear infinite;
  /* border: 1px solid #ddd; */
  box-shadow: inset 3px 3px 5px #ddda,
              inset -3px -3px 5px #000a;
  border-radius: 5px;
  margin: 5px auto;
  /* margin-top: 5px; */
  padding: 10px;
  transition: all .3s ease;

}

@keyframes project-link {
  50% {
  }
}

#projects .project-tile a:hover {
  color: crimson;
  transition: .3s ease;
  transform: scale(1);
  animation: none;
}


#projects .project-tile a i {
  background-image: linear-gradient(30deg, #fff 10%, #aef50a , #fff 60% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 900%;
  background-position: right;
  animation: icon-gradient 2s linear infinite;
  font-size: 1.8em;
  padding: .2em;
}
#projects .project-tile a i::after {
  content: 'view project';
  font-size: 1em;
  font-family: 'Gruppo', cursive;
  font-style: italic;

}

#projects .project-tile a:hover i {
  transition: 1s ease;
  /* transform: scale(1.6); */
  /* letter-spacing: .2em; */
  /* margin: .3em 0 0 1em; */
}

@keyframes icon-gradient {
  100% {
    background-position: left;
  }
}

#projects .project-img {
  flex-basis: 50%;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  padding: 1em;
}

#projects .project-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px #000a,
              inset 5px 5px 5px #ddda,
              inset -5px 0px 5px #000a;

  background-image: linear-gradient(60deg, #29323c, 0%, #585563 100%);
  opacity: 0.5;
}
#projects .project-img img {

  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(.97);
  

  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.tech-list {
  display: inline-flex;

}

#projects .tech-list p {
  color: yellowgreen;
  margin: 5px;
  padding: 5px;
  font-size: 1.4em;
}

/*image transition on hover*/
#projects .project-img img {
  transition: 0.5s ease;
}

#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}

/*End of Projects Section*/

/*About Section*/

#about .about {
  flex-direction: column-reverse;
  text-align: center;
  margin: 0 auto;
  padding: 50px 10px 100px 10px;

  background-image: url('../img/pexels-magda-ehlers-2660262.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

#about .about::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
  overflow: hidden;
}
#about .col-right {
  width: 90%;
  margin-right: 30px;
  height: auto;
  z-index: 20;
  background: #fff;
  border-radius: 5px;
  position: relative;
  /* border: 1px solid #dc143c; */
  
}
#about .col-right::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: -10;
  box-shadow: inset 5px 5px 5px rgba(199, 199, 199, 0.667),
  inset -5px -5px 5px #000a;
}

#about .col-right .section-title:after {
  width: 80%;
  margin: 0 auto;
}
#about .col-right .about-title {
  display: flex;
  flex-direction: column;
  padding: 0 2em 3em 2em;
  
} 

#about .col-right .about-title:hover {
  cursor: pointer;
}

#cv-download {
  /* width: 40%; */
  text-align: center;
  margin: 1em 2em;
  padding: 1em 1.5em;
  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase;
  color: #dc143c;
  border-radius: 10px;
  box-shadow:  4px 4px 5px #000a,
              inset -3px -3px 5px #000,
              inset 3px 3px 5px #ddd;
  transition: .5s ease;
  position: absolute;
  opacity: 0;
  z-index: 20;
  
}
#about .col-right:hover.col-right #cv-download {
  transition: 1s ease;
  transform: translateY(4em);
  opacity: 1;
}
#about .col-right .about-title:hover a{
  letter-spacing: .1em;
  box-shadow: inset -3px -3px 5px #ddda,
              inset 3px 3px 5px #000a;
}
@media screen and (max-width: 320px){
  #about .col-right:hover.col-right #cv-download {
    transform: translateY(6.5em);
  }
}
@media screen and (min-width: 400px){
  #about .col-right:hover.col-right #cv-download {
    transform: translateY(4em);
  }
}
#about .col-right h2 {
  display: inline-block;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
  padding: .5em;
  
  transition: .5s ease;
  position: relative;
}
#about .col-right:hover.col-right h2 {
  /* letter-spacing: 0.1rem; */
  transition: .3s linear;
  box-shadow: inset 3px 3px 5px #ddd,
              inset -3px -3px 5px #000a;
} 
#about .col-right h2::before,
#about .col-right h2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  border-radius: 10px;
}
#about .col-right h2::before {
  box-shadow: inset 3px 3px 5px #000a,
              inset -3px -3px 5px #ddda;
}
#about .col-right:hover.col-right h2::before {
  opacity: 0;
}
#about .col-right h2::after {
  box-shadow: inset 3px 3px 5px #ddda,
              inset -3px -3px 5px #000a;
  opacity: 0;
}
#about .col-right h2:hover.col-right h2::after {
  opacity: 1;
}

#about .col-right p {
  margin-bottom: 20px;
  text-overflow: ellipsis;
  text-align: left;
  padding-left: 4px;
  z-index: 13;
}

.custom-scrollbar-js {
  height: 200px;
  margin-bottom: 1em;
  cursor: pointer;
  padding: 1em;
}

#about .col-left {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  z-index: 20;
  transform-style: preserve-3d;
}
/* about image  */
#about .col-left .about-img {
  height: 100%;
  width: 90%;
  position: relative;
  /* filter: grayscale(0.3); */
  border-radius: 10px;
  margin-top: 20px;
  transition: .5s ease;
  transform: preserve-3d;

}
#about .col-left .about-img::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 1s ease;
  box-shadow: inset 5px 5px 5px #000a,
              inset -5px -5px 5px #a7a6a6aa;
}

#about .col-left .about-img:hover.about-img::before {
  opacity: 0;
}
#about .col-left .about-img::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 10px;
  transition: 1s ease;
  box-shadow: inset 5px 5px 10px #fffa,
              inset -5px -5px 5px #000a;
  
}

#about .col-left .about-img:hover.about-img::after {
  opacity: 1;
  transform-style: preserve-3d;
}

#me {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin: 0px auto;
  transform: scale(.8) rotateY(40deg) skewX(20deg);
  transform: preserve-3d;
  /* transform: scale(.9); */
  transition: 1s ease;
}
#about .col-left .about-img:hover #me {
  transform-style: preserve-3d;
  transform: scale(1);
}
/* end of about image  */

.fcc-link {
  color: #dc143c;
}

.fcc-link:hover {
  color: violet;
}

#cv {
  display: flex;
  justify-content: space-between;
  font-size: 1.6em;
  background-image: linear-gradient(0deg, #dc143c, #000);
  color: #fff;
  margin: 0 auto;
  padding: 1em;
  box-shadow: 
              inset 5px 0px 5px #c7c7c7aa,
              inset -5px -5px 5px #000a;
  text-transform: uppercase;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#cv a{
  transition: .3s ease;
  color: #fff;
  text-shadow: var(--text-shadow-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#cv i {
  background-image: linear-gradient(60deg, #fff 30%,rgba(209, 207, 207, 0.829) 60%, #fff 60%);
  background-size: 300%;
  background-position: right;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  padding-right: .1em;
  text-shadow: none;
  animation: icon-shine 3s linear infinite ;
}
@keyframes icon-shine {
  
  100% {
    background-position: left;
  }
}
#cv a:hover {
  transition: .3s ease;
  transform: scale(1.1);
  opacity: .8;
}

@keyframes cv-button {
  50% {
    outline-offset: -6px;
    box-shadow: 15px 15px 10px #26262671;
  }
}


/*end of About Section*/

/*Contact Section*/
#contact .contact {
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  background-image: url('../img/pexels-magda-ehlers-2660262.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  transform-style: preserve-3d;
}

#contact .contact::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.4;
  overflow: hidden;

}

.contact-header {
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255);
  margin-bottom: 50px;
  z-index: 10;
}

#contact .contact-items {
  width: 100%;
}

#contact .contact-item {
  width: 75%;
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 1.5em ;
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  cursor: pointer;
  position: relative;
  transform: preserve-3d;
  border: 1px solid rgba(221, 221, 221, 0.233);
}
#contact .contact-item::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: .5s ease;
  transform: preserve-3d;
  box-shadow: var(--contact-shadow-hover);
} 
#contact .contact-item:hover.contact-item::before {
  opacity: 0;
  
}
#contact .contact-item::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: var(--contact-shadow);
  backdrop-filter: blur(.15em);
  -webkit-backdrop-filter: blur(.15em);
  border-radius: 10px;
  z-index: -2;
  opacity: 0;
  transition: .5s ease;
} 
#contact .contact-item:hover.contact-item::after {
  opacity: 1;
}

#contact .contact-item:hover{
  transform: scale(.96);
  transition: 1s ease;
  transform: preserve-3d;
}

#contact .icon {
  margin: 5px auto 10px auto;
  padding: .5em 1em;
  border-radius: 10px;
  position: relative;
  display: grid;
  place-items: center;
  transition: .5s ease;
}
#contact .icon::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: var(--contact-shadow-hover);
  transition: 1s ease;
  transform: preserve-3d;

}
#contact .contact-item:hover.contact-item .icon::before {
  opacity: 0;
}
#contact .icon::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: var(--contact-shadow);
  transition: 1s ease;
  transform: preserve-3d;

}
#contact .contact-item:hover.contact-item .icon::after {
  opacity: 1;
}

#contact .icon img {
  transition: 1s ease;
  transform: scale(.85) rotateY(40deg) skewX(20deg);
  transform: preserve-3d;
}


#contact .contact-item:hover .icon img {
  transform: scale(1.1);
  transform: preserve-3d;

}

#contact .contact-info h1 {
  background-image: linear-gradient(10deg, purple, #dc1489, skyblue, purple, #dc1489, skyblue );
  background-size: 250%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: .05em;
  margin-bottom: 5px;
  border-radius: 10px;
  transition: .5s ease;
  position: relative;
  padding: .2em 1em;
  /* z-index: 10; */
}
#contact .contact-item h1::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: var(--contact-shadow-hover);
  border-radius: 10px;
  opacity: 1;
  transition: .5s ease;
}
#contact .contact-item:hover h1::before {
  opacity: 0;
}
#contact .contact-item h1::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  z-index: -1;
  box-shadow: var(--contact-shadow);
  border-radius: 10px;
  opacity: 0; 
  transition: .5s ease;
}
#contact .contact-item:hover h1::after {
  opacity: 1;
}
#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: .1em;
  padding: .5em 1.3em;
  border-radius: 10px;
  margin: .5em auto;
  color: #000a;
  transition: .5s ease;
  position: relative;
}
#contact .contact-item:hover h2 {
  transform: scaleX(1.12)
}
#contact .contact-info h2::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: .5s ease;
  box-shadow: var(--contact-shadow-hover);
}

#contact .contact-item:hover.contact-item h2::before {
  opacity: 0;
}
#contact .contact-info h2::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #f4f4f4;
  z-index: -1;
  border-radius: 10px;
  transition: .5s ease;
  box-shadow: var(--contact-shadow);
}

#contact .contact-item:hover.contact-item h2::after {
  opacity: 1;
}

/*End of Contact Section*/

/*Footer*/
#footer {
  background-image: var(--overlay);
  background-color: #333;
  height: 100vh;
}
#footer .footer-container {
  display: flex;
}
#footer .brand {
  padding: 1em;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  
  position: relative;
}
#footer .brand::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 3px 3px 5px #ddda,
              inset -3px 0px 5px #000a;
  transition: 1s ease;            
}
#footer .brand:hover.brand::before {
  opacity: 0;
}
#footer .brand::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 3px 3px 5px #000a,
              inset -3px 0px 5px #ddda;
  transition: 1s ease;           
  opacity: 0;

}
#footer .brand:hover.brand::after {
  opacity: 1;
}
#footer .brand h1 {
  font-family: 'Gruppo', cursive;
  text-shadow: none;
  letter-spacing: .3em;
  position: relative;
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  width: max-content;
} 
#footer .brand h1::before,
#footer .brand h1::after{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Font Awesome 5 Free';
  transition: 3s ease;
  border-radius: 5px;
}
#footer .brand h1::before {
  content: '\f337';
  text-align: center;
  color: #ddd;
  background: var(--overlay);
  box-shadow: inset 3px 3px 5px rgba(221, 221, 221, 0.156),
              inset -3px -3px 5px rgba(0, 0, 0, 0.156);
  /* animation: typewriter 5s ease-in infinite; */
}
#footer .brand h1 span {
  font-size: 1.1em;
}
#footer .brand:hover.brand h1::before {
  left: 100%;
  color: #dc143c;
}
#footer .brand h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #ddd;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(4em);
  opacity: 0;
  transition: 3s;
}
#footer .brand:hover.brand h2 {
  transform: translateY(.5em);
  opacity: 1;
}
/* footer keyframes */
@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent; 
  }
}
/* end of footer keyframes */

#footer .scene {
    position: relative;
    transform-style: preserve-3d;
    animation: sceneRotate 10s infinite linear;
}

        @keyframes sceneRotate {
            to {
                transform: rotateY(360deg);
            }
        }

#footer .cube-container {
  height: 20vh;
  display: grid;
  place-items: center;
  position: relative;
  font-size: 70px;
    perspective: 20em;
    perspective-origin: 50% calc(50% - 6em);
}
#footer .cube {
    width: 1em;
    height: 1em;
    transform: preserve-3d;
    position: absolute;
    bottom: -.5em;
    left: -.5em;

}

#footer .front,
        .back,
        .left,
        .right {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #c7062056;
            box-shadow: 0 0 0.5em #000a inset;
            pointer-events: none;
        }

        #footer .cube .front {
          transform: translateZ(.5em);
      }

      #footer .cube .right {
          transform: rotateY(90deg) translateZ(.5em);
      }

      #footer .cube  .back {
          transform: rotateY(180deg) translateZ(.5em);
      }

      #footer .cube  .left {
          transform: rotateY(270deg) translateZ(.5em);
      }

#footer .cube .top {
  position: absolute;
  width: 1em;
  height: 1em;
  background: #c7062056;

  transform: translateY(-50%) rotateX(90deg);
  box-shadow: 0 0 0.5em #000a inset;
}

#footer .cube .bottom {
  position: absolute;
  width: 1em;
  height: 1em;
  bottom: 0;
  background: #000a;

  transform: translateY(50%) rotateX(90deg);
  box-shadow: 0 0 0.5em #000;
}

#bs21 ul {
  display: flex;
  gap: 3em;
  font-size: 1.3rem;
  color: #fff;
}

#bs21 li {
  list-style: none;
}

#footer .footer {
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 10px;
}



#footer .social-icon {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 5px auto;
  padding:  2em;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
}
#footer .social-icon::before {
  content: "\f0c0";
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  font-size: 2em;
  text-align: center;
  color: #ddd;
  font-weight: 600;
  padding: .3em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* background-image: var(--overlay); */
  opacity: 1;
  background-image: linear-gradient(0deg ,#252e36c4, #6e051a9c);
  box-shadow: inset 3px 3px 5px #ddda,
              inset -3px 0px 5px #000;
  pointer-events: none;
  transition: .5s ease;
  z-index: 1;
}
#footer .social-icon:hover.social-icon::before{
  opacity: 0;
}
#footer .social-icon::after {
  content: "\f007";
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  font-size: 2em;
  font-weight: 600;
  padding: .3em;
  text-align: center;
  color: rgba(221, 221, 221, 0.307);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
  background-image: linear-gradient(0deg, transparent, #29323cc2);
  box-shadow: inset 3px 3px 5px #000a,
              inset -3px 0px 5px #ddda;
  transition: 1s ease;
}
#footer .social-icon:hover.social-icon::after{
  opacity: 1;
  z-index: -1;
}


#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
  transition: 1s ease;
}
#footer .social-item img {
  filter: grayscale(0);
  transition: 0.3s ease;

}
#footer .social-item i {
  position: relative;
  font-size: 3em;
  margin: 0 10px;
  box-shadow: 2px 2px 1px rgba(221, 221, 221, 0.295);
  border-radius: 100%;
  padding: 10px;
  background: linear-gradient(0deg, rgb(119, 118, 119), rgb(239, 239, 245));
  /* background: linear-gradient(0deg, rgb(100, 97, 100), rgb(231, 231, 243)); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease;
}
#footer .social-item i:hover {
  filter: grayscale(0.6);
  transform: scale(1.2);
}

#footer p, #date {
  color: #f4f4f4;
  font-size: 1.3rem;
  text-transform: capitalize;

}

/*bs12*/
#bs21 {
  width: 100%;
  text-align: center;
}
#bs21 p, #bs21 span {
  font-size: 1.5rem;
}

/*end of bs12*/

/*End of Footer*/

/*back to top button*/
.top-link {
  font-size: 2.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  /* border: 1px solid rgb(167, 166, 166); */
  background-image: linear-gradient(0deg, rgb(0, 0, 0), #dc143c);
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border-radius: 5px;
  color: #ddd;
  animation: bounce 2s ease-in-out infinite;
  transition: .5s ease-in;
  opacity: 0;
  visibility: hidden;
  z-index: -100;
  box-shadow: inset 2px 2px 3px #ddda,
              inset -2px -2px 3px #000a;
}


.show-link {
  transition: opacity .5s ease-in-out;
  visibility: visible;
  z-index: 100;
  opacity: 1;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/*end of back to top button*/

/*Keyframes*/
/*End of Keyframes*/



/*Media Query for tablet*/
@media only screen and (min-width: 768px) {
  h1.section-title {
    font-size: 6rem
  }

  /*Hero*/
  #welcome-section {
    background-size: 190%;
  }

  #welcome-section h1 {
    font-size: 8rem;
  }

  #welcome-section .cta {
    font-size: 4rem;
  }

  #hero-h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #hero-h1 h1 {
    padding-top: 20px;
  }

  #cta-header span {
    font-size: 6.4rem;
  }

  #cta-header {
    width: auto;
  }

  #aka span {
    font-size: 4rem;
  }

  /*End of Hero*/

  /*Skills Section*/

  #skills .skills-bottom .skills-item {
    flex-basis: 45%;
    margin: 2.5%;
    height: 240px;
  }
  #skills .skills-top p{
    line-height: 2;
  }
  #skills .skills-item:hover {
    transform: scale(1.05);
    border: 3px solid #fff;
  }

  #skills .skills-item h2 {
    font-size: 2.5rem;
  }
  .dropbtn {
    animation: shadow 2s ease-in-out infinite;
  
  }
  /*End of skills Section*/

  /*Project*/
  #projects .project-item {
    flex-direction: row;
    /* border: 1px solid #ddd; */
  }
 #projects .project-tile{
  flex-basis: 50%;
  box-shadow: inset 5px 0px  5px rgba(150, 149, 149, 0.667),
              inset 0px -5px 5px #000;

 }
  #projects .project-tile a {
    color: #eee;
    border-radius: 0px;
  }

  #projects .project-tile a:hover {
    border-radius: 10px;
  }

  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  #projects .project-tile h1 {
    font-size: 4rem;
    font-weight: 600;
  }

  #projects .project-tile h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5em;
  }

  #projects .project-tile p {
    font-size: 1.4rem;
  }

  /* #projects .project-tile a:hover i {
    transform: none;
    letter-spacing: .2em;
  } */
  #projects .project-item {
    height: 400px;
    margin: .5em;
    width: 90%;
    border-radius: 5px;
  }

  #projects .all-projects .project-info {
    height: 100%;
  }

  #projects .all-projects .project-img {
    height: 100%;
    box-shadow: inset 0px 5px  5px #969595aa,
              inset -3px -5px 5px #000;
    border-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  #projects .project-img::after {
    
    box-shadow: 0 0 5px #000a,
                inset -1px 5px 5px #969595aa,
                inset -5px -5px 5px #000;
  }

  #profile-link {
    animation: shadow 2s ease-in-out infinite;
    color: #ddd;
  }

  /*End of Project*/

  /*About*/
  #about .about {
    flex-direction: row;
  }

  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }

  #about .col-right {
    text-align: left;
    padding: 10px;
  }

  #about .col-right h1 {
    text-align: left;
    font-size: 5rem;
    padding-bottom: 10px;
  }

  .camp_hub {
    flex-direction: row;
  }

  .profile-link {
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    text-align: center;
    width: 30%;
  }

  /*End of About*/

  /*Contact*/
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-items: center;
    min-width: 20vh;
  }

  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }

  #contact .contact-item {
    width: 30%;
    margin: 0px;
    flex-direction: row;
  }

  #contact .contact-item .icon {
    height: 100px;
    width: 100px;
  }

  #contact .contact-item .icon img {
    object-fit: contain;
  }

  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding: 20px;
  }

  /*End of Contact*/
}

/*End of Media Query for tablet*/

/*Media Query for Desktop*/
@media only screen and (min-width: 1024px) {

  .hero {
    text-align: center;
  }

  #welcome-section {
    background-size: cover;
    background-position: top right;
    animation: unit3 56s ease-in-out infinite alternate;
  }

  @keyframes unit3 {
    100% {
      background-position: bottom left;
    }
  }

  .brand h1 {
    font-size: 4rem;
  }

  #header .nav-list ul li a{
    text-shadow: none;
  }

  #hero-h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 6rem;

  }

  #hero-h1 h1 {
    padding-top: 0px;
  }

  h1.section-title {
    font-size: 6rem;
  }

  #cta-header {
    width: 75%;
    padding: .5em 1em;
  }

  #cta-header span {
    font-size: 5.5rem;
  }

  #aka span {
    font-size: 4rem;
  }

  /*Hero*/


  /*header*/
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
    /* padding:2em 0; */
  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list ul.active {
    background: none;
    box-shadow: none;
  }
  #header .nav-list ul li a i {
    margin: 0 auto;
    margin-right: .2em;
    padding: .4em;
    font-size: 1.5rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }

  /*End of header*/
  #skills .skills-top {
    width: 60%;
  }
  #skills .skills-top p {
    font-size: 1.9em;
  }
  #skills .skills-bottom .skills-item {
    flex-basis: 33%;
    width: 100%;
    margin: 1.5%;
    height: 300px;
  }

  

  #skills .skills-item {
    filter: grayscale(0.6);
  }

  #skills .skills-item:hover {
    filter: grayscale(0);
    transform: scale(1.05);
    border: none;

  }

  #skills .skills-item h2 {
    font-size: 3rem;
  }

  #skills .skills-item ul li {
    font-size: 1.7rem;
  }

  .container p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
  }

  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 20px auto;
  }

  #contact .contact-info h1 {
    font-size: 3.2em;
    margin-bottom: 10px;
  }
  #contact .contact-info h2 {
    font-size: 1.5em;
  }

  /*about*/

  #about .col-right .section-title:after {
    width: 100%;
  }
  .profile-link {
    font-size: 2.2rem;
  }
  #cv {
  justify-content: space-evenly;

  }
  #cv:hover {
    color: #333;
  }
  #footer .social-icon {
    display: flex;
    margin: 30px auto;
    padding: .5em 1em;
    width: 50%;
    justify-content: space-evenly;
    font-size: 4em;
}

#footer .social-icon::before{
  font-size: 1em;
}
#footer .social-icon::after{
  font-size: 1em;
}

#footer .social-icon i {
  margin-bottom: 50px;
  padding: 10px;
  font-size: 1.1em;
  box-shadow: 1px 1px 5px rgba(221, 221, 221, 0.527);
}
#footer .social-icon i:hover {
  transition: all .3s ease-in-out;
  box-shadow: 1px 1px 1px rgba(221, 221, 221, 0.827);
}


#footer .social-item {
  margin: 0 10px;
}
}
/*End of Media Query for Desktop*/

/*Media Query for small devices*/

/*End of Media Query for small devices*/