// footer
#footer {
    background-image: $overlay;
    background-color: $background-dark;
    .footer {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5vh 5vw;
        // section title
        .footer-section-title {
                color: #eee;
                text-align: center;
                margin-bottom: 1.5em;
                font-size: 2em;
        }
        // section title
        // form
        form {
            @media (min-width: 1024px) {
                width: 50%;
            }
            background-color: $overlay-blue-dark;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin: 5vh auto;
            padding: 5vh 1em;
            border-radius: 5px;
            border: 1px solid #fffa;
            font-family: $font-ubuntu;

            
            .input-div {
                position: relative;
                // border: 1px solid yellow;
                padding: 1em 0 .5em;
                margin-bottom: 5vh;

                
                label {
                    position: absolute;
                    top: 0%;
                    transform: translateY(-.5em);
                    color: #fff;
                    text-transform: uppercase;
                    transition: .3s;
                }

                input {
                    padding: .7em;
                    width: 100%;
                    margin: .5em 0;
                    border-radius: 5px;
                    transition: .5s;
                    border: none;
                    outline: none;
                    font-weight: 600;
                    letter-spacing: .15em;

                    &:invalid {
                        background-color: $background-invalid;
                        color: $text-invalid;
                    }
                    &:valid {
                        background-color: $background-valid;
                        color: $text-valid;
                    }
                    &:focus {
                        outline: 2px dashed #fffa;
                    }

                }

                textarea {
                    padding: .5em;
                    margin: .5em 0;
                    width: 100%;
                    border-radius: 5px;
                    border: none;
                    outline: none;

                    &:focus {
                        outline: 3px dashed #fffa;
                    }
                }
                // input hover state
                &:hover {
                    label {
                        transform: translateX(1em) translateY(-.2em);
                        color: #ddd;
                    }
                }
                // end of input hover state
                ::placeholder {
                    font-family: $font-gruppo;
                    font-weight: 700;
                    color: #333;
                    text-transform: capitalize;
                }
            }

            button {
                position: relative;
                background: linear-gradient(0deg, #581212, #dc134c);
                padding: 1em ;
                color: #eee;
                font-family: $font-gruppo;
                font-weight: 600;
                letter-spacing: .2em;
                text-transform: uppercase;
                border: none;
                outline: none;
                border-radius: 10px;
                opacity: .9;
                transition: .2s ease;
                cursor: pointer;
                isolation: isolate;
                
                &:hover {
                    transform: scale(.98);
                    letter-spacing: 0;
                }
                // form button box shadow
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;

                    box-shadow: $box-light-top-sm;
                }
                // end of form button box shadow
            }
        }
        // end of form
        // social media links
        .socialMedia-links {
            @media (min-width: 1024px) {
                width: 50%;
            }
            grid-template-columns: 1fr;
            background-color: $overlay-blue-dark;
            border: 1px solid #fffa;
            border-radius: 5px;
            width: 100%;
            margin: 2em 5vw;
            padding: .5em;
            .links-grid{
                // display: none;
                // border: 1px solid yellow;
                @media (min-width: 1024px) {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
            .socialMedia-item {
                border: 2px solid hsla(0, 0%, 0%, 0.5);
                padding: .5em 0;
                border-radius: 5px;
                overflow: hidden;
                margin: .5em .1em;
                position: relative;
                transition: .3s;

                .link-icon {
                    font-size: 1.4em;
                    text-transform: capitalize;
                    font-family: $font-gruppo;
                    color: #fff;
                    position:absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: 1s ease;
                }

                a {
                    background: $overlay-blue-dark;
                    display: block;
                    text-align: center;
                    padding: .3em .5em .3em;
                    width: 75%;
                    margin: 0 auto;
                    color: #fff;
                    text-transform: capitalize;
                    opacity: 1;
                    border-radius: 5px;
                    position: relative;
                    transition: .2s ease;
                    // translate out of view leaving only icon
                    transform: translateX(150%);
                    transition: 1s ease;
                    // tablet links
                    @media (min-width: 768px) {
                        width: 85%;
                    }
                    // end of tablet links
                    // desktop links
                    @media (min-width: 1024px) {
                        width: 85%;
                    }
                    // end of desktop links
                    // link box shadow
                    &::after {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        box-shadow: inset 2px 2px 4px #fffa,
                                    inset -2px -2px 4px #000a;
                    }
                    // end of link box shadow
                    
                    i {
                        color: #fffa;
                        // margin-right: 1.5em;
                        padding: .5em;
                        transition: .5s;
                    }

                    // active state
                    &:active {
                        transform: scale(.97);
                    }
                    // end of active state
                }

                // link item hover state
                &:hover {
                    background-color: $overlay-blue-darker;
                    // border-color: hsla(100%, 100%, 100%, 0.250);

                    a {
                        background: $overlay-blue-light;
                        transform: translateX(0);
                        opacity: 1;

                        i {
                            color: #fff;
                        }
                    }

                    .link-icon {
                        opacity: 0;
                    }
                }
                // end of link item hover state
                // link colors
                &.linkedin {
                    a {
                        background: #0077b5;
                    }
                    p {
                        color: #fff;
                    }
                }
                &.twitter {
                    a {
                        background: hsl(203, 89%, 53%);
                    }
                    p {
                        color: #fff;
                    }
                }
                &.github {
                    a {
                        background-color: #333;
                        color: #f4f4f4;
                    }
                }
                &.fcc {
                    a {
                        background: #0a0a23;
                    }
                    p {
                        color: #fff;
                    }
                }
                // end of link colors
            }
        }
        // end of social media links

        // footer thank you message
        .brand {
            width: 80%;
            @media (min-width: 768px){
                width: 30%;
            }
            padding: .3em .5em;
            margin: .5em;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            // brand box shadow
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: inset 3px 3px 5px #ddda,
                inset -3px 0px 5px #000a;
                transition: 1s ease;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: inset 3px 3px 5px #000a,
                inset -3px 0px 5px #ddda;
                transition: 1s ease;
                opacity: 0;
            }
            // end of brand box shadow
            // brand hover state
            &:hover {
                &::before {opacity: 0;}
                &::after {opacity: 1;}
            }
            // end of brand hover state
            // title (h3)
            h3 {
                font-family: $font-gruppo;
                text-shadow: none;
                letter-spacing: .1em;
                position: relative;
                padding: .1em;
                color:$text-white;
                text-align: center;
                /* font-size: clamp(1rem, 3vw + 1rem, 4rem); */
                font-size: 1.5em;
                /* width: max-content; */
                
                span {
                    font-size: 1em;
                }
                // h3 box shadows
                &::before,
                &::after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding: .1em;
                    font-family: 'Font Awesome 5 Free';
                    transition: 2.5s ease;
                    border-radius: 5px;
                }
                &::before {
                    content: '\f337';
                    text-align: center;
                    color: $text-white-e;
                    background: $overlay;
                    box-shadow: inset 3px 3px 5px rgba(221, 221, 221, 0.156),
                    inset -3px -3px 5px rgba(0, 0, 0, 0.156);
                }
                // end of h3 box shadows 
            }
            // end of title (h3)
            // h3 message slide on hover
            &:hover {
                h3 {
                    &::before {
                        left: 100%;
                        color: $span-crimson;
                    }
                }
            }
            // end of h3 message slide in on hover
            // h2 pop up messsage
            h2 {
                font-family: $font-ubuntu;
                color: $text-white-d;
                font-weight: 500;
                font-size: 1.2em;
                letter-spacing: .1em;
                margin: .5em auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transform: translateY(4em);
                opacity: 0;
                transition: 2.5s;
            }
            // h2 pop up messsage
            &:hover {
                h2 {
                    transform: translateY(.2em);
                    opacity: 1;
                }
            }
        }
        // end of footer thank you message
        

        // social icons
        .social-icon {
            @media (min-width: 1000px){
                display: flex;
                margin: 30px auto;
                padding: 1em 1em;
                width: 50%;
                font-size: 1.5em;
            }
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 5px auto;
            padding: .5em .5em 1em;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            transform-style: preserve-3d;
            // icons container and shadows
            &:before,
            &::after {
                position: absolute;
                padding: .3em;
                font-family: 'Font Awesome 5 Free';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-weight: 600;
                border-radius: 10px;
                transition: .5s;
            }
            &::before {
                content: "\f0c0";
                font-size: 1.5em;
                text-align: center;
                color: $text-white-d;
                opacity: 1;
                background-image: linear-gradient(0deg, #252e36c4, #6e051a9c);
                box-shadow: inset 3px 3px 5px #ddda,
                inset -3px 0px 5px #000;
                pointer-events: none;
                z-index: 1;
            }
            &:after {
                content: "\f007";
                font-size: 1.5em;
                text-align: center;
                color: rgba(221, 221, 221, 0.307);
                opacity: 0;
                z-index: -3;
                background-image: linear-gradient(0deg, transparent, #29323cc2);
                box-shadow: inset 3px 3px 5px #000a,
                            inset -3px 0px 5px #ddda;
                transition: .5s ease;
            }
            // social item container hover state
            &:hover {
                &::before {opacity: 0};
                &::after {opacity: 1};
            }
            // end of social item container hover state
            // end of icons container and shadows
            .social-item {
                height: 50px;
                width: 50px;
                margin: 1em .5em 0;
                transition: 1s ease;
                // links and links label
                a {
                    position: relative;
                    z-index: 1;
                    // link label
                    &::before {
                        content: attr(data-icon);
                        position: absolute;
                        bottom: -140%;
                        left: -.5em;
                        font-size: .5em;
                        color: $text-white-d;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        transition: 1s;
                        z-index: -1;
                        transform: translateY(100%);
                        @media (min-width: 768px){
                            font-size: .6em;
                            bottom: -100%;
                            left: -30%;
                        }
                    }
                    // end of link label
                }
                // end of links and links label
                // icon 
                i {
                    font-size: 1.6em;
                    margin: 0 10px;
                    font-weight: 800;
                    padding: 10px;
                    border-radius: 50%;
                    background: linear-gradient(0deg, rgb(119, 118, 119), rgb(239, 239, 245));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: 0.3s ease;
                    position: relative;
                    transform: scale(.9);
                    opacity: .3;
                    transition: .3git s;
                    @media (min-width: 768px){
                        transform: scale(.7);
                        margin-bottom: 50px;
                        padding: 10px;
                        box-shadow: 1px 1px 5px rgba(221, 221, 221, 0.527);
                        
                        &:hover {
                            transition: all .3s ease-in-out;
                            box-shadow: 1px 1px 1px rgba(221, 221, 221, 0.827);
                        }
                    }
                    // icon shadow
                    &::after {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: .3s;
                        border-radius: 100%;
                        box-shadow: 2px 2px 1px rgba(221, 221, 221, 0.595);
                        opacity: .4;
                    }
                    // end of icon shadow
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                // end of icon 
                // icon shadow on hover
                &:hover {
                    i {
                        &::after {opacity: 1;}
                    }
                } 
                // end of icon shadow on hover 
                // freecodecamp camp label
                
                // end of freecodecamp camp label
            }
            // icon label pop up
            &:hover {
                i {opacity: 1;}
                a {
                    &::before {
                        opacity: 1;
                        transform: translateY(0%);
                    }
                }
            }
            // end of icon label pop up
        } 
        // end of social icons 
        // bs21
        #bs21 {
            width: 100%;
            text-align: center;
            p,
            span {
                font-family: $font-gruppo;
                color: #f4f4f4;
                font-size: 1em;
                text-transform: capitalize;
                font-size: .8em;

                @media (min-width:768px) {
                    font-size: 1em;
                }
            }
        }
        // end of bs21
    }
}
// end of footer

/* cube */
#footer .scene {
    position: relative;
    transform-style: preserve-3d;
    animation: sceneRotate 10s infinite linear;
}

@keyframes sceneRotate {
    to {
        transform: rotateY(360deg);
    }
}

#footer .cube-container {
    height: 20vh;
    display: grid;
    place-items: center;
    position: relative;
    font-size: 70px;
    perspective: 15em;
    perspective-origin: 50% calc(50% - 6em);
}

#footer .cube {
    width: 1em;
    height: 1em;
    transform-style: preserve-3d;
    position: absolute;
    bottom: -.5em;
    left: -.5em;

}

#footer .front,
.back,
.left,
.right {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #c7062056;
    box-shadow: 0 0 0.5em #000a inset;
    pointer-events: none;
}

#footer .cube .front {
    transform: translateZ(.5em);
}

#footer .cube .right {
    transform: rotateY(90deg) translateZ(.5em);
}

#footer .cube .back {
    transform: rotateY(180deg) translateZ(.5em);
}

#footer .cube .left {
    transform: rotateY(270deg) translateZ(.5em);
}

#footer .cube .top {
    position: absolute;
    width: 1em;
    height: 1em;
    background: #c7062056;

    transform: translateY(-50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000a inset;
}

#footer .cube .bottom {
    position: absolute;
    width: 1em;
    height: 1em;
    bottom: 0;
    background: #000a;

    transform: translateY(50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000;
}

/* end of cube */