
// skills
#skills {
    // skills container
    .skills {
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        width: 100vw;
        padding-bottom: 15vh;
        margin: 0 auto;
        background: $overlay;
        background: $background-light;
        
        // skills section-title
        &-header {
            width: 100%;
            height: auto;
            background: #fff;
            z-index: 30;
        }

        // end of skills section-title
        @media (max-width: 768px) {
            // background: $overlay;
            background-size: 200%;
            &::after {
                display: none;
            }
        }
    }
    // end of skills container

    // skills top section
    .skills-top {
        width: 90%;
        @media (min-width: 1024px){
            width: 60%;
            margin: 5vh 0 2em;
        }
        padding: .5em 1em 2em;
        text-align: center;
        margin: 2em auto;
        // background-image: var(--overlay);
        // background: #48556388;
        background: $overlay-blue-dark;
        backdrop-filter: blur(5px);
        border-radius: 10px;
        border: none;
        position: relative;
        z-index: 30;
        // skills top box shadow
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: $box-light-top-md;
            border-radius: 10px;
            border: none;
            outline: none;
        }

        p {
            color: $text-light;
            font-size: .8em;
            font-weight: 500;
            @media (min-width: 768px){
                font-size: 1em;
            }
            background: transparent;
            overflow: hidden;
            line-height: 2em;

            span {
                font-size: 1em;
                color: $span-gold;
            }
        }
        // skills top 'down arrow'
        &::after {
            content: '';
            position: absolute;
            width: 45px;
            height: 45px;
            border: none;
            top: 100%;
            left: 50%;
            margin-left: -24px;
            margin-top: -24px;
            transform: rotate(45deg);
            background-image: linear-gradient(135deg, transparent 48%, #3d4955 0%);
            transition: .2s;
            box-shadow: inset -5px -5px 5px #000a,
                        inset 5px 5px 5px #3d495500;
        }
        // end of skills top 'down arrow'

    }
    // end of skills top section
    // dropdown section
    .dropdown {
        position: relative;
        margin: 0 auto;
        z-index: 4;

        // dropdown button
        .dropbtn {
            color: $text-light;
            padding: .3em 3em;
            font-size: 1.5em;
            font-weight: 600;
            cursor: pointer;
            border: none;
            outline: none;
            border-radius: 10px;
            background: $overlay-blue-light;
            text-align: center;
            transition: .3s;
            font-family: 'Gruppo', cursive;
            position: relative;
            overflow: hidden;
            isolation: isolate;

            // dropdown button shadows
            &::before,
            &::after {
                position: absolute;
                content: '';
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                border: none;
                outline: none;
                transition: .3s;
            }

            &::before {
                background: linear-gradient(0deg, #3f0d0d, #dc134c);
                box-shadow: $box-light-top-sm;
            }

            &::after {
                background: linear-gradient(0deg, $overlay-blue-darker, $overlay-blue-light);
            
                opacity: 0;
                box-shadow: $box-light-top-sm;
            }

            // button box shadow states
            &:hover {
                color: $span-gold;
                transform: scale(.97);
                &::before {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }
            &:active {
                transform: scale(.9);
                transition: .3s;

            }

            // button end of box shadow states
            // end of dropdown button shadows
        }

        // end of dropdown button
        // dropdown content ( ie. skills items)
        .dropdown-content {
            
            // show-contents
            &.show {
                display: block;

            }
            // end of show-contents
            display: none;
            width: 100vw;
            z-index: 1;
            justify-content: center;
            align-items: center;
            background: $overlay-blue-light;
            position: relative;
            padding-bottom: 10vh;
            // dropdown content overlay
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, 0.756);
            }
            // end of dropdown content overlay
            // skills items container
            .skills-bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                /*items wrapped onto multiple lines*/
                margin-top: 50px;
                padding-top: 50px;

                // skills-items
                .skills-item {
                    flex-basis: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: .5em;
                    background: transparent;
                    background-size: cover;
                    margin: .5em 5vw;
                    position: relative;
                    z-index: 1;
                    text-overflow: ellipsis;
                    transition: 0.2s;
                    overflow: hidden;
                    border-radius: 10px;
                    height: auto;
                    line-height: 1.3;
                    &[data-scroll="in"]{
                        transition: 1.5s;
                    }

                    ul {
                        margin: .2em;
                        padding: .5em;
                        

                        li {
                            color: #fff;
                            font-size: .9em;
                            text-align: left;
                            margin: .5em;
                            padding: .2em .4em;
                            text-transform: capitalize;
                            

                            &::marker {
                                color: $span-gold;
                            }
                        }

                    }
                    // skills item overlay
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        border-radius: 10px;
                        width: 100%;
                        background: $overlay;
                        opacity: 0.8;
                        z-index: -1;
                    }
                    // end of skills item overlay
                    // skills-item box shadow
                    &:before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        border-radius: 10px;
                        height: 100%;
                        box-shadow: inset 4px 4px 5px #ddda,
                            inset -4px -4px 5px #000;
                        z-index: 2;
                    }
                    // end of skills-item box shadow

                    // item icon
                    
                    .icon {
                        display: grid;
                        place-items: center;
                        // icon img
                        img {
                            width: 100%;
                        }
                        // end of icon img
                        i {
                            color:$span-gold;
                            font-size: 3em;
                        }
                        
                        height: 80px;
                        width: 80px;
                        border: none;
                        outline: none;
                        padding: 10px;
                        margin-top: 15px;
                        margin-bottom: 20px;
                        position: relative;
                        isolation: isolate;
                        // icon box shadow and background
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            z-index: -1;
                            box-shadow: 
                                        inset 2px 2px 3px #ddda,
                                        inset -2px -2px 5px #000a,
                                        3px 3px 4px #000;
                            animation: skill-icon 10s linear infinite;

                            @keyframes skill-icon {
                                25% {
                                    box-shadow: 
                                            inset -2px 3px 3px #ddda,
                                            inset 2px -2px 5px #000a,
                                            -3px 3px 4px #000;
                                }
                                50% {
                                    box-shadow: inset 0px -1px 3px #ddda,
                                                inset 0px 2px 5px #000a,
                                                0 2px 4px #000 ;
                                }
                                75% {
                                    box-shadow: inset 2px 0px 3px#ddda,
                                                inset -2px 0px 5px #000a,
                                                -2px 2px 4px #000;
                                }
                            }
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $overlay-blue-dark;
                            border-radius: 50%;
                            z-index: -2;
                            opacity: .4;
                        }
                        // end of icon box shadow
                        
                    }
                    // end of item icon
                    // skills item title (h2)
                    h2 {
                        font-size: 1.4em;
                        font-weight: 600;
                        color: $span-gold;
                        margin-bottom: 10px;
                        text-transform: capitalize;
                        font-family: $font-gruppo;
                        text-decoration: underline $span-gold;
                        text-underline-offset: .1em;
                    }
                    // end of skills item title (h2)
                    // skills items on tablets
                    @media (min-width:768px) {
                        flex-basis: 45%;
                        margin: 2.5%;
                        height: 300px;
                    }
                    // end of skills items on tablets
                    // skills items on desktop
                    @media (min-width: 1024px) {
                        flex-basis: 33%;
                        width: 100%;
                        margin: 1.5%;
                        height: 300px;
                        pointer-events: visible;
                        cursor: pointer;
                        transition: .2s;
                        &:hover {
                            transition: .5s;
                            transform: scale(1.05);
                        }

                        h2 {
                            font-size: 1.5em;
                        }
                        ul {
                            li {
                                font-size: 1em;
                                
                            }
                        }
                    }
                    // end of skills items on desktop
                }
                // end of skills-items
            }
            // end of skills items container

        }

        // end of dropdown content ( ie. skills items)
    }
    // end of dropdown section

    // git img 
    .git-img {
        &[data-scroll="in"] {
            transition: 2s ease;
            transform: translateY(0);
        }
        margin: 20vh auto 0;
        width: 90%;
        overflow: hidden;
        height: auto;
        transform: translateY(100%);
        
        img {
            width: 100%;
            border-radius: 5px;
            transition: .5s ease;
        }
        @media (min-width: 768px) {
            width: 60%;
            height: auto;
            // margin: 20vh auto 5vh;
        }

        // figure hover state
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
        // end of figure hover state
    }
}
// end of skills
