/*
section containers
progress bar
section title and section title reflect
hamburger 

*/ 

// section containers
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
// end of section containers 

/*progress bar*/
/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 3px;
    background: transparent;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 4px;
    background: var(--redGradient);
    width: 0%;
}
/* end of progress bar*/

/*bootstrap scrollbar*/
.custom-scrollbar-js {
    height: 200px;
}
/*end of bootstrap scrollbar*/

// section-title
.section-title {
    font-size: 2.3em;
    @media (min-width:768px){
        font-size: 3em;
    }
    font-weight: 500;
    max-width: 100vw;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    padding: .5em;
}
/* TEXT-REFLECT CSS */
.section-title,
.section-title:before,
.text-reflect.section-title span {
    display: block;
    margin: 0;
    padding: 0;
}

.section-title,
.section-title:before,
.section-title:after {
    position: relative;
}

.section-title {
    top: -6px;
}

.section-title:before {
    content: attr(data-text);
    top: 2.1em;
    transform: scale(1, -1);
    backface-visibility: visible;
    z-index: 1;
}

.section-title:after {
    content: '';
    display: block;
    top: -10px;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.589) 0%, rgb(255, 255, 255) 50%);
    z-index: 2;
}
/* END OF TEXT-REFLECT CSS */
// end of section-title
/* section title span animation */
.section-title span {
    position: relative;
    color: $overlay-blue-dark;
    animation: section-span 3s ease-in-out infinite;
    height: 5px;

    /* section title animations */
    @keyframes section-span {

        0%,
        100% {
            top: 0px;
            opacity: 1;
            color: #dc143c;
        }

        45% {
            top: -20px;
            opacity: 0;
            color: $overlay-blue-dark;
        }

        46% {
            top: 20px;
            opacity: 0;
            color: $overlay-blue-light;
        }
    }
    /* end of section title animations */
}
/* end of section title span animation */

// hamburger toggle
#header .hamburger {
    height: 50px;
    width: 50px;
    margin: 5px auto;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    background: #29323c;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
    transform: scale(0.8);
    transition: .3s ease;

    // hamburger pulse
    &.hamburger:after,
    &.hamburger:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: none;
        outline: none;
        transition: .5s ease;
    }
    // hamburger box shadow
    &.hamburger::after {
        opacity: 1;
        box-shadow: inset 2px 2px 3px #ddda,
                    inset -2px -2px 2px #000a;
    }
    // end of hamburger box shadow
    // pulse 
    &.hamburger:before {
        border: 2px solid #fff;
        opacity: 0;
        animation: ham-pulse 2s ease infinite;
        @keyframes ham-pulse {
            50% {
                opacity: .5;
                border-color: $span-gold;
            }

            100% {
                opacity: 0;
                transform: scale(1.18);
                border-color: #fff;
            }
        }
    }
    // end of pulse
    // end of hamburger pulse
    // hamburger states
    &:hover,
    &:focus {
    // no animation on hover
        &::before {
            animation: none;
        }
        // no animation on hover
        // box shadow dim on hover
        &::after {
            opacity: .6;
        }
        // box shadow dim on hover
    }
    &:active {
        transform: scale(.6);
        transition: .3s;

        
    }
    // end of hamburger states
    // hamburger bars
    .bar {
        height: 2px;
        width: 30px;
        position: relative;
        background-color: #f4f4f4;
        z-index: -1;
        // top and bottom bars
        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            background-color: $span-gold;
            transition: 0.3s ease;
            transition-property: top, bottom;
        }
        &::before {
            bottom: 8px;
        }
        &::after {
            top: 8px;
        }
        // end of top and bottom bars
    }
        // hamburger bars active state
        
        &.active {
            .bar {
                background-color: $span-gold;

                &::before {
                    background-color: $span-gold;
                    bottom: 0;
                }

                &::after {
                    background-color: $span-gold;
                    top: 0;
                }
            }
        }

        // end of hamburger bars active state
    // end of hamburger bars
}
// end of hamburger toggle 

// back to top button
.top-link {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-image: linear-gradient(0deg, rgb(0, 0, 0), #dc143c);
    
    display: grid;
    place-items: center;
    border-radius: 5px;
    animation: bounce 2s ease-in-out infinite;
    transition: .5s ease-in;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    box-shadow: inset 2px 2px 3px #ddda,
                inset -2px -2px 3px #000a;
    
    i {
        color: #ddd;
        padding: .3em;
        font-size: 1.5em;
    }
    &.show-link {
        transition: opacity .5s ease-in-out;
        visibility: visible;
        z-index: 100;
        opacity: 1;
    }
    @keyframes bounce {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    &:hover {
        animation: none;
        // transform: translateY(-100%);

        i {
            transform: scale(.97);
            transition: .2s;
        }
    }
    &:focus {
        animation: scrollUp 1s ease;
        animation-fill-mode: forwards;

        @keyframes scrollUp {
            100% {
                    transform: translateY(-100%);
                
            }

        }
    }
}
// end of back to top button