// fonts 
$font-gruppo: 'Gruppo', cursive;
$font-ubuntu: 'Ubuntu',sans-serif;
// text colors 
$text-black: #000;
$text-white: #fff;
$text-light: #fff;
$text-white-trans: #fffa;
$text-white-trans-d: #ddda;
$text-dark: #333;
$text-black-trans: #000a;
$text-light-d: #ddd;
$text-light-d-trans: #ddda;
$text-white-e: #eee;
$text-white-d: #ddd;
$text-lime: #bfee50;
$text-light-hover: #fffa;

// span and border
$span-crimson: #dc143c;
$span-gold: #ead2a1;
$span-brand: #f72751;
$span-violet: violet;
$span-blue: #0000ff;
$span-crimson-dark: #dc143c8c;
$span-orange: tomato;
$border: #ead2a15e;
$trans-border: rgba(255, 255, 255, 0.155);
// link colors
$link-gold: #ead2a1;
$link-blue: skyblue;
$link-crimson: #dc143c;
$link-crimson-dark:#b60f30;
// background colors
$background-light: #fff;
$background-gray: #f4f4f4;
$background-dark: #333;
$background-light: #fff;

$overlay: linear-gradient(60deg, #29323c 0%, #485563 100%);
$overlay-btn: linear-gradient(0deg, #20262e, #485563 );
$overlay-blue-dark:#29323c;
$overlay-blue-darker:#20262e;
$overlay-blue-light: #485563;
$nav-background: #29323c;
$nav-active-background: #1b2127;
$ul-background: #1f1e1e;
// button colors
$button-background-grey: #8584844b;
$button-crimson: linear-gradient(0deg, #3f0d0d, #dc134c);

// form  
$background-invalid: #f7cdd5c7;
$text-invalid: #000;
$background-valid: #cdf7d3c7;
$text-valid: #000;


// box-shadows
$box-light-top-sm: inset 2px 2px 3px #ddda,
                    inset -2px -2px 3px #000a;

$box-light-top-bg: inset 4px 4px 5px #ddda,
                    inset -4px -4px 5px #000a;

$box-dark-top-sm: inset 2px 2px 3px #000a,
                    inset -2px -2px 3px #ddda;

$box-dark-top-bg: inset 4px 4px 5px #000a,
                    inset -4px -4px 5px #ddda;

$box-dark-top-md: inset 3px 3px 4px #000a,
                    inset -3px -3px 4px #ddda;
                    
$box-light-top-md: inset 3px 3px 4px #ddda,
                    inset -3px -3px 4px #000a;

$box-light-top-lg: inset 5px 5px 5px #fffa,
                    inset -10px -10px 10px #000a;
// text-shadows
$text-shadow-red: #dc143c;
$text-shadow-sm: 1px 1px 1px #000;
$text-shadow-lg: 2px 2px 2px #000;