@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:wght@200;400;500;700&family=Philosopher:wght@400;700&family=Shippori+Mincho:wght@700&family=Source+Code+Pro:wght@200;300;400&family=Ubuntu:wght@300;400&display=swap');
@import 'variables';
@import 'utilities';
@import 'skills';
@import 'contact';
@import 'projects';
@import 'footer';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 1px solid red;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vh;
}
body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    
    a {
        text-decoration: none;
    }

    p {
        color: $text-black;
        margin-top: 5px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.05em;
    }

    span {
        color: $span-crimson;
    }
}

// header
#header {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100vw;

    .header {
        min-height: 10vh;
        transition: 1s ease background-color;

        #navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 1vh 5vw;
            z-index: 5;
            @media (max-width: 1200px) {
                padding: 0 5vw;
            }
            // corner logo
            .brand {
                transition: 1s ease;
                opacity: 0;
                h1 {
                    font-size: 1.25em;
                    @media (min-width: 768px) {
                        font-size: 1.5em;
                    }
                    text-transform: uppercase;
                    color: #f4f4f4;
                    font-family: 'Gruppo', cursive;
                    // text-shadow: 0 0 5px $text-shadow-red;
                    
                    span {
                        color: $span-gold;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
            // corner logo
            // hamburger nav style
            .nav-list {
                // mobile navbar
                .links-container {
                    @media (max-width: 1024px) {
                        position: absolute;
                        top: 0;
                        left: 100%;
                        width: 100vw;
                        height: 100vh;
                        background-color: $nav-active-background;
                        transition: .5s ease;
                        // overflow-y: auto;

                        ul {
                            margin: 2em 5vw;
                            background: $overlay-blue-dark;
                            display: flex;
                            height: auto;
                            flex-direction: column;
                            justify-content: center;
                            align-items: right;
                            border-radius: 5px;
                            z-index: 1;
                            transition: 0.5s ease left;
                            position: relative;
                            border: 2px solid $border;
                            outline: none;
                            padding: 1em 0;
                            // overflow-y: auto;
                            // list items active transition
                            li {
                                transform: translateX(10%);
                                opacity: 0;
                                transition:.3s;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                margin: 1em auto 1em .5em;
                                width: 100%;


                                a {
                                    margin-right: auto;
                                    padding: .5em;
                                    width: 70%;
                                    display: block;
                                    // border: 1px solid yellow;
                                    border-radius: 5px;
                                    // background-color: $overlay-blue-darker;
                                }

                                i {
                                    flex-basis: 15%;
                                    text-align: center;
                                    // margin-right: 1em;
                                    padding: .5em;
                                    color: #fffa;
                                    // border: 1px solid yellow;
                                    
                                }
                            }
                        }
                        // active mobile  navbar
                    &.active {
                        left: 0;
                        .nav-logo {
                            transition: 1.5s;
                            opacity: 1;
                            transform: translateX(0);

                        }

                        ul {
                            overflow-y: auto;
                            overflow-x: hidden;
                            li {
                                transition: .5s;
                                transform: translateX(0);
                                opacity: 1;

                                i {
                                    transition: 1s ease .8s;
                                    color: $span-gold;
                                }

                                &:nth-child(1) {
                                    transition-delay: .3s;
                                }

                                &:nth-child(2) {
                                    transition-delay: .4s;
                                }

                                &:nth-child(3) {
                                    transition-delay: .5s;
                                }

                                &:nth-child(4) {
                                    transition-delay: .6s;
                                }

                                &:nth-child(5) {
                                    transition-delay: .7s;
                                }

                                &:nth-child(6) {
                                    transition-delay: .8s;
                                }

                            }
                        }
                    }
                    // end of active mobile  navbar
                    }
                    

                    
                    
                    // nav-logo 
                    .nav-logo {
                        margin: 1em 5vw;
                        opacity: 1;
                        z-index: 1;
                        height: 15%;
                        width: 35%;
                        border-radius: 5px;
                        position: sticky;
                        top: 1em;
                        transform: translateX(50%);
                        transition: 1s ease;
                        outline: none;
                        overflow: hidden;
                        border: 2px solid $border;
                    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                        }
                        @media (min-width: 768px) {
                            width: 20%;
                        }
                    }

                }
                // mobile screens style
                ul {
                    li {
                        list-style: none;
                        display: flex;
                        // border: 1px solid red;
                        align-items: center;

                        a {
                            font-size: 1em;
                            font-weight: 600;
                            letter-spacing: .15em;
                            text-decoration: none;
                            color: $text-white;
                            text-transform: uppercase;
                            padding: 1em;
                            display: block;
                            text-align: left;
                            font-family: 'Gruppo', cursive;
                            transition: .2s ease-in-out;
                            // link text on hover
                            &::after {
                                content: attr(data-after);
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) scale(0);
                                color: #f0f8ff1a;
                                font-size: 3em;
                                letter-spacing: 50px;
                                z-index: -1;
                                transition: 0.3s ease letter-spacing;
                            }
                            // end of link text on hover

                        }
                        i {
                            margin-right: .5em;
                            padding: .5em;
                            text-align: left;
                            color: $text-white-trans;
                            border-radius: 10px;
                            box-shadow: $box-light-top-sm;
                        }
                        // li hover state
                        &:hover {
                            transition: .3s;
                            a {
                                color: $link-gold;
                                i {
                                    color: $link-gold;
                                }
                            }
                        }
                        // end of li hover state
                        &:hover {
                            a {
                                &::after {
                                    transform: translate(-50%, -50%) scale(1);
                                    letter-spacing: initial;
                                }
                            }
                        }
                    }
                }
                // end of mobile screens style
                // desktop nav-list style
                @media (min-width: 1025px){
                    // hide nav avi on desktop
                        .nav-logo { display: none;}
                    // end of hide nav avi on desktop
                    // remove hamburger from desktop view
                    .hamburger {
                        display: none;
                    }
                    // end of remove hamburger from desktop view
                    ul {
                        display: flex;
                        height: auto;
                        width: fit-content;
                        background-color: transparent;

                        li {
                            position: relative;
                            display: flex;
                            margin-right: 1em;

                            // list item underline
                            &::before {
                                position: absolute;
                                content: '';
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0%;
                                opacity: 0;
                                height: 3px;
                                background-color: $link-gold;
                                transition: .3s ease;
                            }
                            
                            &:hover {
                                &::before {
                                    width: 30%;
                                    opacity: 1;
                                }
                            }
                            // end of list item underline
                            
                            a {
                                font-size: .8em;
                                padding: .3em .5em;
                                margin: 0 auto;
                                display: block;

                                &::after {
                                    display: none;
                                }
                            }
                            i {
                                color: #fffa;
                                margin-right: .1em;
                                padding: .5em;
                                font-size: 1em;
                                border-radius: 50%;
                            }
                            // links and icon hover state
                            &:hover {
                                a {
                                    transition: .3s ease;
                                    color: $link-gold;
                                }
                                i {
                                    transition: .3s;
                                    color: $span-gold;
                                }
                            }
                            // links and icon hover state
                            &:focus {
                                &::before {
                                    width: 30%;
                                    opacity: 1;
                                }
                                a {
                                    color: $span-gold;
                                }
                                i {
                                    color: $span-gold;
                                }
                            }
                            &.active {
                                a {
                                color: $span-gold;
                                }
                                i {
                                    color: $span-gold;
                                }
                            }
                        }
                        &.active {
                            background: none;
                            box-shadow: none;
                            
                        }
                    }
                    

                }
                // end of desktop nav-list style
            }
        }
    }
}
// end of header

// hero section
#home {
    background-color: $overlay-blue-dark;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .hero {
        cursor: grab;
        // animated h1 
        #hero-h1 {
            margin: 1em auto;
            background: transparent;
            padding: .5em;
            border-radius: 5px;
            position: absolute;
            top: 20vh;

            @media (min-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: .5em;
            }

            h1 {
                margin-bottom: .2em;
                display: block;
                width: fit-content;
                color: $text-white-e;
                font-family: 'Philosopher', sans-serif;

                // desktop font size
                @media (min-width: 768px) {
                    font-size: 2em;
                }

                // end of desktop font size

                span {
                    display: inline-block;
                    color: $text-light;
                    text-align: left;
                    font-size: 1.5em;
                    opacity: 0;
                    line-height: 1.3;
                    animation: hero-span 5s ease-in-out;
                    animation-fill-mode: forwards;
                    animation-delay: calc(1s + .5s * var(--s));
                    transition: 1s;
                    transform-style: preserve-3d;

                    /* hero h1 keyframes */
                    @keyframes hero-span {
                        10% {
                            opacity: .7;
                            transform: translateX(10px);
                        }

                        100% {
                            opacity: 1;
                        }
                    }
                    /* hero h1 keyframes */

                    &:hover {
                        animation: letter-hover 3s infinite;
                        cursor: grabbing;
                        transition: 1s;
                        transform: scale(1.2) rotateY(30deg);
                        opacity: 1;

                        @keyframes letter-hover {
                            0% {
                                color:$span-gold;
                            }
                            50% {
                                color: $span-crimson;
                            }
                            100% {
                                color: $span-gold;
                            }
                        }
                    }
                }

                // "aka" span
                &#aka {
                    span {
                        position: relative;
                        display: inline-block;
                        animation: aka 5s ease alternate;
                        animation-delay: 4s;
                        animation-fill-mode: forwards;
                        margin: .5em 0;
                        color: $span-gold;
                        opacity: 0;
                        transform: scale(0.7);
                    }

                    @keyframes aka {
                        50% {
                            opacity: 1;
                            transform: scale(1);
                        }

                        100% {
                            opacity: .8;
                        }
                    }
                }

                // end of "aka" span

            }
        }

        // end of animated h1 
        // welcome section button & shadow
        #cta-header {
            font-size: 1.3em;

            @media (min-width: 768px) {
                font-size: 1.5em;
            }

            position: relative;
            display: inline-block;
            text-align: center;
            font-family: 'Gruppo',cursive;
            padding: .5em 1em;
            margin: 0;
            width: 100%;
            border-radius: 20px;
            border: none;
            outline: none;
            opacity: 1;
            transform: rotateX(-90deg);
            transform-style: preserve-3d;
            animation: show-cta 4s 5.5s;
            animation-fill-mode: forwards;
            // background-color: $button-background-grey;
            transition: .3s linear;
            cursor: pointer;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
            z-index: 2;

            // show cta
            @keyframes show-cta {
                100% {
                    opacity: 1;
                    transform: rotateX(0) translateY(5%);
                }
            }

            // end of show cta
            // button shadows
            &::before,
            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                transition: .3s ease;
                border: none;
                outline: none;
            }

            // ::before = box shadow
            &::before {
                box-shadow: $box-light-top-bg;
                background: linear-gradient(0deg, #581212, #dc134c);
            }

            // ::after = background gradient
            &::after {
                opacity: 1;
                z-index: -1;
                animation: 3s cta-btn infinite;
                animation-delay: 6s;
                transition: .3s;
                outline: none;
                border: none;
                background: linear-gradient(0deg, $overlay-blue-darker, $overlay-blue-light);
                box-shadow: $box-light-top-bg;
            }

            // end of button shadows
            // animated button text 
            span {
                position: relative;
                display: inline-block;
                text-transform: uppercase;
                color: $text-light;
                font-size: 2em;
                font-weight: 700;
                animation: animate 3s ease-in-out infinite;
                animation-delay: calc(1s + .2s * var(--i));

                /* cta keyframes*/
                @keyframes animate {
                    0% {
                        transform: translateY(0px);
                    }

                    20% {
                        transform: translateY(-10px) scale(1.1);
                    }

                    40%,
                    100% {
                        transform: translateY(0);
                    }
                }

                /* end of cta keyframes*/
            }

            // end of animated button text 
            // button hover, focus and active states
            &:hover {
                transform: scale(.97);
                span {
                    color: $span-gold;
                    animation: none;
                }


                &::before {
                    opacity: 0;
                }

                &::after {
                    background-position: 100%;
                    opacity: 1;
                }
            }

            &:active {
                transition: .2s;
                transform: scale(.95);
            }

            // end of button hover, focus and active states
        }

        // end of welcome section button & shadow 
    }
}

// end of hero section

// pad section 
.section-pad {
    height: 90vh;
    width: 100%;
    background-color: $background-light;
    // background-color: yellow;
    padding: 10vh 20vw;
    display: grid;
    place-items: center;
    position: relative;

    figure {
        width: 100%;
        height: 100%;
        margin: 5vh auto;
        border-radius: 5px;
        overflow: hidden;        
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: .5s ease;
        }
    }
    // small screens
    @media (max-width: 1024px) {
        height: auto;
        padding: 0 5vw 5vh;
        // background: yellow;
        place-items: start;
        figure {
            height: auto;
            // border: 2px solid yellow;
            width: 100%;
            // border: 2px solid blue;

            img {
                border-radius: 5px;
                object-position: top;
                object-fit: contain;
            }
        }
    }

    &.pad-logo {
        overflow: hidden;
        height: 100vh;
        background-color: $overlay-blue-dark;

        [data-scroll="in"] {
            transition: 2s;
                transform: translateX(0);
        }
        
        figure {
            transform: translateX(80%);
            margin: 0 auto;
            img {
                object-fit: cover;
            }
        }
        // logo pad on small screens
        @media (max-width: 768px) {
            padding: 0 5vw;
            height: 90vh;
            display: grid;
            place-items: center;

            figure {
                img {
                    object-fit: cover;
                }
            }
            
        }
        // end of logo pad on small screens
    }
    &.pad-intro {
        figure {
            border-radius: 5px;
            overflow: hidden;
            height: auto;
            border: 2px solid $overlay-blue-light;
            img {
                object-fit: contain;
            }
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
        [data-scroll="in"] {
            transition: 1.5s ease;
        }
    }
    &.pad-me {
        background: $background-light;
        figure {
            width: 50%;
            position: relative;
            cursor: pointer;
            isolation: isolate;
            outline: 2px solid $overlay-blue-dark;
            outline: none;
            img {
                object-fit: cover;
                border-radius: 5px;
                z-index: 1;
                transition: .5s ease-in-out;
                animation: fade-show 5s infinite;
                @keyframes fade-show {
                    50% {
                        opacity: 0;
                    }
                }
            }
            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(../img/shakexblue-min.jpg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: top;
                z-index: -1;
                transition: .5s ease-in;
            }
            // hover state 
            &:hover {
                img {
                    opacity: 0;
                }
            }
        }
        
        @media (max-width: 500px) {
            figure {
                width: 100%;
            }
        }
    }
    &.pad-me-blue {
        figure {
            width: 50%;
            // border: 1px solid red;
            img {
                object-fit: cover;
                object-position: top;
                border-radius: 5px;
            }
        }
        @media (max-width: 500px) {
            figure {
                width: 100%;
            }
        }
    }
}
.paralax {
    height: 100vh;
    width: 100%;
    background-color: $overlay-blue-dark;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    &.paralax-logo {
        background-image: url(../img/shakex-logo-min.png);
        background-position: center;
        background-size: 100%;
        // padding: 10vh 10vw;
        height: 75vh;
        @media(min-width: 768px){
            background-size: 60%;
            height: 85vh;
        }
    }

    @media (max-width: 500px) {
        background-size: contain;
        background-position: center;
    }
}
// about 
.about {
    // about container
    flex-direction: column-reverse;
    // big screen layout
    @media (min-width: 768px){
        flex-direction: row;
        align-items: center;
        padding: 5vh 5vw;
    }
    // end of big screen layout
    text-align: center;
    margin: 0 auto ;
    padding: 0 5vw ;
    background-color: $background-light;
    
    // end of about container
    // col-right
    .col-right {
        // section title
        .section-title {
            text-align: center;
            font-size: 2.35em;
            &::after {
                width: 80%;
                margin: 0 auto;
            }
        }
        // end of section title
        width: 100%;
        height: auto;
        z-index: 20;
        background: $background-light;
        border-radius: 5px;
        position: relative;
        // desktop
        @media (min-width: 768px) {
            width: 100%;
            margin: 0;
        }
        // end of desktop
        .about-title {
            display: flex;
            flex-direction: column;
            padding: 1em 1.3em;
            cursor: pointer;
            // request cv link
            #cv-download {
                text-align: center;
                margin: 2.5em 0;
                padding: .5em 1em;
                font-size: .6em;
                font-weight: 600;
                text-transform: uppercase;
                color: $text-white-e;
                background-color: #dc143c;
                border-radius: 10px;
                transition: .5s ease;
                position: absolute;
                opacity: 0;
                z-index: 20;
                box-shadow: $box-light-top-sm;
            }
            // request cv link

            h2 {
                display: inline-block;
                border-radius: 10px;
                font-size: 1em;
                font-weight: 500;
                margin-bottom: 1em;
                padding: .5em;
                transition: .5s ease;
                position: relative;
                // h2 box shadow
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: .5s ease;
                    border-radius: 10px;
                }
                &::before {
                    box-shadow: $box-dark-top-md;
                }
                &::after {
                    opacity: 0;
                    box-shadow: $box-light-top-md;
                }
                // end of h2 box shadow
            }
            // cv link hover state
            &:hover {
                #cv-download {
                    letter-spacing: .1em;
                }
            }
            // end of cv link hover state
        }
        // about title hover state
        &:hover {
            h2 {
                &::before {opacity: 0};
                &::after {opacity: 1};
            }
        }
        // end of about title hover state
        
        // read more button
        button {
            background-color: $overlay-blue-dark;
            color: $link-gold;
            margin: 1em auto;
            padding: .5em 1em;
            cursor: pointer;
            border-radius: 15px;
            text-transform: uppercase;
            transition: .3s;
            position: relative;
            // button states
            &.open {
                // 'close - read-more text in button'
                &::after {
                    position: absolute;
                    content: 'close';
                    display: grid;
                    place-items: center;
                    top: 0;
                    left: 0;
                    border-radius: 15px;
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    background-color: $overlay-blue-darker;
                }
            }

            // end of button states

            &:hover {
                transform: scale(.97);
            }
        }
        // end of read more button
        // article
        article {
            &.about-article {
                // border: 1px solid red;
                padding: .5em 1em;
                height: 15vh;
                overflow: hidden;
                transition: .3s ease;
                @media (max-width: 768px) {
                    height: 20vh;
                    transition: .3s ease;    
                    padding: .5em 0;               
                }
                @media (max-width: 374px) {
                    height: 31vh;           
                }
                // about me paragraph
            p {
                padding: .2em;
                margin-bottom: 1em;
                text-overflow: ellipsis;
                text-align: left;
                z-index: 1;
                font-size: .85em;
                font-weight: 500;
                

                &#intro::first-letter {
                    font-size: 2.5em;
                    float: left;
                    background: $overlay-blue-dark;
                    color: $span-gold;
                    padding: 0 .1em;
                    margin-right: .1em;
                    border-radius: 2px;
                    box-shadow: -3px 3px 0 #4855634b;
                }
                &#intro {
                    font-weight: 600;
                }
                &.about-body {
                    transition: opacity 4s ease;
                    opacity:0 ;
                    display: none;
                    margin-bottom: .5em;
                    // color: $span-gold;
                    // padding: .3em;
                }
                @media (min-width:768px){
                    font-size: 1em;
                }
                .fcc-link {
                    color: $span-crimson;
                    &:hover {
                        color: $span-violet;
                    }
                }
            }
            
            &.active {
                height: 50vh;
                transition: .5s ease;
                @media (min-width: 768px){
                    height: 45vh;
                }
                overflow-y: auto;
                .about-body {
                    transition: opacity 4s ease;
                    display: block;
                    opacity: 1;
                }
            }

            
        // end of about me paragraph
        // small screens
        // @media (max-width: 768px) {
        //     height: 25vh;
        // }
            }
            // links
            &#cv {
                display: flex;
                justify-content: space-between;

                @media (min-width: 1024px) {
                    justify-content: space-evenly;
                }

                font-size: 1em;
                background: linear-gradient(0deg, #161616, $overlay-blue-darker 10%, $overlay-blue-dark);
                color: $span-gold;
                margin: 0 auto;
                padding: 1em;
                box-shadow: inset 5px 0px 5px #c7c7c7aa,
                            inset -5px -5px 5px #000a;
                text-transform: uppercase;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;

                a {
                    transition: .3s ease;
                    color: $span-gold;
                    text-shadow: $text-shadow-sm;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;

                    i {
                        background-image: linear-gradient(60deg, $span-gold 30%, rgba(209, 207, 207, 0.829) 60%, #fff 60%);
                        background-size: 300%;
                        background-position: right;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-size: 1.5em;
                        margin: .2em auto;
                        text-shadow: none;
                        animation: icon-shine 3s linear infinite alternate;
                        // icon color animation
                        @keyframes icon-shine {
                            100% {
                                background-position: left;
                            }
                        }
                        // end of icon color animation
                    }
                    // link hover state
                    &:hover {
                        transition: .3s ease;
                        transform: scale(1.1);
                        opacity: .8;
                    }
                    // end of link hover state
                }
            }

            // end of links
       
        }
        // article
        // cv download button on h2 hover 
        &:hover {
            #cv-download {
                transition: 1s ease;
                transform: translateY(100%);
                opacity: 1;
            }
        }
        // end of cv download button on h2 hover 

    }
    // end of col-right
    // col-left (about image)
    .col-left {
        display: none;
        @media (min-width: 1024px) {
            width: 100%;
            height: 550px;
        }
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        height: 360px;
        margin-top: 0;
        z-index: 20;
        transform-style: preserve-3d;
        // about images
        .about-img {
            @media (min-width: 1024px){
                margin-top: 0;
                height: 100%;
                width: 80%;
            }
            height: 100%;
            width: 90%;
            position: relative;
            border-radius: 10px;
            border: none;
            outline: none;
            margin-top: 5vh;
            transition: .5s ease;
            transform: preserve-3d;
            cursor: pointer;
            overflow: hidden;

            &::before,
            &::after {
                font-size: 1em;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: left;
                font-weight: 500;
                font-style: italic;
                padding: .3em;
                border-radius: 10px;
                transition: 1s ease;
                box-shadow: $box-light-top-lg;
                background-repeat: no-repeat;
                background-size: cover;
            }

        &::before {
            content: 'Boitumelo Sempe';
            color: $text-dark;
            background-image: url('../img/me-min.jpg');
            background-position: center;
            animation: fade-out 5s infinite;
            @keyframes fade-out {
                0% {
                    transform-origin: right;
                }
                50% {
                    opacity: 0;
                }
            }
        }
        &::after {
            position: absolute;
            content: 'Shakex Sempe';
            color:$span-blue;
            opacity: 0;
            background-image: url('../img/shakexblue-min.jpg');
            background-position: top;
            transition: 1s ease;
            animation: fade-in 5s infinite;

            @keyframes fade-in {
                50% {
                    opacity: 1;
                }
            }
        }
        // image hover states
        &:hover {
            &::before {
                opacity: 0;
                transform: scale(1.1);
                transform-origin: left;
            }
            &::after {
                opacity: 1;
            }
        }
        // end of image hover states
    }
        // end of about images
    }
    // end of col-left (about image)
}
// end of about 

// thank you page

#thanks {
    padding: .5em 1em;
    font-size: 1.5em;
    background-color: $overlay-blue-light;
    border-radius: 5px;
    text-align: center;
    margin: 10vh auto 0;
    box-shadow: inset 3px 3px 5px #ddda,
        inset -3px -3px 5px #000a;

    h3 {
        color: $text-white-e;
        margin: .5em auto;
        font-size: 1em;
        
    }
    a {
        i {
            border: none;
            outline: none;
            margin: 1em auto;
            padding: .5em 3em;
            text-align: center;
            color: $text-white-e;
            position: relative;

            // icon box shadow
            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                transition: .3s;
                box-shadow: inset 3px 3px 5px #ddda,
                    inset -3px -3px 5px #000a;
            }

            // end of icon box shadow 
            // icon hover and active states
            &:hover {
                transition: .2s;
                transform: scale(.98);
            }

            &:active {
                transition: .2s;
                transform: scale(.9);
            }

            // end of icon hover and active states

        }
    }
    @media (max-width: 768px) {
        width: 80%;
        
        h3 {
            font-size: .8em;
        }
    }
}

// end of thank you page