// about 
.about {
    // about container
    flex-direction: column-reverse;
    // big screen layout
    @media (min-width: 768px){
        flex-direction: row;
        align-items: center;
        padding: 5vh 5vw;
    }
    // end of big screen layout
    text-align: center;
    margin: 0 auto ;
    padding: 0 5vw ;
    background-color: $background-light;
    
    // end of about container
    // col-right
    .col-right {
        // section title
        .section-title {
            text-align: center;
            font-size: 2.35em;
            &::after {
                width: 80%;
                margin: 0 auto;
            }
        }
        // end of section title
        width: 100%;
        height: auto;
        z-index: 20;
        background: $background-light;
        border-radius: 5px;
        position: relative;
        // desktop
        @media (min-width: 768px) {
            width: 100%;
            margin: 0;
        }
        // end of desktop
        .about-title {
            display: flex;
            flex-direction: column;
            padding: 1em 1.3em;
            cursor: pointer;
            // request cv link
            #cv-download {
                text-align: center;
                margin: 2.5em 0;
                padding: .5em 1em;
                font-size: .6em;
                font-weight: 600;
                text-transform: capitalize;
                color: $text-white-e;
                background-color: #dc143c;
                border-radius: 10px;
                transition: .5s ease;
                position: absolute;
                opacity: 0;
                z-index: 20;
                box-shadow: $box-light-top-sm;
            }
            // request cv link

            h2 {
                display: inline-block;
                border-radius: 10px;
                font-size: 1em;
                font-weight: 500;
                margin-bottom: 1em;
                padding: .5em;
                transition: .5s ease;
                position: relative;
                // h2 box shadow
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: .5s ease;
                    border-radius: 10px;
                }
                &::before {
                    box-shadow: $box-dark-top-md;
                }
                &::after {
                    opacity: 0;
                    box-shadow: $box-light-top-md;
                }
                // end of h2 box shadow
            }
            // cv link hover state
            &:hover {
                #cv-download {
                    letter-spacing: .1em;
                }
            }
            // end of cv link hover state
        }
        // about title hover state
        &:hover {
            h2 {
                &::before {opacity: 0};
                &::after {opacity: 1};
            }
        }
        // end of about title hover state
        
        // READ MORE ABOUT BTN
        button {
            background: $button-crimson;
            box-shadow: $box-light-top-sm;
            color: #fff;
            margin: 1rem auto;
            padding: .7rem;
            width: 10rem;
            cursor: pointer;
            border-radius: .5rem;
            border: none;
            text-transform: capitalize;
            transition: .3s;
            position: relative;
            // button states
            &.open {
                // 'close - read-more text in button'
                &::after {
                    position: absolute;
                    content: 'close';
                    display: grid;
                    place-items: center;
                    top: 0;
                    left: 0;
                    border-radius: .5rem;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    box-shadow: $box-light-top-sm-hover;
                    background: $button-crimson-hover;
                    transition: .2s;

                }
            }

            // end of button states

            &:hover {
                transform: scale(.97);
            }
        }
        // end of read more button
        // article
        .article-container {
            // border: 2px solid red;
            overflow: hidden;
            article {
                &.about-article {
                    padding: .5em 1em;
                    height: 17vh;
                    // overflow: hidden;
                    transition: .3s ease;

                    @media (max-width: 768px) {
                        height: 23vh;
                        transition: .3s ease;
                        padding: .5em 0;
                    }

                    @media (max-width: 374px) {
                        height: 31vh;
                    }

                    // about me paragraph
                    p {
                        padding: .5rem;
                        margin-bottom: 1rem;
                        text-overflow: ellipsis;
                        text-align: left;
                        z-index: 1;
                        font-size: .96rem;
                        font-family: $font-content;
                        color: $overlay-blue-dark;


                        &#intro::first-letter {
                            font-size: 2.5em;
                            float: left;
                            background: $overlay-blue-dark;
                            color: $span-gold;
                            padding: 0 .1em;
                            margin-right: .1em;
                            border-radius: 2px;
                            box-shadow: 3px 3px 0 rgba(0, 0, 0, .100);
                        }

                        &#intro {
                            font-weight: 500;
                        }

                        &.about-body {
                            transition: opacity .5s ease;
                            opacity: 0;
                            font-weight: 300;
                            color: #000;
                            font-size: .95rem;
                            // display: none;
                            margin-bottom: .5em;
                            // color: $span-gold;
                            // padding: .3em;
                        }

                        @media (min-width:768px) {
                            font-size: 1rem;
                        }

                        .fcc-link {
                            color: $span-crimson;

                            &:hover {
                                color: $span-violet;
                            }
                        }
                    }
                    // INCREASE VIEW HEIGHT AND SHOW(OPACITY) REST OF ARTICLE WITH ACTIVE CLASS
                    &.active {
                        height: 50vh;
                        transition: .5s ease;

                        @media (min-width: 768px) {
                            height: 45vh;
                        }

                        overflow-y: auto;

                        .about-body {
                            transition: opacity 2s ease;
                            // display: block;
                            opacity: 1;
                        }
                    }


                    // end of about me paragraph
                    // small screens
                    // @media (max-width: 768px) {
                    //     height: 25vh;
                    // }
                }

                // links
                &#cv {
                    display: flex;
                    justify-content: space-around;

                    @media (min-width: 1024px) {
                        justify-content: space-evenly;
                    }

                    // background: linear-gradient(0deg, #161616, $overlay-blue-darker 10%, $overlay-blue-dark);
                    background: $overlay-btn;
                    color: $span-gold;
                    margin: 0 auto;
                    padding: 1em;
                    box-shadow: inset 3px 0px 3px #c7c7c7aa,
                    inset -3px -3px 3px #000a;
                    text-transform: capitalize;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;

                    a {
                        font-size: .85rem;
                        transition: .3s ease;
                        color: $span-gold;
                        text-shadow: $text-shadow-sm;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: relative;

                        i {
                            background-image: linear-gradient(60deg, $span-gold 30%, rgba(209, 207, 207, 0.829) 60%, #fff 60%);
                            background-size: 300%;
                            background-position: right;
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 1.5em;
                            margin: .2em auto;
                            text-shadow: none;
                            animation: icon-shine 3s linear infinite alternate;

                            // icon color animation
                            @keyframes icon-shine {
                                100% {
                                    background-position: left;
                                }
                            }

                            // end of icon color animation
                        }

                        // link hover state
                        &:hover {
                            transition: .3s ease;
                            transform: scale(1.1);
                            opacity: .8;
                        }

                        // end of link hover state
                    }
                }

                // end of links

            }
            // DATA-SCROLL 
            &[data-scroll] {
                transform: scale(1);
                transition: 1.5s;
            }
        }
        // article
        // cv download button on h2 hover 
        &:hover {
            #cv-download {
                transition: 1s ease;
                transform: translateY(100%);
                opacity: 1;
            }
        }
        // end of cv download button on h2 hover 

    }
    // end of col-right
    // col-left (about image)
    .col-left {
        display: none;
        @media (min-width: 1024px) {
            width: 100%;
            height: 550px;
        }
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        height: 360px;
        margin-top: 0;
        z-index: 20;
        transform-style: preserve-3d;
        // about images
        .about-img {
            
            @media (min-width: 1024px){
                margin-top: 0;
                height: 100%;
                width: 80%;
            }
            height: 100%;
            width: 90%;
            position: relative;
            border-radius: 10px;
            border: none;
            outline: none;
            margin-top: 5vh;
            transition: .5s ease;
            transform: preserve-3d;
            cursor: pointer;
            overflow: hidden;

            &::before,
            &::after {
                font-size: 1em;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: left;
                font-weight: 500;
                font-style: italic;
                padding: .3em;
                border-radius: 10px;
                transition: 1s ease;
                box-shadow: $box-light-top-lg;
                background-repeat: no-repeat;
                background-size: cover;
            }

        &::before {
            content: 'Boitumelo Sempe';
            color: $text-dark;
            background-image: url('../img/me-min.jpg');
            background-position: center;
            animation: fade-out 5s infinite;
            @keyframes fade-out {
                0% {
                    transform-origin: right;
                }
                50% {
                    opacity: 0;
                }
            }
        }
        &::after {
            position: absolute;
            content: 'Shakex Sempe';
            color:$span-blue;
            opacity: 0;
            background-image: url('../img/shakexblue-min.jpg');
            background-position: top;
            transition: 1s ease;
            animation: fade-in 5s infinite;

            @keyframes fade-in {
                50% {
                    opacity: 1;
                }
            }
        }
        // image hover states
        &:hover {
            &::before {
                opacity: 0;
                transform: scale(1.1);
                transform-origin: left;
            }
            &::after {
                opacity: 1;
            }
        }
        // end of image hover states
    }
        // end of about images
    }
    // end of col-left (about image)
}
// end of about