// about 
.about {
    // border: 2px solid red;
    display: flex;
    flex-direction: column-reverse;
    gap: 5vh;
    padding: 10vh 5vw;
    background-color: $background-light;
    position: relative;
    min-height: 100vh;
    
    // DESKTOP
    @include md {
        flex-direction: row;
        align-items: flex-start;
    }
    // COL RIGHT = TITLE & ARTICLE
    .col-right {
        // section title
        .section-title {
            // border: 2px solid red;
            text-align: left;
            margin-top: 5vh;
            &::after {
                width: 80%;
            }
        }
        // end of section title
        width: 100%;
        height: auto;
        z-index: 20;
        background: $background-light;
        border-radius: 5px;
        position: relative;
        // desktop
        @include md {
            width: 100%;
            margin: 0;
            height: 100%;
            // overflow: hidden;
            // border: 2px solid yellow;
        }
        // ARTICLE CONTAINER
        .article-container {
            // border: 2px solid red;
            // overflow: hidden;
            article {
                // ABOUT P
                .about-intro {
                    // border: 2px solid red;
                    p {
                        // border: 2px solid red;
                        font-weight: 500;
                        text-align: left;
                        font-size: 1rem;
                        line-height: 1.5;
                        transition: 1.5s;
                        
    
                        @include md {
                            .title-break {
                                display: none;
                            }
                        }
                        .item-title{
                            font-weight: 600;
                            color: $overlay-blue-darker;
                            display: block;
                        }
    
                        a {
                            // border: 2px solid red;
                            margin-top: .5rem;
                            font-weight: 500;
                            padding: .5rem .5rem;
                            transition: .2s;
                            font-size: .85rem;
                            width: 8rem;
                            i {
                                color: $text-light;
                            }
                        }
                        // CAPITAL B FIRST LETTER
                        &.intro {
                            font-weight: 500;
    
                            &.intro::first-letter {
                                font-size: 2rem;
                                font-size: clamp(2rem, 5vw, 2.25rem);
                                float: left;
                                background: $overlay-blue-darker;
                                color: $text-light;
                                padding: 0 .1em;
                                margin-right: .1em;
                                border-radius: .25rem;
                                box-shadow: 3px 3px 0 rgba(0, 0, 0, .100);
                            }
                        }
                        
                        
                    }
                }

                .buttons-container {
                    // border: 2px solid blue;
                    padding: 0;
                    margin: 1rem 0;
                }

                .article-body {
                    color: $overlay-blue-darker;
                    margin-top: 5vh;
                    .body-item {
                        // border: 2px solid yellow;
                        padding-bottom: .5rem;
                        margin-bottom: 5vh;
                        position: relative;
                        border-bottom: 1px solid $brand;
                        transition: border .5s;
                        // ITEM PSEUDO BG
                        &::after {
                            content: '';
                            position: absolute;
                            inset: 0;
                            background: #fafafa;
                            z-index: -1;
                            opacity: 0;
                            transition: .25s;
                        }
                        
                        @include lg {
                            margin-bottom: 10vh;
                        }
                        i {
                            font-size: 2rem;
                            margin-bottom: .5rem;
                            color: $overlay-blue-dark;
                        }
                        .body-item-title {
                            color: $overlay-blue-dark;
                            margin-bottom: .5rem;
                            font-size: 1rem;
                            font-size: clamp(1rem, 4vw, 1.125rem);
                        }

                        p {
                            margin: .5rem 0;
                            font-weight: 400;
                        }

                        a {
                            // border: 2px solid red;
                            color: $overlay-blue-light;
                            i {
                                font-size: 1rem;
                                margin-right: .5rem;
                                transition: .25s;
                            }
                            &:hover {
                                color: $span-crimson;
                                i {
                                    transform: translateX(.25rem);
                                    opacity: .9;
                                }
                            }
                        }

                        // BODY ITEM HOVER 
                        &:hover {
                            border-bottom-color: $overlay-blue-light;
                            background: #fafafa;
                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

        }
        // cv download button on h2 hover 
        &:hover {
            #cv-download {
                transition: 1s ease;
                transform: translateY(100%);
                opacity: 1;
            }
        }
        // end of cv download button on h2 hover 

    }
    // COL LEFT = ABOUT IMAGE(S)
    .col-left {
        // border: 2px solid #0005;
        border-radius: .25rem;
        width: 100%;
        height: 60vh;
        margin-top: 0;
        z-index: 20;
        @include xsm {
            height: 50vh;
        }
        @include md {
            width: 100%;
            height: 70vh;
            position: sticky;
            top: 15vh;
            // border: 2px solid blue;
        }
        // about images
        .about-img {
            border: none;
            // border: 2px solid blue;
            width: 70%;
            height: 100%;
            margin-inline: auto;
            position: relative;
            border-radius: .25rem;
            transition: .5s ease;
            transform: preserve-3d;
            overflow: hidden;
            
            img {
                $fade-speed: 2s;
                position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: .25rem;
                transition: 1s;
                animation: fade-1 4s infinite;
                    @keyframes fade-1 {
                        50% {
                            opacity: 0;
                        }
                    }
                
                &.about-img-2 {
                    opacity: 0;
                    object-position: top;
                    animation: fade-2 4s infinite;
                    @keyframes fade-2 {
                        50% {
                            opacity: 1;
                        }
                    }
                }

                // DESKTOP IMAGE
                @include sm {
                    object-fit: contain;
                    object-position: top;
                }
            }

            &:hover {
                img {
                    opacity: 1;
                    animation: none;

                    &.about-img-2 {
                        opacity: 0;
                        animation: none;
                    }
                }
            }

            // ABOUT PAGE IMAGE - NO ANIMATION
            &.about-page-img {
                img {
                    animation: none;
                }
            }

    }
    }
}