// about 
.about {
    // border: 2px solid red;
    display: flex;
    flex-direction: column-reverse;
    gap: 5vh;
    padding: 10vh 5vw;
    background-color: $background-light;
    position: relative;
    min-height: 100vh;
    
    // DESKTOP
    @include md {
        flex-direction: row;
        align-items: flex-start;
    }
    // COL RIGHT = TITLE & ARTICLE
    .col-right {
        // section title
        .section-title {
            // border: 2px solid red;
            text-align: left;
            margin-top: 5vh;
            &::after {
                width: 80%;
                // margin: 0 auto;
            }
        }
        // end of section title
        width: 100%;
        height: auto;
        z-index: 20;
        background: $background-light;
        border-radius: 5px;
        position: relative;
        // desktop
        @include md {
            width: 100%;
            margin: 0;
            height: 100%;
            // overflow: hidden;
            // border: 2px solid yellow;
        }
        // end of desktop
        .about-title {
            border: 4px solid yellow;
            display: flex;
            flex-direction: column;
            padding: 1em 1.3em;
            cursor: pointer;
            // request cv link
            #cv-download {
                text-align: center;
                margin: 2.5em 0;
                padding: .5em 1em;
                font-size: .6em;
                font-weight: 600;
                text-transform: capitalize;
                color: $brand;
                background-color: #dc143c;
                border-radius: 10px;
                transition: .5s ease;
                position: absolute;
                opacity: 0;
                z-index: 20;
                box-shadow: $box-light-top-sm;
            }
            // request cv link

            h2 {
                display: inline-block;
                border-radius: 10px;
                font-size: 1em;
                font-weight: 500;
                margin-bottom: 1em;
                padding: .5em;
                transition: .5s ease;
                position: relative;
                // h2 box shadow
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: .5s ease;
                    border-radius: 10px;
                }
                &::before {
                    box-shadow: $box-dark-top-md;
                }
                &::after {
                    opacity: 0;
                    box-shadow: $box-light-top-md;
                }
                // end of h2 box shadow
            }
            // cv link hover state
            &:hover {
                #cv-download {
                    letter-spacing: .1em;
                }
            }
            // end of cv link hover state
        }
        // about title hover state
        &:hover {
            h2 {
                &::before {opacity: 0};
                &::after {opacity: 1};
            }
        }
        // end of about title hover state
        
        // READ MORE ABOUT BTN
        button {
            background: $button-crimson;
            box-shadow: $box-light-top-sm;
            color: #fff;
            margin: 1rem auto;
            padding: .7rem;
            width: 10rem;
            cursor: pointer;
            border-radius: .5rem;
            border: none;
            text-transform: capitalize;
            letter-spacing: .05rem;
            transition: .3s;
            position: relative;
            // button states
            &.open {
                letter-spacing: normal;
                // 'close - read-more text in button'
                &::after {
                    position: absolute;
                    content: 'close';
                    display: grid;
                    place-items: center;
                    top: 0;
                    left: 0;
                    border-radius: .5rem;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    box-shadow: $box-light-top-sm-hover;
                    background: $button-crimson-hover;
                    transition: .2s;

                }
            }

            // end of button states

            &:hover {
                transform: scale(.97);
                letter-spacing: normal;
            }
        }
        // end of read more button
        // ARTICLE CONTAINER
        .article-container {
            // border: 2px solid red;
            // overflow: hidden;
            article {
                // ABOUT P
                .about-intro {
                    // border: 2px solid red;
                    p {
                        // border: 2px solid red;
                        font-weight: 500;
                        text-align: left;
                        font-size: 1rem;
                        line-height: 1.5;
                        transition: 1.5s;
                        
    
                        @include md {
                            .title-break {
                                display: none;
                            }
                        }
                        .item-title{
                            font-weight: 600;
                            color: $overlay-blue-darker;
                            display: block;
                        }
    
                        a {
                            // border: 2px solid red;
                            margin-top: .5rem;
                            font-weight: 500;
                            padding: .5rem .5rem;
                            transition: .2s;
                            font-size: .85rem;
                            width: 8rem;
                            i {
                                // font-size: inherit;
                                color: $text-light;
                            }
                        }
                        // CAPITAL B FIRST LETTER
                        &.intro {
                            font-weight: 500;
    
                            &.intro::first-letter {
                                font-size: 2rem;
                                font-size: clamp(2rem, 5vw, 2.25rem);
                                float: left;
                                background: $overlay-blue-darker;
                                color: $text-light;
                                padding: 0 .1em;
                                margin-right: .1em;
                                border-radius: .25rem;
                                box-shadow: 3px 3px 0 rgba(0, 0, 0, .100);
                            }
                        }
                        
                        
                    }
                }

                .buttons-container {
                    // border: 2px solid blue;
                    padding: 0;
                    margin: 1rem 0;
                }

                .article-body {
                    // border: 2px solid purple;
                    color: $overlay-blue-darker;
                    margin-top: 5vh;
                    .body-item {
                        // border: 2px solid yellow;
                        padding-bottom: .5rem;
                        margin-bottom: 5vh;
                        position: relative;
                        border-bottom: 1px solid $overlay-blue-light;
                        @include lg {
                            margin-bottom: 10vh;
                        }
                        i {
                            font-size: 2rem;
                            margin-bottom: .25rem;
                            color: $overlay-blue-dark;
                        }
                        .body-item-title {
                            color: $overlay-blue-dark;
                            margin-bottom: .5rem;
                            font-size: 1rem;
                            font-size: clamp(1rem, 4vw, 1.125rem);
                        }

                        p {
                            margin: .5rem 0;
                            font-weight: 400;
                        }

                        a {
                            // border: 2px solid red;
                            color: inherit;
                            i {
                                font-size: 1rem;
                                margin-right: .5rem;
                                transition: .25s;
                            }
                            &:hover {
                                color: $span-crimson;
                                i {
                                    transform: translateX(.25rem);
                                    opacity: .9;
                                }
                            }
                        }
                    }
                }
            }

        }
        // cv download button on h2 hover 
        &:hover {
            #cv-download {
                transition: 1s ease;
                transform: translateY(100%);
                opacity: 1;
            }
        }
        // end of cv download button on h2 hover 

    }
    // COL LEFT = ABOUT IMAGE(S)
    .col-left {
        // border: 2px solid red;
        border-radius: .25rem;
        width: 100%;
        height: 70vh;
        margin-top: 0;
        z-index: 20;
        transform-style: preserve-3d;
        @include md {
            width: 100%;
            height: 70vh;
            position: sticky;
            top: 15vh;
            // border: 2px solid blue;
        }
        // about images
        .about-img {
            border: none;
            // border: 2px solid blue;
            width: 100%;
            height: 100%;
            margin-inline: auto;
            position: relative;
            border-radius: .25rem;
            transition: .5s ease;
            transform: preserve-3d;
            overflow: hidden;
            
            img {
                $fade-speed: 2s;
                position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: .25rem;
                transition: 1s;
                animation: fade-1 4s infinite;
                    @keyframes fade-1 {
                        50% {
                            opacity: 0;
                        }
                    }
                
                &.about-img-2 {
                    opacity: 0;
                    object-position: top;
                    animation: fade-2 4s infinite;
                    @keyframes fade-2 {
                        50% {
                            opacity: 1;
                        }
                    }
                }

                // DESKTOP IMAGE
                @include sm {
                    object-fit: contain;
                }
            }

            &:hover {
                img {
                    opacity: 1;
                    animation: none;
                    &.about-img-2 {
                        opacity: 0;
                        animation: none;
                    }
                    }
                }

    }
    }
}