// contact
#contact {
    .contact {
        flex-direction: column;
        justify-content: start;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
        position: relative;
        transform-style: preserve-3d;
        // section-title
        .contact-header {
            width: 100%;
            height: auto;
            background: $background-light;
            margin-bottom: 50px;
            z-index: 10;
        }
        // end of section-title
        // contact items container
        .contact-items {
            width: 100%;
            @media (min-width: 1024px){
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: nowrap;
                padding: 0 5vw;
                margin: 0 auto;
            }
            // contact-item
            .contact-item {
                // tablet to desktop
            @media (min-width: 1024px){
                width: 30%;
                
            }
            // DATA-SCROLL
            &[data-scroll] {
                transition: 1.5s;
                transform: scale(1);
            }
            // tablet to desktop
                width: 85%;
                /* height: auto; */
                text-align: center;
                // border-radius: 10px;
                padding: .5em;
                margin: 5vh auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                transform: preserve-3d;
                border: none;
                outline: none;
                // transform: scale(.9);
                transition: .8s ease;
                
                // item box shadows
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $overlay-btn;
                    box-shadow: $box-light-top-md;
                    border-radius: 10px;
                    z-index: -2;
                    opacity: 1;
                    transition: .5s ease;
                }
                &:hover {
                    // transform: scale(.98);
                    transform: preserve-3d;

                    // box shadows hover state
                    // &::before {
                    //     opacity: 0;
                    // }

                    // &::after {
                    //     opacity: 1;
                    // }

                    // end of box shadows hover state
                }
                // end of item box shadows
                // item headings (h1)
                h2 {
                    color: $span-gold;
                    padding: .2em .5rem;
                    margin: .2em auto;
                    font-size: 1.5em;
                    width: 70%;
                    font-weight: 600;
                    position: relative;
                    @media (min-width: 768px){
                        font-size: 1.7em;
                        margin: .5em auto;
                    }
                    
                    // heading box shadows
                    // &::before,
                    // &:after {
                    //     content: '';
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     width: 100%;
                    //     height: 100%;
                    //     background-color: $overlay-blue-darker;
                    //     z-index: -1;
                    //     border-radius: 5px;
                    //     transition: .5s ease;
                    //     box-shadow: $box-light-top-sm;
                    // }
                    // end of heading box shadows
                }
                // end of item headings (h1)
                
                // item icon 
                .icon {
                    margin: 5px auto 10px auto;
                    padding: .3em .7em;
                    height: 4em;
                    width: 4em;
                    border: none;
                    background: $overlay-blue-darker;
                    border-radius: 50%;
                    outline: 2px solid $span-gold;
                    position: relative;
                    display: grid;
                    place-items: center;
                    transition: .5s ease;

                    i {
                        font-size: 1.5em;
                        color: $text-light;
                        transform: scale(.8);
                        transition: .5s ease;
                    }
                    @media (min-width: 768px) {
                        height: 80px;
                        width: 80px;
                        // margin: .3em auto;
                        margin: 0;
                        padding: 0;

                        i {
                            font-size: 2em;
                        }
                    }
                }
                // of end of item icon
                // contact-info (h2)
                .contact-info {
                    width: 70%;
                    p {
                        font-size: .8em;
                        line-height: 1.3;
                        font-weight: 600;
                        letter-spacing: .1em;
                        padding:  1em .5rem;
                        border: none;
                        outline: none;
                        border-radius: 3px;
                        background: $background-light;
                        margin: .5em auto;
                        color: $text-black;
                        transition: .5s ease;
                        position: relative;
                        z-index: -1;

                        span {
                            display: block;
                            margin-top: .2em;
                            color: $text-black;
                            opacity: .8;
                        }
                        
                        @media (min-width: 768px){
                            width: 100%;
                            text-align: center;
                            margin: .5em auto;
                            font-size: .9em;
                        }
                        // end of details shadow
                    }
                    // end of h2
                    // form link
                    a {
                        width: 100%;
                        font-size: .8em;
                        line-height: 2rem;
                        display: inline-block;
                        letter-spacing: .1em;
                        padding: .2em .5em;
                        border-radius: 20px;
                        margin: .7em auto;
                        background: linear-gradient(0deg, #581212, #dc134c);
                        color: $text-white-e;
                        cursor: pointer;
                        transition: .3s ease;
                        position: relative;
                        box-shadow: $box-light-top-sm;
                        
                                    &:hover {
                                        transform: scale(.97);
                                        transition: .2s;
                                    }
                                    &:active {
                                        transform: scale(.9);
                                        transition: .2s;
                                    }
                        
                        i {
                            font-size: 1.5em;
                            position: relative;
                            transform: translateY(100%);
                            opacity: 0;
                            transition: 1s ease;
                            transition-delay: .15s;
                        }
                    }
                    // end of form link

                }
                // end of contact-info (h2 and a)
                // cursors
                &:nth-child(1){
                    cursor: help;
                }
                &:nth-child(2){
                    cursor: alias;
                }
                &:nth-child(3){
                    cursor: alias;
                }
                // item shadows hover state
                &:hover {
                    .icon {
                        outline: 2px dashed $span-gold;
                        outline-offset: -.5em;
                        i {
                            color: $span-gold;
                            transform: scale(1);
                        }
                    }
                    
                    .contact-info {

                        a {
                            opacity: 1;

                            i {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }
                }
                // end of item shadows hover state
            }
            // end of contact-item
        }
        // contact items container

    }
}
// end of contact 