// contact
#contact {
    padding-bottom: 0;
    .contact {
        flex-direction: column;
        justify-content: start;
        width: 100%;
        margin: 0 auto;
        // padding-bottom: 30px;
        padding: 0vh 5vw 5vh;
        position: relative;
        transform-style: preserve-3d;
        // border: 2px solid red;
        // section-title
        .contact-header {
            width: 100%;
            height: auto;
            background: $background-light;
            margin-bottom: 5vh;
            z-index: 10;
        }
        // end of section-title
        // contact items container
        .contact-items {
            width: 100%;
            @media (min-width: 1024px){
                // border: 2px solid red;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: nowrap;
                padding: 0 5vw;
                padding: 0 0;
                margin: 0 auto;
            }
            // contact-item
            .contact-item {
                // border: 2px solid $overlay-blue-darker;
                width: 100%;
                text-align: center;
                border-radius: .5rem;
                margin: 5vh auto;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                gap: 1rem;
                transform: preserve-3d;
                overflow: hidden;
                color: $overlay-blue-darker;
                transition: .8s ease;
                @include sm {
                    gap: 1rem;
                }
                .title {
                    // border: 2px solid blue;
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: left;
                    justify-content: space-evenly;
                    background: $overlay-blue-darker;
                    padding: .5rem;
                    flex-basis: 35%;
                    border-radius: .5rem;

                    @include md {
                        flex-basis: 40%;
                        align-items: center;
                        padding: 1rem;
                    }

                    // ITEM ICON
                    .icon {
                        margin: .5rem auto 1rem;
                        padding: .3em .7em;
                        height: 4em;
                        width: 4em;
                        border: none;
                        background: $overlay-blue-dark;
                        border-radius: 50%;
                        outline: 2px solid #fff2;
                        position: relative;
                        display: grid;
                        place-items: center;
                        transition: .5s ease;

                        i {
                            font-size: 1.5rem;
                            color: $text-light;
                            transform: scale(.8);
                            transition: .5s ease;
                            opacity: .8;
                        }

                        @media (min-width: 768px) {
                            height: 4rem;
                            width: 4rem;
                            // margin: .3em auto;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    h3 {
                        color: $text-light;
                        color: $brand;
                        font-size: .85rem;
                        font-weight: 600;
                        position: relative;
                        text-transform: uppercase;

                        @media (min-width: 768px) {
                            font-size: 1rem;
                            margin: .5em auto 0;
                        }

                    }
                }
                // CONTACT DETAILS
                .contact-info {
                    // width: 100%;
                    flex-basis: 70%;
                    // border: 2px solid green;
                    h4 {
                        text-transform: capitalize;
                        text-align: left;
                        margin-bottom: .25rem;
                    }
                    p {
                        font-size: 1rem;
                        font-weight: 500;
                        // background: $background-light;
                        // margin: .5em auto;
                        margin-bottom: .5rem;
                        color: $overlay-blue-darker;
                        transition: .5s ease;
                        position: relative;
                        text-align: left;
                        z-index: -1;

                        span {
                            display: block;
                            margin-top: .2em;
                            color: $text-black;
                            color: inherit;
                            opacity: .8;
                        }
                        
                        @media (min-width: 768px){
                            width: 100%;
                            // text-align: center;
                            margin: .5em auto;
                            font-size: .9em;
                        }
                        // end of details shadow
                    }
                    // LINK
                    a {
                        display: block;
                        width: 10rem;
                        font-size: .95rem;
                        letter-spacing: .05rem;
                        // padding: .7rem;
                        padding: .7rem;
                        border-radius: .5rem;
                        // margin: .5rem auto;
                        color: $text-light;
                        text-transform: capitalize;
                        cursor: pointer;
                        transition: .25s ease;
                        position: relative;
                        isolation: isolate;
                        // BUTTON PSEUDO BG
                        &::before, &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: .5rem;
                            background: $span-crimson;
                            transition: .25s;
                            z-index: -1;
                        }
                        &::before {
                            background: $button-crimson;
                            box-shadow: $box-light-top-sm;
                        }
                        &::after {
                            background: $button-crimson-hover;
                            box-shadow: $box-dark-top-sm;
                            opacity: 0;
                        }
                        // BUTTON MEDIA QUERY
                        // DESKTOP HOVER
                        @media (min-width: 820px){
                            &:hover {
                                letter-spacing: normal;
                                transform: scale(.98);
                                &::before {opacity: 0;}
                                &::after {opacity: 1;}
                            }
                        }
                        // MOBILE ACTIVE CLASS
                        @media (max-width: 820px){
                            &:active {
                                letter-spacing: normal;
                                transform: scale(.98);
                                &::before {opacity: 0;}
                                &::after {opacity: 1;}
                            }
                        }


                        i {
                            font-size: 1rem;
                            position: relative;
                            transform: scale(.7) translateX(.5rem);
                            opacity: .3;
                            margin-left: .5rem;
                            transition: 1s ease;
                            transition-delay: .15s;
                        }
                    }
                    // end of form link

                }
                // end of contact-info (h2 and a)
                // cursors
                &:nth-child(1){
                    cursor: help;
                }
                &:nth-child(2){
                    cursor: alias;
                }
                &:nth-child(3){
                    cursor: alias;
                }
                // item shadows hover state
                &:hover {
                    .icon {
                        outline: 2px solid #fff1;
                        i {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                    
                    .contact-info {

                        a {
                            opacity: 1;

                            i {
                                opacity: 1;
                                transform: translateY(0);
                                transition: .25s;
                            }
                        }
                    }
                }
                // end of item shadows hover state
            }
            // end of contact-item
        }
        // contact items container

    }
}
// end of contact 