.design-container {
    // border: 3px solid red;
    min-height: 100vh;
    background: $overlay-blue-darkest;
    color: $text-light;
}

.design-section {
    min-height: 85vh;
    .box {
        isolation: isolate;
        position: relative;
        border-radius: .125rem;
        padding: .25rem .5rem;
    }
    h2 {
        text-transform: uppercase;
        font-size: 2.25rem;
    }
}

.contrast-section {
    // border: 4px solid yellow;
    height: 80vh;
    display: grid;
    place-items: center;
    background: $overlay-blue-darkest;

    .box {
        // border: 2px solid red;
        isolation: isolate;
        position: relative;
        // background: #fff;
        border-radius: .25rem;
        padding: .25rem 1rem;
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: $brand;
            background: #ddd;
            z-index: -1;
            border-radius: inherit;
            transition: 1.5s ease;
            animation: con-box 5s infinite;
            @keyframes con-box {
                50% {
                    transform: translateX(2.5rem);
                }
            }
        }
        h2 {
            text-transform: uppercase;
            font-size: 2.25rem;
            color: $text-light;
            mix-blend-mode: difference;
            transition: 1.5s;
            animation: con-h2 5s infinite;
            @keyframes con-h2 {
                50% {
                    transform: translateY(-110%);
                }
            }
        }
    }
}

.repeat-section {
    height: 80vh;
    display: grid;
    place-items: center;
    // border: 2px solid $span-crimson;
    overflow: hidden;
    padding: 5vh 5vw;
    margin: 10vh 5vw;
    border-radius: .125rem;
    background: $overlay-blue-darker;
    h2 {
        color: $brand;
        color: #fff5;
        transition: .5s;
        span {
            color: $span-crimson;
            transition: 1s;
            &.io-item {
                color: inherit;
            }
            &.active-item {
                color: $span-crimson;
                transition: 1.5s;
            }
        }
        &:nth-child(2) {
            transform: translateX(-1.5rem);
        }
        &:nth-child(3) {
            transform: translateX(-3rem);
        }
        &:nth-child(4) {
            transform: translateX(-4.8rem);
        }
        &:nth-child(5) {
            transform: translateX(-6.25rem);
        }
        &:nth-child(6) {
            transform: translateX(-7.25rem);
        }
        &:nth-child(7) {
            transform: translateX(-8.25rem);
        }
        &:nth-child(8) {
            transform: translateX(-9.5rem);
        }
        &:nth-child(9) {
            transform: translateX(-10.6rem);
        }
        &:nth-child(10) {
            transform: translateX(-12.25rem);
        }
    }


}

.align-section {
    // border: 2px solid blue;
    padding: 10vh 5vw;
    height: 80vh;
    max-height: 550px;
    background: $overlay-blue-darkest;
    .box {
        background: $overlay-blue-darker;
        // border: 2px solid $brand;
        // display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 400px;
        margin-inline: auto;
        
        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            color: $text-light;
            letter-spacing: -.05rem;
            transition: 5s ease forwards;

            @keyframes align {
                0%, 100% {
                    transform: translateX(-50%) translateY(-50%);
                }
                10% {
                    transform: translateX(-30%) translateY(-30%);
                    opacity: .1;
                }
                25% {
                    transform: translateX(-35%) translateY(-30%);
                    
                }
                35%{
                    transform: translateX(-35%) translateY(-40%);
                    opacity: .5;
                }
                50%{
                    transform: translateX(-40%) translateY(-40%);
                }
                65%{
                    transform: translateX(-45%) translateY(-65%);
                    opacity: .7;
                }
                100%{
                    opacity: 1;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
        }

        h3 {
            position: absolute;
            opacity: .1;
            text-transform: uppercase;
            font-size: 2rem;
            left: 50%;
            transform: translateX(-50%);
            &:nth-child(2){
                writing-mode: vertical-rl;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(3){
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &:nth-child(4){
                writing-mode: vertical-lr;
                transform: rotate(180deg);
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &.io-item {
            h2 {
                opacity: .2;
            }
        }
        &.active-item {
            h2 {
                animation: align 5s forwards;
            }
        }

    }
}

.prox-section {
    padding: 10vh 5vw;
    display: grid;
    place-items: center;

    .box {
        display: grid;
        gap: 5vh;
        text-align: center;
        @include lg {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10vw;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: -10vh;
                left: 0;
                width: 100%;
                height: .25rem;
                background: linear-gradient(90deg, transparent, #fff1, transparent);
            }
        }
    }

    h2 {
        margin-bottom: 1rem;
        letter-spacing: -.05rem;
        text-transform: lowercase;
    }
    p {
        font-weight: 400;
        text-transform: uppercase;
    }

    .prox-item {
        &.io-item {
            h2 {
                letter-spacing: .25rem;
                transition: 1s ease;
            }

            p {
                opacity: 0;
                transform: translateY(1rem);
                transition: 1s ease;
            }
        }
        &.active-item {
            h2 {
                letter-spacing: 0;
                transition: 1s ease;
            }

            p {
                opacity: 1;
                transform: translateY(0);
                transition: 1s ease .5s;
            }
        }
    }

    .item-1 {
        color: $brand;
    }
    .item-2 {
        color: $text-light;
    }
    .item-3 {
        color: $brand;
    }
}