// header
.header {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 8vh;
    // overflow: hidden;
    isolation: isolate;
    // PSEUDO BACKGROUND COLOR
    &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: $overlay-blue-darker;
        z-index: -1;
        opacity: 0;
        transition: .25s;
    }
    // DESKTOP HEADER HEIGHT
    @media (min-width: 1024px) {
        height: 15vh;
        // border: 2px solid red;
        overflow: hidden;
    }
    // INTERSECTION CLASS
    // HERO IO
    // TRANSPARENT BACKGROUND AND NO LOGO IN DISPLAY
    &.hero-header {
        .navbar {
            background: transparent;
            #nav {
                .logo {
                    transform: translateY(-10vh);
                }
            }
        }
    }
    // MAIN IO
    &.header-io {
        // background-color: $overlay-blue-darker;
        transition: background-color .25s;
        transition: all .25s;
        &::after {
            opacity: 1;
        }
        @media (min-width: 1024px) {
            height: 8vh;
            transition: .25s;
            border: none;

            #nav {
                .nav-list {
                    ul {
                        // transform: translateY(1rem);
                        // height: inherit;
                    }
                    .contact-links {
                        transform: translateY(-100vh);
                        display: none;
                    }
                }
            }
        }
        .header {
            #nav {
                .logo {
                    opacity: 1;
                    transform: translateY(0);
                    transition: 1s;
                }

                .nav-list {
                    ul {
                        li {
                            opacity: 1;
                        }
                    }

                }

                
            }
        }
        // DARK HEADER BACKGROUND WHEN SIDEBAR VISIBLE
        &.active-header {
            background: $overlay-blue-dark;
            #nav {
                .logo {
                    transform: translateY(0);
                }
            }
        }
    }
    // END OF INTERSECTION CLASS

    .navbar {
        height: 100%;
        transition: 1s ease background-color;
        
        #nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            // border: 2px solid red;
            padding: .5rem 5vw;
            z-index: 5;
            @media (max-width: 1024px) {
                padding: 0 5vw;
            }
            // HEADER LOGO
            .logo {
                transition: 1s ease;
                opacity: 1;
                // transform: translateY(-11vh);
                transition: 1s;
                p {
                    @media (min-width: 768px) {
                        font-size: 1.25rem;
                    }
                    font-size: 1rem;
                    font-family: $font-title;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: $text-light;
                    background-color: $overlay-blue-darkest;
                    border: 1px solid #fff2;
                    padding-left: .2rem;
                    border-radius: .25rem;
                    overflow: hidden;
                    transition: .5s;
                    // text-shadow: 0 0 5px $text-shadow-red;

                    span {
                        padding-right: .2rem;
                        background: $button-gold;
                        background: linear-gradient( #f4f4f4, #fff);
                        background: inherit;
                        color: $brand;
                        border-radius: 0;
                        // padding: .05rem .3rem .05rem .05rem;
                        // background: $span-gold;
                        // background: $text-light;
                        // font-weight: 600;
                        // font-size: inherit;
                        // color: inherit;
                        // border-top-right-radius: .25rem;
                        // border-bottom-right-radius: .25rem;
                        transition: .2s;
                    }

                }
            }
            .nav-list {
                
                // MOBILE NAV CONTAINER
                .links-container {
                    @media (max-width: 1024px) {
                        position: absolute;
                        top: 7vh;
                        left: 100%;
                        width: 100vw;
                        height: 100vh;
                        background-color: $nav-active-background;
                        transition: .5s ease;
                        // overflow-y: auto;
                        z-index: 5;

                        ul {
                            margin: .5rem 5vw;
                            background: $overlay-blue-dark;
                            padding: .5rem 0;
                            height: max-content;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: right;
                            border-radius: .5rem;
                            z-index: 1;
                            transition: 0.5s ease left;
                            position: relative;
                            // border: 2px solid $border;
                            outline: none;
                            overflow-y: auto;
                            overflow-x: hidden;

                            // list items active transition
                            li {
                                // border: 2px solid $border;
                                transform: translateX(10%);
                                opacity: 0;
                                transition: .3s;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                margin: 0 auto .25rem;
                                width: 95%;

                                a {
                                    // border: 1px solid yellow;
                                    margin-right: auto;
                                    padding: 0;
                                    width: 50%;
                                    display: block;
                                    font-weight: 400;
                                    font-family: $font-content;
                                    font-family: $font-title;
                                    text-transform: capitalize;

                                    // LINK HOVER EFFECT
                                    &::after {
                                        content: attr(data-after);
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%) scale(0);
                                        color: #f0f8ff1a;
                                        font-size: 2.5rem;
                                        letter-spacing: 1rem;
                                        z-index: -1;
                                        transition: 0.3s ease letter-spacing;
                                    }
                                }

                                i {
                                    width: 2.5rem;
                                    text-align: center;
                                    // margin-right: 1em;
                                    padding: .5rem;
                                    color: $text-light;
                                    // opacity: .8;
                                    // border: 1px solid $span-gold;

                                }
                            }
                        }

                        // CONTACT LINKS
                        .contact-links {
                            // border: 2px solid red;
                            background: $overlay-blue-dark;
                            overflow-x: hidden;
                            overflow-y: auto;
                            margin: 1rem 5vw;
                            display: flex;
                            flex-direction: column;
                            padding: 1rem;
                            border-radius: .5rem;

                            a {
                                opacity: 0;
                                transform: translateY(1rem);
                                color: $text-light;
                                font-size: 1rem;
                                // letter-spacing: .1rem;
                                margin-bottom: 1rem;
                                transition: .5s;

                                i {
                                    color:$span-gold;
                                    color: $light-span;
                                    margin-right: .2rem;
                                    width: 1.5rem;
                                    border-right: 1px solid #fff4;
                                }
                            }
                        }

                        // active mobile  navbar
                        &.active {
                            left: 0;
                            z-index: 50;

                            .nav-logo {
                                transition: 1.5s;
                                opacity: 1;
                                transform: translateX(0);

                            }

                            ul {
                                li {
                                    transition: .5s;
                                    transform: translateX(0);
                                    opacity: 1;

                                    i {
                                        transition: 1s ease .8s;
                                        // color: $span-gold;
                                    }

                                    &:nth-child(1) {
                                        transition-delay: .3s;
                                    }

                                    &:nth-child(2) {
                                        transition-delay: .4s;
                                    }

                                    &:nth-child(3) {
                                        transition-delay: .5s;
                                    }

                                    &:nth-child(4) {
                                        transition-delay: .6s;
                                    }

                                    &:nth-child(5) {
                                        transition-delay: .7s;
                                    }

                                    &:nth-child(6) {
                                        transition-delay: .8s;
                                    }

                                    &:nth-child(7) {
                                        transition-delay: .9s;
                                    }

                                }
                            }

                            .contact-links {
                                a {
                                    
                                    opacity: 1;
                                    transform: translateY(0);

                                    &:nth-child(1) {
                                        transition-delay: 1s;
                                    }

                                    &:nth-child(2) {
                                        transition-delay: 1.1s;
                                    }

                                    &:nth-child(3) {
                                        transition-delay: 1.15s;
                                    }

                                    &:nth-child(4) {
                                        transition-delay: 1.2s;
                                    }
                                }
                            }
                        }

                        // end of active mobile  navbar
                    }

                    // nav-logo 
                    .nav-logo {
                        margin: .5rem 5vw 1rem;
                        opacity: 1;
                        z-index: 1;
                        // height: auto;
                        width: 10rem;
                        border-radius: 5px;
                        position: sticky;
                        top: .5rem;
                        transform: translateX(50%);
                        transition: 1s ease;
                        outline: none;
                        overflow: hidden;
                        border: 2px solid $border;
                        background: $overlay-blue-dark;

                        img {
                            width: 100%;
                            height: auto;
                        }

                        @media (min-width: 768px) {
                            width: 20%;
                        }
                    }

                }
                ul {
                    // border: 2px solid red;
                    transition: .5s;

                    li {
                        // border-bottom: 1px solid #fff7;
                        list-style: none;
                        display: flex;
                        align-items: center;
                        padding: .25rem;

                        a {
                            text-decoration: none;
                            color: $text-light;
                            text-transform: capitalize;
                            display: block;
                            text-align: left;
                            font-family: $font-content;
                            transition: .2s ease-in-out;
                            // border: 1px solid red;
                            // width: 40%;
                            // end of link text on hover

                        }

                        i {
                            margin-right: .5em;
                            padding: 0;
                            text-align: left;
                            // color: $text-white-trans;
                            border-radius: 5px;
                            // border: 1px solid $text-light;
                            background: $overlay-blue-darker;
                            // box-shadow: $box-light-top-sm;
                        }

                        // li hover state
                        &:hover {
                            transition: .3s;

                            a {
                                color: $link-gold;

                                i {
                                    color: $link-gold;
                                }
                            }
                        }

                        // end of li hover state
                        &:hover {
                            a {
                                &::after {
                                    transform: translate(-50%, -50%) scale(1);
                                    letter-spacing: initial;
                                }
                            }
                        }
                    }
                }
                // end of mobile screens style
                // DESKTOP NAVLIST
                @media (min-width: 1025px){
                    // border: 2px solid yellow;
                    height: 100%;
                    // hide nav avi on desktop
                        .nav-logo { display: none;}
                    // end of hide nav avi on desktop
                    // remove hamburger from desktop view
                    .hamburger {
                        display: none;
                    }
                    // end of remove hamburger from desktop view
                    ul {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        gap: .5rem;
                        height: auto;
                        width: fit-content;
                        width: 100%;
                        // overflow: hidden;
                        background-color: transparent;
                        // border: 1px solid red;

                        li {
                            position: relative;
                            display: flex;
                            // margin-right: .5rem;
                            // border: 2px solid yellow;
                            align-items: center;
                            // list item underline
                            &::before {
                                position: absolute;
                                content: '';
                                bottom: -.2rem;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0%;
                                opacity: 0;
                                height: 2px;
                                background-color: $link-gold;
                                transition: .3s ease;
                            }
                            
                            &:hover {
                                &::before {
                                    width: 50%;
                                    opacity: 1;
                                }
                            }
                            // end of list item underline
                            
                            a {
                                font-size: 1rem;
                                padding: .25rem;
                                font-weight: 400;
                                margin: 0 auto;
                                display: block;
                                letter-spacing: normal;
                                float: left;
                                color: $text-light;

                                &::after {
                                    display: none;
                                }
                            }
                            i {
                                display: none;
                                // color: #fffa;
                                // margin-right: .1em;
                                // padding: .3rem .5em;
                                // font-size: 1em;
                                // border-radius: 5px;
                            }
                            // links and icon hover state
                            &:hover {
                                a {
                                    transition: .3s ease;
                                    color: $link-gold;
                                }
                                i {
                                    transition: .3s;
                                    color: $span-gold;
                                }
                            }
                            // links and icon hover state
                            &:focus {
                                &::before {
                                    width: 30%;
                                    opacity: 1;
                                }
                                a {
                                    color: $span-gold;
                                }
                                i {
                                    color: $span-gold;
                                }
                            }
                            &.active {
                                a {
                                color: $span-gold;
                                }
                                i {
                                    color: $span-gold;
                                }
                            }
                        }
                        &.active {
                            background: none;
                            box-shadow: none;
                            
                        }
                    }
                    
                    .contact-links {
                        width: 100%;
                        // border: 2px solid red;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 1rem;
                        padding: .5rem;

                        a {
                            color: $text-light;
                            letter-spacing: .05rem;
                            font-size: .9rem;
                            opacity: .7;
                            transition: .25s;

                            i {
                                padding-right: .25rem;
                                // transform: translateX(-.5rem);
                                transition: .25s;
                            }

                            &:hover {
                                opacity: 1;
                                // text-decoration: underline $span-gold;
                                i {
                                    transform: translateX(0);
                                    color: $span-gold;
                                }
                            }
                        }
                    }

                }
                // end of desktop nav-list style
            }
        }
    }
}
// end of header