// HERO
#home {
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(0deg, red 20%, $overlay-blue-dark 40%);
    background: linear-gradient( $overlay-blue-darkest 20%, $overlay-blue-dark 60%);
    background: $overlay-blue-darkest;
    background: #000;
    position: relative;
    z-index: 1;
    overflow: hidden;
    // MOBILE HERO IMG
    @media (max-width: 1024px){
        
        &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-image: url('../hero/ales-nesetril-Im7lZjxeLhg-unsplash-bg.jpg');
                background-repeat: no-repeat;
                // background-position: center left;
                background-position: bottom;
                background-size: 70%;
                @media (max-width: 450px){
                    background-size: 150%;
                background-position: 50% bottom;
                }
                // mix-blend-mode: overlay;
                // opacity: .9;
                // background: radial-gradient(transparent, #000);
        }
    }
    // DESKTOP HERO IMAGE
    @media (min-width: 1024px){
        background-image: url('../hero/ales-nesetril-Im7lZjxeLhg-unsplash-bg.jpg');
        background-position: center left;
        background-position: 10% 50%;
        background-attachment: fixed;
        // animation: desktopIntro 8s linear 4s ;
        &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: radial-gradient(transparent, #000);
        }

        @keyframes desktopIntro {
            0% {
                background-position: 50% 50%;
            }

            100% {
                background-position: 10% 50%;
            }
        }
    }
    
    .hero {
        overflow: hidden;
        position: relative;
        
        // HERO IMAGE CONTAINER WITH OVERLAY BLEND MODE
        .hero-bg {
            @media (min-width: 1024px){
                display: none;
            
            }
            // border: 2px solid red;
            position: absolute;
            position: relative;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            // mix-blend-mode: overlay;
            isolation: isolate;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .45);
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
                object-position: 15%;
                // animation: intro 4s ease-out 6.5s;
                @keyframes intro {
                    0% {
                        // transform: scale(1.5);
                        // transform: scale(2.5);
                        object-position: 40%;
                    }
                    100% {
                        // transform: scale(1);
                    }
                }
            }
        }
        // ANIMATED INTRO
        #hero-h1 {
            // margin: 1em auto;
            background: transparent;
            padding: 5vh 0; 
            border-radius: 5px;
            position: absolute;
            // border: 1px solid #fff;
            // overflow-y: hidden;
            // width: max-content;
            text-transform: capitalize;
            top: 6vh;
            left: 5vw;
            
            @media (min-width: 600px) {
                top: 12vh;
            }

            h1 {
                font-size: 2.5rem;
                line-height: 1.4;
                display: block;
                width: fit-content;
                color: $text-white-e;
                // font-family: 'Philosopher', sans-serif;
                
                span {
                    font-family: $font-title;
                    font-weight: 500;
                    display: inline-block;
                    color: $text-light;
                    text-align: left;
                    // font-size: 2rem;
                    margin: .5rem 0 0;
                    line-height: 1.3;
                    // opacity: 0;
                    // animation: hero-span 5s ease-in-out;
                    // animation-fill-mode: forwards;
                    // animation-delay: calc(9s + .5s * var(--s));
                    // transition: 1s;
                    // transform-style: preserve-3d;
                    @media (min-width: 768px) {
                        font-size: 3rem;
                    }
                    /* HERO H1 INTRO ANIMATION */
                    @keyframes hero-span {
                        10% {
                            opacity: 1;
                            transform: translateX(10px);
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                }
            }
                // "AKA" SPAN
                #aka {
                    span {
                        display: inline-block;
                        font-size: 1.25rem;
                        position: relative;
                        color: #ddd;
                        margin-top: .5rem;
                        // opacity: 0;
                        // animation: aka 5s ease alternate;
                        // animation-delay: 12s;
                        // animation-fill-mode: forwards;
                        // transform: scale(0.7);
                    }

                    @keyframes aka {
                        10% {
                            transform: translateX(1rem);
                            opacity: 1;
                        }
                        100% {
                            opacity: .8;
                        }
                    }
                }
            
        }

        // end of animated h1 
        // welcome section button & shadow
        #cta-header {
            margin: 7vh 0 1rem;
            margin: 2rem 0 0;
            @media (max-width: 389px){
                // margin: 12vh 0;
            }
            @media (min-width: 768px) {
                font-size: 1.5em;
                width: 20rem;
                text-align: center;
            }
            background: $span-crimson;
            
            position: relative;
            display: block;
            text-align: left;
            padding: .5em 2rem .5rem 1rem;
            width: auto;
            width:max-content;
            border-radius: 1rem;
            border: none;
            outline: none;
            // opacity: 0;
            // transform: translateX(-10vw);
            // transform-style: preserve-3d;
            // animation: show-cta 3s ease-in-out 13s;
            // animation-fill-mode: forwards;
            transition: .3s linear;
            cursor: pointer;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
            z-index: 2;

            // show cta
            @keyframes show-cta {
                60% {
                    opacity: 1;
                    // transition: ease-out;
                    transform: scale(1) translateX(2rem);
                }
                100% {
                    opacity: 1;
                    // transition: ease-in;
                    transform: translateX(0);
                }
            }

            // end of show cta
            // button shadows
            &::before,
            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                // border-top-right-radius: 5rem;
                // border-bottom-right-radius: 1rem;
                transition: .3s ease;
                border: none;
                outline: none;
            }

            // ::before = box shadow
            &::before {
                box-shadow: $box-light-top-sm;
                background: $button-crimson;
                // background: linear-gradient(0deg, #581212, #dc134c);
            }
            &::after {
                opacity: 1;
                z-index: -1;
                animation: 3s cta-btn infinite;
                animation-delay: 6s;
                transition: .3s;
                outline: none;
                border: none;
                background: $button-crimson-hover;
                // background: linear-gradient(0deg, #dc134c, #581212);
                box-shadow: $box-light-top-sm-hover;
            }

            // end of button shadows
            // animated button text 
            span {
                position: relative;
                display: inline-block;
                text-transform: none;
                color: $text-light;
                font-family: $font-content;
                font-family: $font-title;
                font-size: 2.5rem;
                font-weight: 500;
                animation: animate 3s ease-in-out infinite;
                animation-delay: calc(8s + .2s * var(--i));

                /* cta keyframes*/
                @keyframes animate {
                    0% {
                        transform: translateY(0px);
                    }

                    20% {
                        transform: translateY(-10px) scale(1.1);
                    }

                    40%,
                    100% {
                        transform: translateY(0);
                    }
                }

                /* end of cta keyframes*/
            }

            // end of animated button text 

            // HOVER AND ACTIVE CLASS
            @media (max-width: 820px) {
                &:active {
                    transition: .2s;
                    transform: scale(.95);
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
            }
            // DESKTOP HOVER
            @media (min-width: 820px) {
                &:hover {
                    transition: .2s;
                    transform: scale(.95);
                    border-top-right-radius: 5rem;

                    &::before {
                        border-top-right-radius: 5rem;
                        opacity: 0;
                    }

                    &::after {
                        border-top-right-radius: 5rem;
                        opacity: 1;
                    }
                }
            }
            // end of button hover, focus and active states
        }

        // SLOGAN 
        .slogan {
            // border: 1px solid #fff;
            position: absolute;
            top: 7vh;
            left: 5vw;
            // padding: 0 5vw;
            width: 100%;
            // opacity: 0;
            // animation: slogan 5s linear 14s forwards;

            p {
                font-size: 1rem;
                text-transform: capitalize;
                text-align: center;
                text-align: left;
                a {
                    color: $span-gold;
                    color: #fff7;
                    // text-decoration: underline;
                }
            }

            // DESKTOP SLOGAN
            @media (min-width: 1024px) {
                top: 15vh;
                // left: 50%;
                // transform: translateX(-50%);
                p {
                    text-align: center;
                    text-align: left;
                }
            }

            // REVEAL SLOGAN ANIAMTION
            @keyframes slogan {
                100% {
                    opacity: 1;
                }
            }
        }
    }
}
// END OF HERO

// MENU 
#menu {
    // border: 2px solid yellow;
    min-height: 100vh;
    padding: 0;
    z-index: 5;
    .menu-section {
        border-bottom: 2px solid#000;
        height: 100vh;
        padding: 10vh 0;
        background-color: $overlay-blue-dark;
        position: relative;
        text-align: center;
        text-align: left;
        isolation: isolate;
        // GENERAL MENU IMG STYLE
        .menu-img {
            figure {
                // overflow: hidden;
                // border: 1px solid green;
                width: 100%;
                height: 100%;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                
                
            }
            
            // INTERSECTION OBSERVER CLASSES
            &.io-item {
                img {
                    transform: scale(.5);
                    transition: .3s;
                }
            }
            &.active-item {
                // FIGURE ANIMATIONS = CLASS = .FIG
                // RESPONSE STYLE
                figure {
                &.fig-response {
                    animation: responseTransition 5s infinite;
                    @keyframes responseTransition {
                        5% {
                            transform: scaleY(140%);
                        }
                        30% {
                            transform: scaleX(110%);
                        }
                        40% {
                            transform: scaleY(1);
                        }
                    }
                }
                // IMMERSIVE STYLE
                &.fig-js {
                    img {
                        filter: drop-shadow(0 .5rem .15rem #000);

                        transform-style: preserve-3d;
                        animation: cssTransition 3s infinite;
                        @keyframes cssTransition {
                            50% {
                                filter: drop-shadow(.5rem 1rem .25rem rgba(0,0,0,.250));
                                transform: rotateY(10deg) scale(1.08);
                            }
                        }
                    }
                }
                // ENGAGING STYLE
                &.fig-css {
                    img {
                        animation: imageTransition 3s infinite;
                        filter: drop-shadow(.5rem .5rem .15rem #000);
                        transform-style: preserve-3d;
                        transition: 1s;
                    }
                    // FIGURE ANIMATION KEYFRAMES
                    @keyframes imageTransition {
                        50% {
                            filter: drop-shadow(0 1rem .25rem #000);
                            transform: translateY(-2rem) rotateY(10deg);
                        }
                    }
                }
            }
                // IMAGE ZOOMS IN ON IO
                img {
                    transition: 1s ease-out;
                    transform: scale(1);
                }
            }
        }
        // GENERAL CONTENT DIV STYLE
        .menu-content {
            .menu-title {
                overflow: hidden;
                h2 {
                    text-transform: capitalize;
                    color: #fff;
                    margin-bottom: .5rem;
                    font-weight: 700;
                    // font-family: $font-title;
                }

                p {
                    color: #f4f4f4;
                }
                // INTERSECTION OBSERVER CLASSES
                &.io-item {
                    h2 {
                        opacity: 0;
                        transform: translateY(5vh);
                        transition: .3s;
                    }
                    p {
                        opacity: 0;
                        transform: translateY(-5vh);
                        transition: .3s;
                    }
                }

                &.active-item {
                    h2 {
                        opacity: 1;
                        transform: translateY(0);
                        transition: 1s;
                    }
                    p {
                        opacity: 1;
                        transform: translateY(0);
                        transition: 1s;
                    }
                }
            }

            .menu-cta {
                .btn {
                    color: $span-gold;
                    display: none;
                }

                .page-btn {
                    width: 10rem;
                    color: #fff;
                    text-transform: capitalize;
                    border: none;
                    border-radius: .5rem;
                    padding: .5rem 1rem;
                    letter-spacing: .05rem;
                    text-align: center;
                    transition: .25s;
                    position: relative;
                    isolation: isolate;
                    // BUTTON PSEUDO BG & SHADOW
                    &::before, &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: .25s;
                        border-radius: .5rem;
                        z-index: -1;
                    }
                    &::before {
                        background: $button-crimson;
                        box-shadow: $box-light-top-sm;
                    }
                    &::after {
                        background: $button-crimson-hover;
                        box-shadow: $box-light-top-sm-hover;
                        opacity: 0;
                    }
                    // DESKTOP HOVER
                    @media (min-width: 820px){
                        width: 15rem;
                        padding: .7rem 1rem;
                        &:hover {
                            transform: scale(.98);
                            letter-spacing: normal;
                            &::before {opacity: 0;}
                            &::after {opacity: 1;}
                        }
                    }
                    // MOBILE ACTIVE CLASS
                    @media (max-width: 820px){
                        &:active {
                            transform: scale(.98) translateX(-50%);
                            letter-spacing: normal;
                            &::before {opacity: 0;}
                            &::after {opacity: 1;}
                        }
                    }
                }
            }
        }
        // MOBILE MENU SECTION
        @media (max-width: 1024px){
            // POSITION IMG DIV IN THE MIDDLE OF EACH MENU SECTION
            .menu-img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 19rem;
                height: 19rem;
            }
            
            .menu-content {
                .menu-title {
                    text-align: center;
                }
                .menu-cta {
                    position: absolute;
                    bottom: 20vh;
                    left: 50%;
                    transform: translateX(-50%);
                    // border: 1px solid red;
                    width: 19rem;
                    display: flex;
                    justify-content: space-between;
                    gap: .5rem;

                    .btn {
                        width: 100%;
                        
                    }
                    .page-btn {
                        position: absolute;
                        bottom: -10vh;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }

        // DESKTOP MENU SECTION STYLE
        @media (min-width: 1024px) {
            .menu-img {
                position: absolute;
                right: 5vw;
                top: 50%;
                transform: translateY(-50%);
                // display: none;
                width: 45%;
                height: 50%;
                // overflow: hidden;
                // border: 1px solid#fff;
                border-radius: .5rem;

                figure {
                    position: relative;
                    width: 100%;
                    height: 100%;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            .menu-content {
                width: 50%;
                text-align: center;
                position: relative;
                top: 15vh;
                .menu-title {
                    h2 {
                        font-size: 2rem;
                    }
                }
                .menu-cta {
                    position: relative;
                    top: 20vh;
                    // border: 2px solid red;
                    display: flex;
                    justify-content: center;
                    gap: 1rem;

                    .btn {
                        width: 10rem;
                    }
                }

            }

            background-size: 50%;
            background-position: right;
            background-repeat: no-repeat;
            background-attachment: fixed;
            &::after {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                width: 50%;
                height: 100%;
                background: rgba(0, 0, 0, .3);
                z-index: -1;
            }

            // MENU SECTION DESKTOP IMAGE BACKGROUNDS
            // MENU 1 - RESPONSIVE
            &#menu-1 {
                // background-image: url(../hero/peter-bo-faMPQuSe4Wo-unsplash-bg.jpg);
            }
            // MENU 2 - IMMERSIVE
            &#menu-2 {
                // background-image: url(../hero/walling-XLqiL-rz4V8-unsplash.jpg);
            }
            // MENU 3 - ENGAGING
            &#menu-3 {
                // background-image: url(../img/altumcode-U0tBTn8UR8I-unsplash.jpg);
            }
        }
    }
}