// projects
#projects {
    // border: 2px solid red;
    padding: 0 5vw 10vh;
    // projects container
    .projects {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        background-color: $background-light;
        position: relative;
        
        // project items
        .all-projects {
            // border: 2px solid blue;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10vh;
            z-index: 10;
            // DATA-SCROLL
            &[data-scroll] {
                transition: 1.5s;
                transform: scale(1);
            }
            // project item
            .project-item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column-reverse;
                border: 1px solid $overlay-blue-dark;
                outline: none;
                border-radius: .5rem;
                overflow: hidden;
                box-shadow: .25rem .5rem .6rem rgba(72, 85, 99, .2);
                transition: box-shadow .5s ease;
                
                // project items on desktop : row
                @media (min-width: 768px) {
                    height: 350px;
                    width: 100%;
                    flex-direction: row;
                    position: relative;

                    &:nth-child(even) {
                        flex-direction: row-reverse;
                    }
                }
                overflow: hidden;
                // project tile
                .project-tile {
                    // border: 3px solid $span-gold;
                    @media (min-width: 768px){
                        // flex-basis: 50%;
                        padding: 2em;
                    }

                    padding: 1.5rem 1rem;
                    flex-basis: 50%;
                    width: 100%;
                    height: 100%;
                    line-height: 1.2em;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    // background-color: $overlay-blue-dark;
                    background: $overlay-dark;
                    // project Title (h1)
                    h3 {
                        font-size: 1.15rem;
                        width: 100%;
                        color: $text-light;
                        @media (min-width: 768px){
                            font-size: 1.5rem;
                        }
                        font-weight: 500;
                        text-transform: capitalize;
                        line-height: 1em;
                        font-family: $font-title;
                        letter-spacing: .05rem;
                        margin-bottom: 1rem;
                        padding-bottom: .5rem;
                        border-bottom: 1px dashed #f4f4f4;
                        
                    }
                    // end of project Title (h1)
                    // project details (h2 and p)
                    h4 {
                        font-size: 1rem;
                        line-height: 1.5;
                        font-weight: 500;
                        margin: .5rem 0;
                        text-transform: capitalize;
                        color: $brand;
                        transition: .3s;
                        @media (min-width:768px){
                            font-size: 1.25rem;
                        }
                    }
                    
                    p {
                        font-size: .9rem;
                        @media (min-width:768px){
                            font-size: 1rem;
                        }
                        font-weight: 400;
                        color: #ffff;
                        margin: .5rem 0;
                    }
                    // end of project details (h2 and p)
                    // project link icon
                    
                    .project-info {
                        color: $text-white;
                        background: $overlay-blue-darker;
                        margin: .5em 0 .5em;
                        padding: .5em;
                        width: 100%;
                        border: none;
                        outline: none;
                        border-radius: .5rem;
                        transition: all .3s ease;
                        // border: 2px solid red;
                        // PROJECT LINK
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            width: 10rem;
                            padding: .5rem;
                            margin: 1rem 0;
                            border-radius: .5rem;
                            font-weight: 500;
                            text-transform: capitalize;
                            color: $text-light;
                            position: relative;
                            isolation: isolate;
                            &::before, &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                transition: .25s;
                                border-radius: .5rem;
                                z-index: -1;
                            }
                            &::before {
                                background: $button-crimson;
                            }
                            &::after {
                                background: $button-crimson-hover;
                                opacity: 0;
                            }
                            i {
                                color: $brand;
                                font-size: .8rem;
                                transition: .25s;
                                opacity: .5;
                                transform: translateX(.25rem) scale(.8);
                            }
                            @media (min-width: 768px){
                                &:hover {
                                    transform: scale(.98);
                                    &::before {opacity: 0;}
                                    &::after {opacity: 1;}
                                    i {
                                        color: $text-light;
                                    }
                                }
                            }
                            @media (max-width: 768px){
                                &:hover {
                                    transform: scale(.98);
                                    &::before {opacity: 0;}
                                    &::after {opacity: 1;}
                                    i {
                                        color: $text-light;
                                    }
                                }
                            }
                        }

                    }
                    // end of project link icon 
                }
                // end of project tile 
                // project image
                .project-img {
                    flex-basis: 50%;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    isolation: isolate;
                    overflow: hidden;
                    border: none;
                    outline: none;
                    transform: scale(1.05);
                    // project image box shadow
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background-image: linear-gradient(60deg, #29323c, 0%, #585563 100%);
                        opacity: .6;
                        transition: .5s;
                        z-index: 3;
                    }
                    // end of project image box shadow
                    // image 
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        transition: 0.5s ease;
                        z-index: 1;
                        overflow: hidden;


                    }
                    // end of image
                    &:hover {
                        &::after {
                            opacity: 0;
                        }
                        transition: 0.5s ease;
                    }
                    @media (min-width: 768px){
                        height: 100%;
                    }
                }
                // end of project image
                // project tech list
                .tech-list {
                    padding: .5em;

                    ul {
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            font-size: .8em;
                            color: $brand;
                            list-style: none;
                            padding: .4em .3em;
                            margin-right: .1em;
                            font-style: italic;
                            letter-spacing: .05em;
                        }
                    }

                }
                // end of project tech list
                // project item img hover state
                &:hover {
                    &.project-item {
                        box-shadow: .2rem .25rem .5rem rgba(72, 85, 99, .35);

                        &::after {
                            opacity: 1;
                        }

                        .project-img {
                            img {
                                transform: scale(1.1);
                            }

                            &::after {
                                opacity: .7;
                            }
                            
                        }

                        .project-tile {
                            .project-info {
                                a {
                                    i {
                                        opacity: 1;
                                        transform: translate(0) scale(1);
                                    }
                                }
                            }
                        }
                    }
                }
                // end of project item img hover state 
            }
            
            // end of project item
        }
        // end of project items
    }
    // end of projects container
} 
// end of projects 