
// skills
#skills {
    border:1px solid red;
    overflow: hidden;

    // skills container
    .skills {
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        background: $overlay;
        background: $background-light;
        
        // skills section-title
        &-header {
            width: 100%;
            height: auto;
            background: #fff;
            z-index: 30;
        }

        // end of skills section-title
        @media (max-width: 768px) {
            // background: $overlay;
            background-size: 200%;
            &::after {
                display: none;
            }
        }
    }
    // end of skills container

    // skills top section
    .skills-top {
        @media (min-width: 1024px){
            width: 90%;
            margin: 5vh 0 2em;
            padding: 5vh 5vw;
            text-align: center;
        }
        // width: 90%;
        // border: 2px solid red;
        text-align: left;
        margin: 0 auto 1rem;
        padding: 1rem .5rem .5rem 1rem;
        padding: 1rem;
        position: relative;
        z-index: 30;
        .skills-info {
        p {
            color: $text-light;
            color: $overlay-blue-dark;
            font-size: .9rem;
            // font-size: 1rem;
            line-height: 1.6;
            @media (min-width: 768px){
                font-size: 1rem;
            }
            background: transparent;
            overflow: hidden;

            span {
                font-size: 1rem;
                font-weight: 600;
                color: inherit;
            }
            
        }
    }
        .skills-drop {
            text-align: center;
            color: $span-gold;
            .skills-drop-p {
                font-weight: 600;
                font-size: .9rem;
            }
        }
        // skills top 'down arrow'
        // &::after {
        //     content: '';
        //     position: absolute;
        //     width: 45px;
        //     height: 45px;
        //     border: none;
        //     top: 100%;
        //     left: 50%;
        //     margin-left: -24px;
        //     margin-top: -24px;
        //     transform: rotate(45deg);
        //     background-image: linear-gradient(135deg, transparent 48%, #3d4955 0%);
        //     transition: .2s;
        //     box-shadow: inset -5px -5px 5px #000a,
        //                 inset 5px 5px 5px #3d495500;
        // }
        // end of skills top 'down arrow'
        
        
    }
    // end of skills top section
    // dropdown section
    .dropdown {
        position: relative;
        margin: 0 auto;
        z-index: 4;

        // SKILLS-TOP DATA-SCROLL
        &[data-scroll] {
            transform: scale(1) translateY(5vh);
            opacity: 1;
        }

        &[data-scroll="in"] {
            transition: 1.5s;
            transform: scale(1) translateY(0);
        }
        // dropdown button
        .dropbtn {
            color: $text-light;
            padding: .5rem 1rem;
            width: 20rem;
            font-size: 1.35rem;
            font-weight: 400;
            cursor: pointer;
            border: none;
            outline: none;
            border-radius: .5rem;
            background: #000a;
            text-align: center;
            text-transform: capitalize;
            transition: .2s;
            font-family: $font-title;
            letter-spacing: .15rem;
            position: relative;
            // overflow: hidden;
            isolation: isolate;

            // dropdown button shadows
            &::before,
            &::after {
                position: absolute;
                content: '';
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: .5rem;
                border: none;
                outline: none;
                transition: .2s;
            }

            &::before {
                background: $button-crimson;
                box-shadow: $box-light-top-sm;
            }

            &::after {
                background: $overlay-btn-hover;
                opacity: 0;
                box-shadow: $box-light-top-sm-hover;
            }

            // BUTTON HOVER AND ACTIVE MEDIA QUERY
            
                &.active {
                    transform: scale(.98);
                    letter-spacing: normal;
                    color: $span-gold;
                    &::before {opacity: 0}
                    &::after {opacity: 1}
                }
            
            // end of box shadow states
            // end of dropdown button shadows

            // DATA-SCROLL
            &[data-scroll] {
                transition: 1.5s;
            }
        }

        // end of dropdown button
        // dropdown content ( ie. skills items)
        .dropdown-content {
            
            // show-contents
            &.show {
                display: block;

            }
            // end of show-contents
            display: none;
            width: 100%;
            z-index: 1;
            justify-content: center;
            align-items: center;
            background: $overlay-blue-light;
            position: relative;
            padding-bottom: 10vh;
            // dropdown content overlay
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, 0.756);
            }
            // end of dropdown content overlay
            // skills items container
            .skills-bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                /*items wrapped onto multiple lines*/
                margin-top: 5vh;
                padding-top: 5vh;

                // skills-items
                .skills-item {
                    flex-basis: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: .5em;
                    background: transparent;
                    background-size: cover;
                    margin: 10vh 5vw;
                    position: relative;
                    z-index: 1;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    border-radius: 10px;
                    height: auto;
                    line-height: 1.3;
                    &[data-scroll="in"]{
                        transition: 1.5s;
                    }
                    isolation: isolate;
                    
                    ul {
                        margin: .2em;
                        padding: .5em;
                        z-index: 5;

                        li {
                            color: #fff;
                            font-size: .9em;
                            text-align: left;
                            margin: .5em;
                            padding: .2em .4em;
                            text-transform: capitalize;
                            
                            a {
                                color: #f4f4f4;
                            }

                            &::marker {
                                color: $span-gold;
                            }
                        }

                    }
                    // skills item overlay
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        border-radius: 10px;
                        width: 100%;
                        background: $overlay;
                        opacity: 0.8;
                        z-index: -1;
                    }
                    // end of skills item overlay
                    // skills-item box shadow
                    &:before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        border-radius: 10px;
                        height: 100%;
                        box-shadow: $box-light-top-sm;
                        // box-shadow: inset 3px 3px 3px #ddda,
                        //     inset -3px -3px 3px #000;
                        z-index: 2;
                    }
                    // end of skills-item box shadow

                    // item icon
                    
                    .icon {
                        display: grid;
                        place-items: center;
                        // icon img
                        img {
                            width: 100%;
                        }
                        // end of icon img
                        i {
                            color:$span-gold;
                            font-size: 3em;
                        }
                        
                        height: 80px;
                        width: 80px;
                        border: none;
                        outline: none;
                        padding: 10px;
                        margin-top: 15px;
                        margin-bottom: 20px;
                        position: relative;
                        isolation: isolate;
                        // icon box shadow and background
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            z-index: -1;
                            box-shadow: 
                                        inset 2px 2px 3px #ddda,
                                        inset -2px -2px 5px #000a,
                                        3px 3px 4px #000;
                            animation: skill-icon 10s linear infinite;

                            @keyframes skill-icon {
                                25% {
                                    box-shadow: 
                                            inset -2px 3px 3px #ddda,
                                            inset 2px -2px 5px #000a,
                                            -3px 3px 4px #000;
                                }
                                50% {
                                    box-shadow: inset 0px -1px 3px #ddda,
                                                inset 0px 2px 5px #000a,
                                                0 2px 4px #000 ;
                                }
                                75% {
                                    box-shadow: inset 2px 0px 3px#ddda,
                                                inset -2px 0px 5px #000a,
                                                -2px 2px 4px #000;
                                }
                            }
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $overlay-blue-dark;
                            border-radius: 50%;
                            z-index: -2;
                            opacity: .4;
                        }
                        // end of icon box shadow
                        
                    }
                    // end of item icon
                    // skills item title (h2)
                    h2 {
                        font-size: 1.5rem;
                        font-weight: 400;
                        color: $span-gold;
                        margin-bottom: .5rem;
                        text-transform: capitalize;
                        font-family: $font-title;
                        text-decoration: underline $span-gold;
                        text-underline-offset: .1em;
                    }
                    // end of skills item title (h2)
                    // skills items on tablets
                    @media (min-width:768px) {
                        flex-basis: 45%;
                        margin: 2.5%;
                        height: 300px;
                    }
                    // end of skills items on tablets
                    // skills items on desktop
                    @media (min-width: 1024px) {
                        flex-basis: 25%;
                        width: 100%;
                        margin: 1.5%;
                        height: 300px;
                        height: 55vh;
                        justify-content: space-evenly;
                        pointer-events: visible;
                        cursor: pointer;
                        transition: .2s;
                        &:hover {
                            transition: .3s;
                            transform: scale(1.05);
                        }

                        h2 {
                            font-size: 1.5em;
                        }
                        ul {
                            li {
                                font-size: 1em;
                                
                            }
                        }
                    }
                    // end of skills items on desktop
                }
                // end of skills-items
            }
            // end of skills items container

        }

        // end of dropdown content ( ie. skills items)
    }
    // end of dropdown section

    // git img 
    .git-img {
        
        &[data-scroll="in"] {
            transition: 2s ease;
            transform: translateY(0);
        }
        margin: 20vh auto 0;
        width: 90%;
        overflow: hidden;
        height: auto;
        transform: translateY(100%);
        
        img {
            width: 100%;
            border-radius: 5px;
            transition: .5s ease;
        }
        @media (min-width: 768px) {
            width: 60%;
            height: auto;
            // margin: 20vh auto 5vh;
        }

        // figure hover state
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
        // end of figure hover state
    }
}
// end of skills
