/*
section containers
progress bar
section title and section title reflect
hamburger 

*/ 

// hamburger toggle
#header .hamburger {
    font-size: 10px;
    height: 3em;
    width: 3em;
    margin: .5rem auto .5rem;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    background: $overlay-blue-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 51;
    cursor: pointer;
    // transform: scale(0.8);
    transition: .25s ease;

    // hamburger pulse
    &.hamburger:after,
    &.hamburger:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: none;
        outline: none;
        transition: .25s ease;
    }
    // hamburger box shadow
    // &.hamburger::after {
    //     opacity: .8;
    //     box-shadow: inset 1px 1px 2px hsla(0, 0%, 87%, 0.300),
    //                 inset -2px -2px 2px rgba(0, 0, 0, 0.450);
    // }
    // end of hamburger box shadow
    // pulse 
    &.hamburger:before {
        border: 1px solid $span-gold;
        border: 1px solid $light-span;
        opacity: 0;
        animation: ham-pulse 2.5s ease infinite;
        @keyframes ham-pulse {
            50% {
                opacity: .5;
            }

            100% {
                opacity: 0;
                transform: scale(1.25);
                // border-color: #fff;
            }
        }
    }
    // end of pulse
    // end of hamburger pulse

    // js header class
    &.no-pulse {
        &.hamburger::before {
            animation: none;
            animation-fill-mode: forwards;
        }
    }
    // end of js header class
    // hamburger states
    &:hover,
    &:focus {
        // box shadow dim on hover
        &::after {
            opacity: .6;
        }
        // end of box shadow dim on hover
        
    }
    &:active {
        transform: scale(.8);
        transition: .25s;  
        // NO PULSE ON ACTIVE STATE
        &::before {
            animation: none;
        } 
    }
    // end of hamburger states
    // hamburger bars
    .bar {
        height: .2em;
        width: 1.5em;
        position: relative;
        background-color: #f4f4f4;
        border-radius: 10px;
        z-index: -1;
        transform-style: preserve-3d;
        // top and bottom bars
        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            border-radius: 10px;
            bottom: 0;
            background-color: #f4f4f4;
            transition: .5s ease;
            transform-style: preserve-3d;
            // transition-property: top, bottom;
        }
        &::before {
            // bottom: .5em;
            transform: translateY(-.5em);
        }
        &::after {
            // top: .5em;
            transform: translateY(.5em);

        }
        // end of top and bottom bars
    }
        // hamburger bars active state
        
        &.active {
            &::before {
                animation: none;
            }
            .bar {
                background-color: transparent;
                transform-style: preserve-3d;
                height: .3em;
                &::before {
                    // background-color: $brand;
                    transform: translateY(0) skewY(40deg) ;
                }

                &::after {
                    // background-color: $brand;
                    transform: translateY(0) skewY(-40deg);

                }
            }
        }

        // end of hamburger bars active state
    // end of hamburger bars
}
// end of hamburger toggle 

// section containers
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
}
// end of section containers 

/*progress bar*/
/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 3px;
    background: transparent;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 3px;
    background: $overlay-blue-dark;
    background: linear-gradient(90deg, $overlay-blue-dark, $overlay-blue-light, $overlay-blue-dark);
    // background: red; 
    opacity: .1;
    width: 0%;
    transition: .5s;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

    &.index-bar {
        background: transparent;
    }
    &.active-bar {  
        opacity: .5;
        // opacity: 1;
    }
}
/* end of progress bar*/

/*bootstrap scrollbar*/
.custom-scrollbar-js {
    height: 200px;
}
// back to top button
.top-link {
    @media (max-width: 768px){
        display: none;
    }
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    background: $button-crimson;
    display: grid;
    place-items: center;
    border-radius: .25rem;
    // animation: bounce 2s ease-in-out infinite;
    transition: .5s ease-in;
    opacity: 1;
    transform: translateY(15vh);
    // visibility: hidden;
    z-index: 30;
    isolation: isolate;
    // PSEUDO BG
    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: .25rem;
        transition: .25s;
        z-index: -1;
    }
    &::before {
        background: $button-crimson;
        box-shadow: $box-light-top-sm;
    }
    &::after {
        background: $button-crimson-hover;
        box-shadow: $box-light-top-sm-hover;
        opacity: 0;
    }
    i {
        color: #ddd;
        padding: .5rem;
        font-size: 1rem;
    }

    &.show-link {
        transition: all .5s ease-in-out;
        // visibility: visible;
        // z-index: 5;
        opacity: 1;
        transform: translateY(0);
        transition: 1.5s;
        // z-index: 30;

        // HOVER AND ACTIVE STATE
        // MOBILE ACTIVE CLASS
        @media (max-width: 768px) {
            &:active {
                transition: .2s;
                transform: translateY(0) scale(.95);
                &::before {opacity: 0;}
                &::after {opacity: 1;}
            }
        }
        // DESKTOP HOVER STATE
        @media (min-width: 768px) {
            &:hover {
                transition: .2s;
                transform: translateY(0) scale(.95);
                &::before {opacity: 0;}
                &::after {opacity: 1;}
            }
        }
    }
    @keyframes bounce {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }
    @media (min-width: 768px) {
        &:hover {
            animation: none;
            // transform: translateY(-100%);
    
            i {
                transform: scale(.97);
                transition: .2s;
            }
        }

    }
}
// end of back to top button

// BUTTONS CONTAINER
.buttons-container {
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    padding: 2.5vh 5vw;
    gap: 1rem;
    @include md {
        justify-content: start;
        gap: 2rem;
    }
}

// CTA BUTTONS
.btn {
    border: 2px solid #000;
    padding: .65rem 1rem;
    border: none;
    border-radius: .25rem;
    text-align: center;
    letter-spacing: .025rem;
    transition: .2s;
    text-transform: capitalize;
    isolation: isolate;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: .25rem;
        transition: .2s;
        z-index: -1;
    }
    &::before {
        box-shadow: $box-light-top-sm;
        background: linear-gradient(0deg, #000a, rgba(0, 0, 0, .300));
    }
    &::after {
        box-shadow: $box-light-top-sm-hover;
        opacity: 0;
    }

    &.btn-primary {
        color: $text-light;
        &::before {
            background: $button-crimson
        }
        &::after {
            background: $button-crimson-hover;
        }
    }
    &.btn-secondary {
        color: $overlay-blue-dark;
        &::before {
            background: #ffff;
            box-shadow: none;
            border: 1px solid $overlay-blue-dark;
        }
        &::after {
            background: #fafafa;
            box-shadow: none;
            border: none;
        }
    }

    // HOVER AND ACTIVE CLASS MEDIA QUERY
    @media (min-width: 820px) {
        &:hover {
            transform: scale(.97);
            letter-spacing: normal;
            &::before {opacity: 0};
            &::after {opacity: 1};
        }
    }
    // MOBILE BTN
    @media (max-width: 820px) {
        &:active {
            transform: scale(.97);
            letter-spacing: normal;
            &::before {opacity: 0};
            &::after {opacity: 1};
        }
    }
}

// BOTTOM NAV
.bottom-nav {
    @media (min-width: 768px){
        // display: none;
        height: 7vh;
    }
    position: fixed;
    bottom: 0;
    height: 8vh;
    width: 100%;
    background: $overlay-footer;
    z-index: 40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: .5rem 5vw;
    transform: translateY(15vh);
    transition: 1s;

    .link-item {
        // border: 1px solid yellow;
        // background: $overlay-blue-darker;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        place-content: center;
        border-radius: .25rem;
        // padding: .15rem;
        
        opacity: 0;
        transition: .25s;
        position: relative;
        transform: translateY(1rem);

        i {
            font-size: 1rem;
            font-weight: 700;
            color: $light-span;
            transition: .25s;
        }

        a {
            color: $text-light;
            font-size: .75rem;
            text-transform: capitalize;
            display: grid;
            place-items: center;
            transition: .25s;

            i {
                display: block;
                margin-bottom: .25rem;
            }
        }

        // LINK ITEM HOVER STATE 
        

        @media (max-width: 768px) {
            &:active {
                i {
                    color: $text-light;
                }
            }
        }
        @media (min-width: 768px) {
            transform: scale(1.05);
            &:hover {
                i {
                    color: $span-gold;
                    color: $text-light;
                }
            }
        }
    }

    &.active-bottom-nav {
        transform: translateY(0vh);
        .link-item {
            transform: translateY(0);
            opacity: 1;
            transition: .5s;
            &:nth-child(1){
                transition-delay: .25s;
            }
            &:nth-child(2){
                transition-delay: .35s;
            }
            &:nth-child(3){
                transition-delay: .45s;
            }
        }
    }
    
}

// SKIP LINK
.skip-link {
    background: $overlay-blue-light;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: .5rem;
    color: #f4f4f4;
    margin: 0 auto;
    text-transform: capitalize;
    transition: .5s;
    transform: translateY(-10vh);
    &:focus {
        transform: translateY(0);
    }
}



// SCROLL OUT
[data-scroll] {
    transition: 1s;
    transform: scale(.5);
}

[data-scroll="in"] {
    opacity: 1;
    transform: scale(1);
}

[data-scroll="out"] {
    opacity: 0;
}
// END OF SCROLL OUT

// LOADER
.loader_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // background-color: $overlay-blue-darker;
    // background: #0008;
    z-index: 100;
    display: grid;
    place-items: center;
    overflow: hidden;
    isolation: isolate;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $overlay-blue-darkest;
        z-index: -1;
        animation: zoom-out 2s ease 4s forwards;
        @keyframes zoom-out {
            100% {
                // transform: scale(0);
                opacity: 0;
                // border-radius: 50%;
            }
        }
    }

    .spinner {
        // border: .25rem solid red;
        height: 5rem;
        width: 5rem;
        position: relative;
        display: grid;
        place-items: center;
        isolation: isolate;
        color: $brand;
        text-transform: capitalize;
        animation: spinner-out 1s ease 4s forwards;
        @keyframes spinner-out {
            100% {
                transform: scale(0);
            }
        }
        .sector {
            position: absolute;
            width: 100%;
            height: 100%;
            // background-color: #333;
            border-radius: 50%;
            border: .25rem solid transparent;
            animation: rotate 3s infinite;
            mix-blend-mode: overlay;

            &.sector-1 {
                border-top-color: $dark-crimson;
                animation-duration: 1.5s;
                animation-timing-function: ease-in-out;
            }
            &.sector-2 {
                border-right-color: $span-gold;
                animation-duration: 2s;
                animation-timing-function: ease-in;

            }
            &.sector-3 {
                border-left-color: $overlay-blue-light;
                animation-duration: 2.5s;
                animation-timing-function: ease-out;
            }

            @keyframes rotate {
                0% {
                    transform: rotate(0);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

    .loader {
        border: 1rem solid $span-gold;
        border: none;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: .25rem solid $span-gold;
            border-radius: 50%;
            opacity: 0;
            animation: loader 2s linear infinite;
        }

        &::before {
            animation-delay: .5s;
        }

        @keyframes loader {
            0% {
                transform: scale(0);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                transform: scale(1);
                opacity: 0;
            }
        }
    }

    p {
        position: absolute;
        color: $span-gold;
        bottom: 0vh;
        left: 50%;
        transform: translateX(-50%) translateY(20vh);
        text-align: center;
        text-transform: capitalize;
        width: 20rem;
        // border: 2px solid red;
        font-size: 1.5rem;
    }
}




