// fonts 
$font-gruppo: 'Gruppo', cursive;
$font-ubuntu: 'Ubuntu',sans-serif;
$font-title:  'Kanit', sans-serif;
$font-content: 'Montserrat', sans-serif;

// TEXT SIZES
$font-clamp-xsm: clamp(.85rem, 1.25vw, 1.15rem);
$font-clamp-sm: clamp(.95rem, 2vw, 1.125rem);
$font-clamp-md: clamp(1.25rem, 2.25vw, 1.5rem);
$font-clamp-lg: clamp(2.5rem, 6vw, 3rem);

$font-clamp-h4: clamp(1.1rem, 1.5vw, 1.225rem);
// TEXT COLORS
$text-black: #000;
$text-dark: #000;
$text-white: #fff;
$text-light: #f4f4f4;

// BORDER RADIUS
$brand-br: .5rem;
$border-radius-xsm: .15rem;
$border-radius-sm: .25rem;
$border-radius-md: .5rem;
$border-radius-lg: 1rem;
$border-radius-xlg: 50%;
// SPAN AND BRAND

$brand: hsl(210, 19%, 75%);
$brand-border: hsla(210, 19%, 75%, .5);

$span-crimson: #dc143c;
$span-gold: #ead2a1;
$span-light: #fff9;
$light-span: #fff9;
$span-brand: #f72751;
$span-violet: violet;
$span-blue: #0000ff;
$span-crimson-dark: #dc143c8c;
$span-orange: tomato;
$border: #ead2a15e;
$trans-border: rgba(255, 255, 255, 0.155);
// link colors
$link-gold: #ead2a1;
$link-blue: skyblue;
$link-crimson: #dc143c;
$dark-crimson:#b60f30;
// background colors
$background-light: #fff;
$background-gray: #f4f4f4;
$background-dark: #333;
$background-light: #fff;
$brand-overlay: #a6b2bf;

$overlay: linear-gradient(-60deg, #29323c 0%, #485563 100%);
$skill-item-overlay: linear-gradient(90deg, #29323c 0%, #485563 100%);
$overlay: linear-gradient(0deg, #29323c 0%, #485563 100%);
$overlay-dark: linear-gradient(0deg, #20262e 0%, #29323c 100%);
$overlay-dark: linear-gradient(0deg, hsl(214, 18%, 15%) 30% , hsl(212, 19%, 25%) 70%);
// $overlay-dark: linear-gradient(0deg, red 30% , green 70% );
$overlay-btn: linear-gradient(0deg, #20262e, #485563 );
$overlay-btn-hover: linear-gradient(0deg , #485563, #20262e );
$overlay-blue-dark:hsl(212, 19%, 20%);
$overlay-blue-dark-trans:rgba(34, 41, 49, 0.9);
$overlay-blue-darker:hsl(214, 18%, 15%);
$overlay-blue-darkest:hsl(213, 18%, 10%);
$overlay-blue-light: hwb(211 28% 61%);
$nav-background: #29323c;
$nav-active-background: #1b2127;
$ul-background: #1f1e1e;
$overlay-footer: linear-gradient(0deg, #20262e, #29323c);
$overlay-footer: linear-gradient(0deg, #15191e, #20262e);
$overlay-footer: linear-gradient(0deg, #000, #15191e);
$skill-item-overlay: linear-gradient(90deg, $overlay-blue-darker 0%, $overlay-blue-dark 100%);

// BUTTON COLORS
$button-background-grey: #8584844b;
$button-crimson: linear-gradient(0deg, #3f0d0d, #dc134c);
$button-light: linear-gradient(0deg, #ddd, #f4f4f4);
$button-light-hover: linear-gradient(0deg, #f4f4f4, #ddd);
$button-crimson: linear-gradient(0deg, hsl(348, 83%, 25%), hsl(343, 84%, 47%));
$button-crimson-hover: linear-gradient(0deg, #dc134c , #3f0d0d);
$button-crimson-hover: linear-gradient(0deg, #dc134c , hsl(348, 83%, 25%));
$button-gold: linear-gradient(0deg, hsl(40, 63%, 65%), #ead2a1);
// form  
$background-invalid: #f7cdd5c7;
$text-invalid: #000;
$background-valid: #cdf7d3c7;
$text-valid: #000;


// BOX SHADOWS
$box-shadow-item-sm: .125rem .25rem .25rem #0002;
$box-shadow-item-md: 0rem .5rem 1rem rgba(0, 0, 0, .15);
$box-light-top-sm: inset 2px 2px 3px rgba(225, 225, 225, .1),
                    inset -2px -2px 3px rgba(0, 0, 0, .150),
                    .025rem .25rem .5rem rgba(0, 0, 0, .150);

$box-light-top-sm-hover: inset 2px 2px 3px rgba(0, 0, 0, .200),
                    inset -2px -2px 3px rgba(225, 225, 225, 0.2),
                    .025rem .225rem .25rem rgba(0, 0, 0, .250);

$box-light-top-bg: inset 4px 4px 5px rgba(221, 221, 221, 0.500),
                    inset -4px -4px 5px rgba(0, 0, 0, .200);

$box-dark-top-sm: inset 2px 2px 3px rgba(0, 0, 0, 0.200),
                    inset -2px -2px 2px rgba(221, 221, 221, 0.300),
                    3px 3px 3px rgba(0, 0, 0, .200);

$box-dark-top-bg: inset 4px 4px 5px rgba(0, 0, 0, .200),
                    inset -4px -4px 5px rgba(221, 221, 221, 0.500);

$box-dark-top-md: inset 3px 3px 4px rgba(0, 0, 0, .200),
                    inset -3px -3px 4px rgba(221, 221, 221, 0.500);
                    
$box-light-top-md: inset 3px 3px 4px rgba(221, 221, 221, 0.150),
                    inset -3px -3px 4px rgba(0, 0, 0, .150),
                    5px 5px 3px rgba(0, 0, 0, .150);

$box-light-top-lg: inset 5px 5px 5px rgba(221, 221, 221, 0.500)
                    inset -10px -10px 10px rgba(0, 0, 0, .200);
// text-shadows
$text-shadow-red: #dc143c;
$text-shadow-sm: 1px 1px 1px #000;
$text-shadow-lg: 2px 2px 2px #000;