.work {
    min-height: 100vh;
    // background: #ddd;
    padding: 10vh 5vw 10vh;
    background: $background-light;
    background: #fafafa;
    @media (min-width: 768px) {
    padding: 10vh 5vw 10vh;
    }

    .work-intro {
        // border: 2px solid red;
        h3 {
            text-transform: capitalize;
            font-size: 1.8rem;
            font-size: clamp(1.8rem, 4vw, 2rem);
            text-align: center;
            position: relative;
            width: max-content;
            margin-inline: auto;
            span {
                color: #0007;
                text-transform: capitalize;
                font-family: $font-title;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: -.5rem;
                left: 0;
                width: 100%;
                height: .125rem;
                background: linear-gradient(90deg, transparent, #0007, transparent);
            }
        }

        &.io-item {
            h3 {
                &::after {
                    transform: scaleX(0);
                    transition: 1.5s;
                }
            }
        }
        &.active-item {
            h3 {
                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }
    .work-container {
        // border: 2px solid red;
        margin-top: 10vh;
        @include lg {
            margin-top: 15vh;
        }
        .item-flex-container {
            // background: $background-light;
            @include lg {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                border-radius: .25rem;
            }
            
        }

        .item {
            // border: 2px solid blue;
            overflow: hidden;
            border-radius: .25rem;
            background: #fff;
            box-shadow: $box-shadow-item-md;
            position: relative;
            margin-bottom: 10vh;
            @include sm {
                padding: .5rem;
            }
            @include md {
                background: #ffff;

            }
            
            .item-header {
                // border: 2px solid red;
                padding: 1rem .5rem 1rem;
                @include sm {
                    padding: 1rem;
                }
                @include md {
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                @include lg {
                    // border: 2px solid pink;
                    width: 50%;
                }
                @include xlg {
                    // padding: 5vh 5vw 5vh 0;
                    
                }
                .item-title {
                    text-transform: capitalize;
                    // margin-bottom: .5rem;
                    font-weight: 700;
                    font-size: 1.05rem;
                    font-size: clamp(1.05rem, 2vw, 2rem);
                    @include md {
                    // margin-bottom: .5rem;
                        // font-size: 1.5rem;
                    }
                }
                .item-meta-data {
                    // border: 2px solid yellow;
                    display: flex;
                    display: none;
                    align-items: center;
                    justify-content: space-evenly;
                    gap: 1rem;
                    flex-wrap: wrap;
                    
                    margin: 1.5rem 0 0;
                    padding: .5rem 1rem;
                    list-style: none;
                    
                    position: absolute;
                    bottom: 0;
                    background: $overlay-blue-darker;
                    width: 100%;
                    left: 0;
                    @include lg {
                        gap: 1rem;
                        background: transparent;
                        // bottom: -1rem;
                    }
                    @include lg {
                        justify-content: start;
                    }
                    @include xlg {
                        bottom: -1rem;
                    }
                    p {
                        background: $overlay-blue-darker;
                        color: $text-light;
                        padding: .25rem .5rem;
                        border-radius: .25rem;
                        font-size: .75rem;
                        text-transform: lowercase;
                        box-shadow: $box-shadow-item-sm;
                        &::first-letter {
                            text-transform: capitalize;
                        }
                        text-transform: uppercase;

                        &:hover {
                            background: $overlay-blue-light;
                        }
                    }

                    li {
                        border: 1px solid #000;
                        border-radius: .25rem;
                        padding: .25rem .5rem;
                        font-size: .8rem;
                        text-transform: uppercase;
                        background: $overlay-blue-darker;
                        color: $text-light;
                        transition: .25s;
                        
                        &:hover {
                            color: $brand;
                        }
                    }
                }
                .item-description {
                    // border: 1px solid pink;
                    margin: .5rem 0 1rem;
                    h4 {
                        text-transform: capitalize;
                        color: #0008;
                        font-size: .9rem;
                        font-size: clamp(.9rem, 2vw, 1.125rem);
                    }
                    p {
                        color: $overlay-blue-light;
                        font-weight: 400;
                        font-size: 1rem;
                        font-size: clamp(.95rem, 1.5vw, 1.05rem);
                        &::first-letter {
                            text-transform: capitalize;
                        }
                    }

                    ul {
                        margin: 1rem;
                        li {
                            margin-bottom: .25rem;
                            a {
                                text-transform: capitalize;
                                font-size: .9rem;
                                font-size: clamp(.9rem, 1.5vw, 1.125rem);
                                color: inherit;
                            }
                            i {
                                margin-left: .5rem;
                                color: $brand;
                                transform: scale(.85);
                                transition: .25s;
                            }

                            // LI HOVER
                            &:hover {
                                i {
                                    color: $span-crimson;
                                    transform: scale(1);
                                }
                            }
                        }
                    }
                }
                .item-cta {
                    // border: 2px solid blue;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 1rem;
                    @include md {
                        justify-content: start;
                    }
                    a {
                        padding: .65rem 1rem;
                        text-transform: capitalize;
                        font-size: .95rem;
                        font-size: clamp(.95rem, 1vw, 1.15rem);
                        border-radius: $border-radius-sm;
                        width: 100%;
                        text-align: center;
                        letter-spacing: .025rem;
                        transition: .25s;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @include sm {
                            // padding: 1rem;
                        }
                        @include md {
                            // justify-content: space-between;
                            // gap: 1rem;
                            // padding: 1rem .5rem;
                            width: 10rem;
                        }
                        i {
                            // transform: translateX(.5rem);
                            transition: .25s;
                        }
                        &.cta-primary {
                            background: $span-crimson;
                            border: none;
                            color: $text-light;
                            font-weight: 500;
                            position: relative;
                            isolation: isolate;
                            // PSEUDO BG
                            &::after, &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: $border-radius-sm;
                                transition: .25s ease;
                                z-index: -1;
                            }
                            &::before {
                                background: $button-crimson;
                                box-shadow: $box-light-top-sm;
                            }
                            &::after {
                                background: $button-crimson-hover;
                                box-shadow: $box-light-top-sm-hover;
                                opacity: 0;
                            }
                        }
                        &.cta-secondary {
                            border: 1px solid $overlay-blue-dark;
                            // font-size: .8rem;
                            // padding: .7rem;
                            // text-decoration: underline;
                            color: $overlay-blue-darker;
                            i {
                                // font-size: .85rem;
                                font-weight: 600;
                            }
                        }
                        // BUTTON HOVER AND ACTIVE CLASSES
                        @media (min-width: 768px) {
                            &:hover {
                                transform: scale(.98);
                                letter-spacing: normal;
                                i {
                                    transform: translateX(-.25rem);
                                }
                                &::before {opacity: 0;}
                                &::after {opacity: 1;}
                            }
                        }
                        @media (max-width: 768px) {
                            &:active {
                                transform: scale(.98);
                                letter-spacing: normal;
                                i {
                                    transform: translateX(-.25rem);
                                }
                                &::before {opacity: 0;}
                                &::after {opacity: 1;}
                            }
                        }
                    }
                }
            }
            .item-content {
                @include lg {
                    width: 50%;
                    padding: 1rem;
                }
                .item-image {
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        transition: .25s;
                    }
                    @include lg {
                        border-radius: .25rem;
                        img {
                            border: 1px solid #0002;
                            border-radius: .25rem;
                        }
                    }
                }
            }

            // SMALL SCREEN IO
            @media (max-width: $screen-lg-min){
                // IO CLASS
                &.io-item {
                    opacity: 1;
                    transform: translateY(5vh);
                    transition: 1.25s;
                    
                }
                // ACTIVE ITEM
                &.active-item {
                    opacity: 1;
                    transform: translateY(0);
                    
                }
            }
            // DESKTOP IO
            @include lg {
                &.io-item {
                    .item-header {
                        opacity: 1;
                        transform: translateX(5vw);
                        transition: 1s;
                    }
                    .item-content {
                        opacity: 1;
                        transform: translateX(-5vw);
                        transition: 1s;
                    }
                }
                &.active-item {
                    .item-header {
                        opacity: 1;
                        transform: translateX(0);
                    }
                    .item-content {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }
    }

}