.work {
    min-height: 100vh;
    // background: #ddd;
    padding: 5vh 1rem;
    @media (min-width: 768px) {
        padding: 5vh 5vw;
    }

    .work-items {
        margin-top: 10vh;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10vh;
        @include md {
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
        }
        @include xlg {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            }
        .work-item {
            // border: 1px solid #0002;
            padding: 1rem 0;
            width: 100%;
            border-radius: $brand-br;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            @include md {
                align-items: center;
            }
            // ITEM BACKGROUND COLORS

            // DATA-SCROLL
            &.io-item {
                transform: scale(1) translateY(10vh);
            }
            &.active-item {
                transition: 1.5s;
                transform: scale(1) translateY(0vh);
            }
            .work-title {
                text-align: center;
                text-align: left;
                margin-bottom: 2.5vh;
                h3 {
                    text-transform: capitalize;
                    font-family: $font-title;
                    font-weight: 500;
                    font-size: 1.25rem;
                    color:$overlay-blue-dark;
                    br {
                        display: none;
                    }
                    @media (min-width: 768px) {
                        br {
                            display: none;
                        }
                    }
                }
                
                p {
                    color: $overlay-blue-light;
                    font-size: 1rem;
                    // border: 1px solid red;
                    
                    a {
                        position: relative;
                        &::after {
                            content: '\f08e';
                            position: absolute;
                            right: -1.5rem;
                        bottom: 0;
                            font-weight: 600;
                            font-family: "Font Awesome 6 Free";
                        }
                        color: $overlay-blue-light;
                        transition: .25s;
                        &:hover {
                            color: $text-black;
                        }
                    }
                }
            }
            figure {
                width: 20rem;
                width: 100%;
                height: 50vh;
                // margin: .5rem auto 1rem;

                border-radius: .5rem;
                overflow-x: hidden;
                overflow-y: auto;
                // border: 1px solid #0004;
                padding: 10vh 10vw;
                padding: 1rem;
                border-radius: $brand-br;
                background: $overlay-blue-dark;
                transition: .5s;
                // overflow: auto;
                // display: flex;
                img {
                    width: 100%;
                    height: auto;
                    border-radius: .5rem;
                    object-fit: cover;
                    // object-position: center;
                    transition: .5s;
                    border: 1px solid #fff4;
                }
                @include sm {
                    // border: 1px solid #000;
                    padding: 1rem;
                    height: 55vh;
                    width: 20rem;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        transition: .5s ease;
                    }
                }

                &:hover {
                    background: $overlay-blue-dark;
                    img {
                        transform: scale(1.05);
                        transition: .5s;
                    }
                }

                // SCROLL SNAP GALLERY
                &.scroll-snap {
                    // border: 2px solid blue;
                    // background: #f4f4f4;
                    position: relative;
                    display: flex;
                    gap: 5vw;
                    overflow-x: auto;
                    overflow-y: hidden;
                    flex: none;
                    width: 100%;
                    width: 15rem;
                    border-radius: $brand-br;
                    height: auto;
                    isolation: isolate;
                    // height: 128px;
                    flex-flow: row nowrap;
                    scroll-snap-type: x mandatory;

                    @include md {
                        height: 55vh;
                    }

                    &::-webkit-scrollbar {
                        width: 1rem;
                        height: .5rem;
                        border-radius: $border-radius-sm;
                        // border: 1px solid $brand;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: $brand;
                        border-radius: $border-radius-sm;
                    }

                    &::-webkit-scrollbar-track {
                        border-radius: $border-radius-sm;
                        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    }

                    img {
                        // border: 2px solid yellow;
                        scroll-snap-align: center;
                        flex: none;
                        width: 100%;
                    }

                    &:hover {
                        img {
                            transform: scale(1.025);

                            @include md {
                                transform: scale(1.125);
                            }
                        }
                    }


                }
            }
            // WORK ITEMS CTA BUTTONS
            .work-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: none;
                outline: none;
                padding: .7rem 1rem .7rem .5rem;
                margin: 1rem 0 0;
                width: 50vw;
                width: 15rem;
                text-transform: capitalize;
                text-align: left;
                text-decoration: none;
                letter-spacing: .05rem;
                border-radius: $brand-br;
                position: relative;
                isolation: isolate;
                transition: .25s;
                display: none;

                i {
                    font-weight: 600;
                }
                @include md {
                    width: 15rem;
                    text-align: center;
                }
                // BUTTON PSEUDO SHADOWS AND BG
                &::before, &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: $brand-br;
                    transition: .25s;
                    z-index: -1;
                }
                // HOVER AND ACTIVE MEDIA QUERY
                // DESKTOP HOVER STATE
                @media (min-width: 820px){
                    &:hover {
                        transform: scale(.98);
                        letter-spacing: normal;
                        text-decoration: none;
                        &::before {opacity: 0;}
                        &::after {opacity: 1;}
                    }
                }
                // MOBILE ACTIVE CLASS
                @media (max-width: 820px){
                    &:active {
                        transform: scale(.98);
                        letter-spacing: normal;
                        text-decoration: none;
                        &::before {opacity: 0;}
                        &::after {opacity: 1;}
                    }
                }
            }
            // WEBSITE URL LINKS
            .view-site-btn {
                // border: 1px solid blue;
                color: $text-light;
                background: $span-crimson-dark;
                &::before {
                    background: $button-crimson;
                    box-shadow: $box-light-top-sm;
                }
                &::after {
                    background: $button-crimson-hover;
                    box-shadow: $box-light-top-sm-hover;
                    opacity: 0;
                }
                
            }
            // GITHUB REPO
            .view-repo-btn {
                // border: 1px solid blue;
                background: #fff;
                color: $dark-crimson;
                &::before {
                    background: linear-gradient(0deg, #eee, #ffff);
                    border: .05rem solid $dark-crimson;
                }
                &::after {
                    background: linear-gradient(0deg, #fff, #eee);
                    opacity: 0;
                }
            }
            
        }
    }
}