@use '../abstracts';

// PROJECTS SECTION
#projects {
    padding: 10vh 5vw 10vh;
    
    @include abstracts.dark {
        background: abstracts.$overlay-blue-darkest;
    }

    // PROJECTS CONTAINER
    .projects {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        position: relative;

        
        // PROJECT ITEMS
        .all-projects {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10vh;
            z-index: 10;
        }

        // PROJECT ITEM 
        .project-item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;

            border: 2px solid abstracts.$overlay-blue-dark;
            border-radius: .5rem;
            box-shadow: 0rem .5rem .5rem rgba(72, 85, 99, .15);
            transition: box-shadow .5s ease;
            overflow: hidden;
            
            // DESKTOP LAYOUT - DISPLAY ROW
            @media (min-width: 768px) {
                height: 350px;
                width: 100%;
                flex-direction: row;
                position: relative;

                &:nth-child(even) {
                    flex-direction: row-reverse;
                }
            }

            // PROJECT TILE
            .project-tile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex-basis: 50%;
                
                background: abstracts.$overlay-dark;

                padding: 1.5rem 1rem 1rem;
                width: 100%;
                height: 100%;
                

                @include abstracts.md {
                    padding: 2rem;
                }

                // PROJECT TITLE (H3)
                h3 {
                    width: 100%;

                    font-size: 1.15rem;
                    font-size: clamp(1.125rem, 3vw, 1.5rem);
                    font-weight: 600;
                    
                    text-transform: capitalize;
                    color: abstracts.$text-light;
                    
                    margin-bottom: 1rem;
                    padding-bottom: 0.5rem;
                    border-bottom: 1px dashed abstracts.$brand;
                    
                }

                // PROJECTS DETAILS (h2 and p)
                h4 {
                    font-size: 1rem;
                    font-size: abstracts.$font-clamp-sm;
                    font-weight: 500;
                    margin: 0.5rem 0 1rem;
                    text-transform: capitalize;
                    color: abstracts.$brand;
                }
                
                p {
                    font-size: .9rem;
                    font-size: abstracts.$font-clamp-xsm;
                    font-weight: 400;
                    color: #ffff;
                    margin: 0 0 0.5rem;
                }
                
                .project-info {
                    color: abstracts.$text-white;
                    background: abstracts.$overlay-blue-darker;
                    
                    padding: 0.5rem;
                    width: 100%;
                    border-radius: 0.5rem;
                    transition: all 250ms ease;

                    // PROJECT LINK
                    a {
                        font-size: 0.85rem;
                        padding: 0.75rem;
                        margin: 1rem 0;
                        border-radius: 0.25rem;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: abstracts.$text-light;
                        position: relative;
                        isolation: isolate;

                        .icon {
                            opacity: 0.6;
                        }

                    }

                }

            }

            // PROJECTS IMAGE
            .project-img {
                flex-basis: 50%;
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                isolation: isolate;

                // IMAGE OVERLAY
                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: inherit;
                    background-image: linear-gradient(60deg, #29323c, 0%, #585563 100%);
                    opacity: 0.1;
                    transition: 500ms;
                    z-index: 1;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: 500ms ease;
                    z-index: 1;
                }

            }

            // project tech list
            .tech-list {
                padding: .5em;

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        font-size: .8em;
                        color: abstracts.$brand;
                        list-style: none;
                        padding: .4em .3em;
                        margin-right: .1em;
                        font-style: italic;
                        letter-spacing: .05em;
                    }
                }

            }


            // PROJECT ITEM HOVER CLASS
            &:hover {
                &.project-item {
                    box-shadow: 0rem .25rem .5rem rgba(72, 85, 99, .45);

                    &::after {
                        opacity: 1;
                    }

                    .project-img {
                        img {
                            transform: scale(1.05);
                        }

                        &::after {
                            opacity: .4;
                        }
                        
                    }

                    .project-tile {
                        .project-info {
                            a {
                                i, .icon {
                                    opacity: 1;
                                    transform: translate(0) scale(1);
                                }
                            }
                        }
                    }
                }
            }

        }

    }
} 