@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:wght@200;400;500;700&family=Philosopher:wght@400;700&family=Shippori+Mincho:wght@700&family=Source+Code+Pro:wght@200;300;400&family=Ubuntu:wght@300;400&display=swap');
@import 'variables';
@import 'utilities';
body {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-padding-top: 5em;
}

// header
// end of header

// hero section
// end of hero section

// skills
// end of skills

// projects 
// end of projects 

// about 
// end of about 

// contact
// end of contact

// footer
// end of footer