@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:wght@200;400;500;700&family=Philosopher:wght@400;700&family=Shippori+Mincho:wght@700&family=Source+Code+Pro:wght@200;300;400&family=Ubuntu:wght@300;400&display=swap');
@import 'variables';
@import 'utilities';
body {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-padding-top: 5em;
}

// header
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;

    .header {
        min-height: 8vh;
        // height: 10vh;
        background-color: #1f1e1e80;
        transition: 0.3s ease background-color;

        #navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            max-width: 1300px;
            padding: 0 10px;
            // corner logo
            .brand {
                h1 {
                    font-size: 1.3em;
                    text-transform: uppercase;
                    color: #fff;
                    font-family: 'Gruppo', cursive;
                    text-shadow: 0 0 10px #dc143c;
                }
            }
            // corner logo

            .nav-list {
                .links-container {
                    // hide nav avi on desktop
                    @media (min-width:768px) {
                        .nav-avi { display: none;}
                    }
                    // end of hide nav avi on desktop
                    // nav avi < 768px
                    .nav-avi {
                        // nav avi on small screens
                        @media (max-width: 360px){
                            height: 4em;
                            width: 4em;
                        }
                        // end of nav avi on small screens
                        height: 5em;
                        width: 5em;
                        border-radius: 50%;
                        overflow: hidden;
                        position: absolute;
                        top: 1em;
                        left: 1em;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: .5s;
                            /* pointer-events: none; */
                        }

                        &:active {
                            transition: .4s;
                            transform: scale(.7);
                        }
                    }
                    // end of nav avi < 768px

                }
                // mobile screens style
                ul {
                    position: absolute;
                    background: rgb(31, 30, 30);
                    width: 100vw;
                    height: 100vh;
                    left: 100%;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: right;
                    z-index: 1;
                    overflow-x: hidden;
                    transition: 0.5s ease left;

                    li {
                        list-style: none;

                        a {
                            font-size: 1em;
                            font-weight: 600;
                            letter-spacing: .15em;
                            text-decoration: none;
                            color: #fff;
                            text-transform: uppercase;
                            padding: 20px;
                            display: block;
                            text-align: left;
                            font-family: 'Gruppo', cursive;
                            transition: .2s ease-in-out;

                            

                            i {
                                margin: 0 auto;
                                margin-right: .5em;
                                padding: .5em;
                                text-align: left;
                                color: #fffa;
                                border-radius: 10px;
                                box-shadow: inset 2px 2px 3px #ddda,
                                            inset -2px -2px 3px #000a;
                            }
                        }
                    }
                    // display nav list on toggle 
                    &.active {
                        left: 20%;
                        background-color: #29323c;
                    }
                }
                // end of mobile screens style
                // desktop nav-list style
                @media (min-width: 1024px){
                    ul {
                        position: initial;
                        display: block;
                        height: auto;
                        width: fit-content;
                        background-color: transparent;

                        li {
                            display: inline-block;
                            
                            a {
                                font-size: .9em;
                                padding: .3em 1em;
                                margin: 0 auto;

                                i {
                                    margin-right: .3em;
                                    padding: .5em;
                                    font-size: 1em;
                                    border-radius: 50%;
                                }

                                &::after {
                                    display: none;
                                }
                            }
                            // links and icon hover state
                            &:hover {
                                a {
                                    transition: .3s ease;
                                    color: skyblue;
                                }
                                i {
                                    transition: .3s ease;
                                    color: skyblue;
                                }
                            }
                            // links and icon hover state
                        }
                        &.active {
                            background: none;
                            box-shadow: none;
                        }
                    }
                    // remove hamburger from desktop view
                    .hamburger {
                        display: none;
                    }
                    // end of remove hamburger from desktop view

                }
                // end of desktop nav-list style
            }
        }
    }
}
// end of header

// hero section
#home {
    background-color: #29323c;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .hero {
        // animated h1 
        #hero-h1 {
            margin: 1em auto;
            background: transparent;
            padding: .5em;
            border-radius: 5px;

            h1 {
                margin-bottom: .2em;
                display: block;
                width: fit-content;
                color: #eee;
                font-family: 'Philosopher', sans-serif;

                span {
                    display: inline-block;
                    color: #fff;
                    text-align: left;
                    font-size: 1.5em;
                    text-shadow: 0 0 5px #000, 0 0 10px #dc143c;
                    line-height: 1.3;
                    animation: hero-span 6s ease-in-out;
                    animation-delay: calc(1s + .5s * var(--s));
                    transition: all 3s;
                    /* hero h1 keyframes */
                    @keyframes hero-span {
                        5% {
                            opacity: 1;
                        }

                        10% {
                            opacity: 1;
                            color: #dc143c8c;
                            transform: translateX(3px);
                            text-shadow: 0 0 1px #fff;
                        }

                        100% {
                            opacity: 1;
                        }
                    }
                    /* hero h1 keyframes */
                }
                // "aka" span
                &#aka {
                    span {
                        position: relative;
                        display: inline-block;
                        animation: aka 5s ease alternate;
                        animation-delay: 4s;
                        margin: .5em 0;
                        color: #fff;
                        opacity: 0.5;
                        transform: scale(0.7);
                    }
                    @keyframes aka {
                        50% {
                            opacity: 1;
                            transform: scale(1);
                            color: tomato;
                        }
                    }
                }
                // end of "aka" span

            }
        }
        // end of animated h1 
        // welcome section button & shadow
        #cta-header {
            font-size: 1.3em;
            position: relative;
            display: inline-block;
            text-align: center;
            font-family: 'Gruppo', cursive;
            padding: .5em 1em;
            margin: 2em 0;
            width: 100%;
            border-radius: 40px;
            border: none;
            outline: none;
            background-color: #8584844b;
            text-shadow: 2px 2px 2px #000;
            transition: .3s linear;
            cursor: pointer;
            // button shadows
            &::before,
            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 40px;
                transition: .3s ease;
            }
            &::before {
                box-shadow: inset 4px 4px 5px #ddda,
                            inset -4px -4px 5px #000a;
            }
            &::after {
                opacity: 0;
                box-shadow: inset 4px 4px 5px #000a,
                            inset -4px -4px 5px #ddda;
            }
            // button hover, focus and active states
            &:hover {
                transform: scale(.98);

                &::before {opacity: 0;}
                &::after {opacity: 1;}
            }
            &:active {
                transition: .2s;
                transform: scale(.94);
            }
            // end of button hover, focus and active states
            // end of button shadows
            // animated button text 
            span {
                position: relative;
                display: inline-block;
                color: #fff;
                font-size: 2em;
                font-weight: 700;
                animation: animate 3s ease-in-out infinite;
                animation-delay: calc(5s + .2s * var(--i));
                /* cta keyframes*/
                @keyframes animate {
                    0% {
                        transform: translateY(0px);
                    }
                    20% {
                        transform: translateY(-5px);
                        color: #cd143c;
                        background: linear-gradient(0deg, #ff0000, #dc143c, #ff0000, #000);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        text-transform: uppercase;
                        box-shadow: none;
                        text-shadow: none;
                    }
                    40%,
                    100% {
                        transform: translateY(0);
                    }
                }
                /* end of cta keyframes*/
            }
            // end of animated button text 
            }
        // end of welcome section button & shadow 
    }
}
// end of hero section

// skills
#skills {

    // skills container
    .skills {
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        width: 100vw;
        margin: 0 auto;
        padding-bottom: 1em;
        background-image: url('../img/nadine-shaabana-0xD40qm07X0-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;

        // skills section overlay
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: #000;
            opacity: 0.4;
            overflow: auto;
        }

        // end of skills section overlay
        // skills section-title
        &-header {
            width: 100%;
            height: auto;
            background: #fff;
            z-index: 30;
        }

        // end of skills section-title

    }
    // end of skills container

    // skills top section
    .skills-top {
        width: 90%;
        @media (min-width: 1024px){
            width: 60%;
        }
        padding: .5em .5em 2em .5em;
        text-align: center;
        margin: 2em auto;
        background-image: var(--overlay);
        background: #48556388;
        backdrop-filter: blur(5px);
        border-radius: 10px;
        border: none;
        box-shadow: inset 4px 4px 5px #ddda, inset -4px -4px 5px #000a;
        position: relative;
        z-index: 30;
        transition: .2s linear;

        p {
            color: #fff;
            font-size: .9em;
            @media (min-width: 768px){
                font-size: 1em;
            }
            background: transparent;
            overflow: hidden;
            text-shadow: var(--text-shadow-sm);
            line-height: 2em;
        }
        // skills top 'down arrow'
        &::after {
            content: '';
            position: absolute;
            width: 45px;
            height: 45px;
            border: none;
            top: 100%;
            left: 50%;
            margin-left: -24px;
            margin-top: -24px;
            transform: rotate(45deg);
            background-image: linear-gradient(135deg, transparent 48%, #3d4955 0%);
            transition: .2s;
            box-shadow: inset -5px -5px 5px #000a,
                        inset 5px 5px 5px #3d495500;
        }
        &:hover {
            &::after {
                box-shadow: inset -5px -5px 5px #ddda,
                    inset 5px 5px 5px #3d495500;
                transition: .3s linear;
            }
        }
        // end of skills top 'down arrow'

    }
    // end of skills top section
    // dropdown section
    .dropdown {
        position: relative;
        margin: 0 auto;
        z-index: 4;

        // dropdown button
        .dropbtn {
            color: #eee;
            padding: .3em 3em;
            font-size: 1.5em;
            font-weight: 600;
            cursor: pointer;
            border: none;
            outline: none;
            border-radius: 10px;
            background: linear-gradient(0deg, #dc134c, #333);
            text-align: center;
            transition: .3s;
            font-family: 'Gruppo', cursive;
            position: relative;
            overflow: hidden;

            // dropdown button shadows
            &::before,
            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                transition: .3s;
            }

            &::before {
                box-shadow: 5px 10px 5px #000,
                    inset 3px 3px 5px #000a,
                    inset -3px -3px 5px #fffa;
            }

            &::after {
                opacity: 0;
                box-shadow: 0px 0px 10px #000a,
                    inset 3px 3px 5px #fffa,
                    inset -3px -3px 5px #000a;
            }

            // button box shadow states
            &:hover {
                &::before {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }

            &:active {
                transform: scale(.9);
                transition: .3s;
            }

            // button end of box shadow states
            // end of dropdown button shadows
        }

        // end of dropdown button
        // dropdown content ( ie. skills items)
        .dropdown-content {
            
            // show-contents
            &.show {
                display: block;
            }
            // end of show-contents
            display: none;
            width: 100vw;
            z-index: 1;
            justify-content: center;
            align-items: center;
            background-image: url('../img/nadine-shaabana-0xD40qm07X0-unsplash.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            position: relative;
            padding-bottom: 10em;
            // dropdown content overlay
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: #000a;
            }
            // end of dropdown content overlay
            // skills items container
            .skills-bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                /*items wrapped onto multiple lines*/
                margin-top: 50px;
                padding-top: 50px;
                text-shadow: var(--text-shadow-sm);

                // skills-items
                .skills-item {
                    // skills items on tablets
                    @media (min-width:768px) {
                        flex-basis: 45%;
                        margin: 2.5%;
                        height: 300px;
                        pointer-events: none;
                    }
                    // end of skills items on tablets
                    // skills items on desktop
                    @media (min-width: 1024px) {
                        flex-basis: 33%;
                        width: 100%;
                        margin: 1.5%;
                        height: 300px;
                        pointer-events: visible;
                        cursor: pointer;
                        filter: grayscale(.6);
                        transition: .2s;
                        &:hover {
                            filter: grayscale(0);
                            border: none;
                        }

                        h2 {
                            font-size: 1.5em; 
                        }
                        ul {
                            li {
                                font-size: 1em;
                            }
                        }
                    }
                    // end of skills items on desktop
                    flex-basis: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: .5em;
                    background: transparent;
                    background-size: cover;
                    margin: .5em auto;
                    position: relative;
                    z-index: 1;
                    text-overflow: ellipsis;
                    transition: 0.3s ease-in-out;
                    overflow: hidden;
                    border-radius: 10px;
                    height: auto;
                    line-height: 1.3;

                    ul {
                        margin: .2em;
                        padding: .5em;

                        li {
                            color: #fff;
                            font-size: .9em;
                            text-align: left;
                            margin: .5em;
                            padding: .2em .4em;
                            text-transform: capitalize;
                            

                            &::marker {
                                color: #ddda;
                            }
                        }

                    }
                    // skills item overlay
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        border-radius: 10px;
                        width: 100%;
                        background: var(--overlay);
                        opacity: 0.7;
                        z-index: -1;
                    }
                    // end of skills item overlay
                    // skills-item box shadow
                    &:before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        border-radius: 10px;
                        height: 100%;
                        box-shadow: inset 4px 4px 5px #ddda,
                            inset -4px -4px 5px #000;
                        z-index: 2;
                    }
                    // end of skills-item box shadow

                    // item icon
                    .icon {
                        &#git-icon, 
                        &#netlify-icon {
                            img {
                                width: 100%;
                                border-radius: 50%;
                            }
                        }
                        &#express-icon {
                            img {
                                border-radius: 30px;
                            }
                        }
                        height: 80px;
                        width: 80px;
                        border: none;
                        outline: none;
                        padding: 10px;
                        margin-top: 15px;
                        margin-bottom: 20px;
                        position: relative;
                        // icon box shadow
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            box-shadow: 2px 2px 5px #000,
                                inset 2px 2px 3px #ddda,
                                inset -2px -2px 5px #000a;
                        }
                        // end of icon box shadow
                        // icon img
                        img {
                            width: 100%;
                        }
                        // end of icon img
                    }
                    // end of item icon
                    // skills item title (h2)
                    h2 {
                        font-size: 1.4em;
                        color: #fff;
                        margin-bottom: 10px;
                        text-transform: capitalize;
                        font-family: 'Gruppo', cursive;
                        text-decoration: underline rgba(221, 221, 221, 0.466);
                        text-underline-offset: .1em;
                    }
                    // end of skills item title (h2)
                }
                // end of skills-items
            }
            // end of skills items container

        }

        // end of dropdown content ( ie. skills items)
    }
    // end of dropdown section
}
// end of skills

// projects
#projects {
    // projects container
    .projects {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 0 0 20vh 0;
        background-color: #29323c;
        position: relative;
        // section header
        &-header {
            width: 100%;
            height: 170px;
            background: rgb(255, 255, 255);
            margin-bottom: 2em;
            z-index: 2;
            // section header h1
            h1 {
                margin-bottom: 50px;
                background-image: linear-gradient(40deg, #000, purple, skyblue, #000, skyblue, #dc143c, #000, skyblue, #000, purple);
                background-size: 900%;
                background-position: 0%;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: project-h1 15s infinite;
                // h1 animation
                @keyframes project-h1 {
                    100% {
                        background-position: 100%;
                    }
                }
                // end of h1 animation
            }
            // end of section header h1
        }
        // end of section header
        // project items
        .all-projects {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 10;
            // project item
            .project-item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column-reverse;
                width: 90%;
                // project items on desktop : row
                @media (min-width: 768px){
                        flex-direction: row;
                        margin: .5em auto;
                }
                // end of project items on desktop : row
                margin: 20px auto;
                overflow: hidden;
                border-radius: 10px;
                box-shadow: 0 0 5px #000a,
                    inset 5px 5px 5px #ddda,
                    inset -5px -5px 5px #000;
                
                // project tile
                .project-tile {
                    
                    padding: 30px;
                    flex-basis: 50%;
                    width: 100%;
                    height: 100%;
                    line-height: 1.2em;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    background-image: var(--overlay);
                    background: #485563c5;
                    backdrop-filter: blur(1px);
                    transition: 1.3s ease;
                    box-shadow: inset 5px 0px 5px rgba(150, 149, 149, 0.667),
                                inset -3px -5px 5px #000a;
                    // project Title (h1)
                    h1 {
                        font-size: 1.5em;
                        font-weight: 900;
                        line-height: 1em;
                        letter-spacing: .05em;
                        padding-bottom: 10px;
                        text-transform: capitalize;
                        border-bottom: 1px dashed #fff;
                        background: linear-gradient(0deg, #b9b6b6, #fff);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    // end of project Title (h1)
                    // project details (h2 and p)
                    h2 {
                        font-size: 1em;
                        line-height: 1.3;
                        font-weight: 500;
                        margin: .5em 0;
                        text-transform: capitalize;
                        color: #fff;
                        transition: .3s;
                        @media (min-width:768px){
                            font-size: 1.3em;
                        }
                    }
                    
                    p {
                        font-size: .8em;
                        @media (min-width:768px){
                            font-size: 1em;
                        }
                        font-weight: 200;
                        color: #ddd;
                        margin: .5em 0;
                    }
                    // end of project details (h2 and p)
                    // project link icon
                    a {
                        color: #fff;
                        background: #333;
                        margin: .4em 0;
                        padding: .5em;
                        border: none;
                        outline: none;
                        border-radius: 5px;
                        transition: all .3s ease;
                        position: relative;
                        // project tile box shadow
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            box-shadow: inset 2px 2px 3px #ddda,
                                        inset -2px -2px 5px #000a;
                        }
                        // end of project tile box shadow
                        // links icon
                        i {
                            color: #b6ec37;
                            font-size: .7em;
                            padding: .2em;
                            // icon label (pseudo)
                            &::after {
                                content: 'view project';
                                font-family: 'Gruppo', cursive;
                                font-style: italic;
                            }

                            // end of icon label (pseudo)
                        }
                        // end of links icon
                        // link hover state
                        &:hover {
                             h2 {
                                 color: yellow;
                                }
                        }
                        // link hover state

                    }
                    // end of project link icon 
                }
                // end of project tile 
                // project image
                .project-img {
                    flex-basis: 50%;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    // project image box shadow
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        box-shadow: 0 0 5px #000a,
                            inset 5px 5px 5px #ddda,
                            inset -5px 0px 5px #000a;
                        background-image: linear-gradient(60deg, #29323c, 0%, #585563 100%);
                        opacity: 0.5;
                    }
                    // end of project image box shadow
                    // image 
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 0px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        transition: 0.5s ease;

                    }
                    // end of image
                    &:hover {
                        transition: 0.5s ease;

                    }
                }
                // end of project image
                // project tech list
                .tech-list {
                    padding: .5em;

                    ul {
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            font-size: .7em;
                            color: #fffa;
                            list-style: none;
                            padding: .4em .3em;
                            margin-right: .1em;
                            font-style: italic;
                            letter-spacing: .05em;
                        }
                    }

                }
                // end of project tech list
                // project item img hover state
                &:hover {
                    &.project-item {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
                // end of project item img hover state 
            }
            
            // end of project item
        }
        // end of project items
    }
    // end of projects container
} 
// end of projects 

// about 