@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
//   font-family: 'Poppins', sans-serif;
  font-family: 'Gruppo', cursive;
}
.form-nav {
    background: #29323c;
    h1 {
        font-size: 1em;
        @media (min-width: 768px){
            font-size: 1.5em;
        }
    }

    #form-toggle {
        transform: scale(.5);
        &:active {
            transform: scale(1.4);
        }
        &:hover {
            transform: scale(.7);
        }
    }
}

.welcome-section {
    animation: none;
    background-image: none;
    background-color: #29323c;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 1em;
    // overflow: scroll;

    &::after {
        display: none;
    }



    

    ::selection {
        color: green;
        background: pink;
    }

    .form-container {
        @media (max-width: 500px){
            width: 85%;
            margin-top: 15vh;
            padding: 1em;
        }
        @media (max-width: 330px){
            height: 87vh;
        }
        border: none;
        outline: none;
        background: #fff;
        width: 330px;
        margin-top: 8vh;
        height: auto;
        text-align: center;
        border-radius: 5px;
        padding: 50px 35px 10px 35px;
        box-shadow: inset 3px 3px 5px #ddda,
                    inset -3px -3px 5px #000a;

        header {
            @media (max-width: 500px){
                font-size: 1.3em;
                padding: .3em;

            }
            text-transform: capitalize;
            font-size: 1.5em;
            font-weight: 600;
            margin: .4em auto;
            padding: .2em;
            border-radius: 5px;
            box-shadow: inset 2px 2px 4px #ddd,
                    inset -2px -2px 4px #000a;
        }

        .form-outer {
            width: 100%;
            overflow: hidden;
            

            form {
                display: flex;
                width: 400%;

                .page {
                    width: 25%;
                    transition: margin-left .3s ease-in-out;
                    &#message-page {
                        position: relative;
                        padding: .5em;
                        textarea {
                            padding: .5em;
                            margin: .5em auto;
                            font-size: 1em;
                            font-family: 'Poppins', sans-serif;
                            
                            
                            &::placeholder {
                                font-weight: 700;
                                font-family: 'Gruppo', cursive;
                                font-size: .9em;
                                color: #333a;
                            }
                        }
                        .btns {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                        
                    }
                    .service-info {
                        text-align: left;
                        font-size: 1em;
                        p {
                            font-weight: 700;
                        }
                    }

                    .title {
                        text-align: left;
                        font-size: 1.9em;
                        font-weight: 900;
                        
                        h3 {
                            text-align: center;
                            padding: .3em;
                            border-radius: 5px;
                            background: #485563;
                            box-shadow: inset 2px 2px 5px #fffa,
                                        inset -2px -2px 5px #000;
                            color: #fff;
                            letter-spacing: .1em;
                            font-size: .7em;
                        }

                        p {
                            padding: 0;
                            font-weight: 600;
                        }
                    }

                    .field { 
                        width: 100%;
                        height: 45px;
                        margin: 45px auto;
                        display: flex;
                        position: relative;

                        .label {
                            position: absolute;
                            top: -30px;
                            font-weight: 800;
                            color: #dc143c;
                            font-size: .9em;
                            text-transform: capitalize;
                        }


                        input {
                            //  ubuntu font
                            font-family: 'Poppins', sans-serif;
                            height: 100%;
                            width: 100%;
                            border: none;
                            outline: none;
                            box-shadow: inset 2px 2px 4px #ddda,
                                            inset -2px -2px 4px #000a;
                            border-radius: 5px;
                            background-color: #f4f4f4;
                            padding-left: 15px;
                            font-size: 1.1em;
                            transition: .2s;

                            &::placeholder {
                            font-size: .7em;
                            }
                            &:invalid {
                                background: #cf30501e;
                                border: none;
                                outline: none;
                                box-shadow: inset 2px 2px 4px #ddda,
                                            inset -2px -2px 4px #79092098;
                            }

                            &:focus {
                                border: none;
                                outline: none;
                                box-shadow: none;
                                background-color: rgba(135, 207, 235, 0.233);
                                box-shadow: inset 2px 2px 4px #ddda,
                                inset -2px -2px 4px rgba(28, 39, 100, 0.667);
                            }
                            
                        
                        }
                        textarea {
                            height: 100px;
                            width: 100%;
                            border-radius: 5px;
                            border: none;
                            outline: none;
                            box-shadow: inset 2px 2px 4px #ddda,
                            inset -2px -2px 4px #41061298;
                            &:focus {
                                background: #f4f4f4; 
                            }
                        }
                        select {
                            width: 100%;
                            padding-left: 10px;
                            font-size: 17px;
                            font-weight: 600;
                            border-radius: 5px;
                            border: none;
                            color: #000;
                            box-shadow: inset 2px 2px 4px #ddd,
                                        inset -2px -2px 4px #000a;

                            option {
                                font-weight: 600;
                            }

                            &:focus {
                                &:focus {
                                    border: none;
                                    box-shadow: inset 2px 2px 4px #ddda,
                                                inset -2px -2px 4px #41061298;
                                }
                            }
                        }

                        button {
                            width: 100%;
                            height: calc(100% + 5px);
                            border: none;
                            margin-top: -20px;
                            border-radius: 5px;
                            color: #fff;
                            cursor: pointer;
                            font-size: 18px;
                            font-weight: 500;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            transition: 0.5s ease;
                            position: relative;
                            z-index: 3;

                            &::before,
                            &::after {
                                position: absolute;
                                content: '';
                                display: grid;
                                letter-spacing: .15em;
                                place-items: center;
                                font-weight: 600;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: -1;
                                border-radius: 5px;
                                transition: .2s;
                            }
                            &::before {
                                background: #dc143c;
                                box-shadow: inset 3px 3px 5px #fffa,
                                            inset -3px -3px 5px #000a;
                            }
                            &::after{
                                opacity: 0;
                                background: #29323c;
                                box-shadow: inset 3px 3px 5px #000a,
                                            inset -3px -3px 5px #fffa;
                            }

                            &:hover {
                                &::before {opacity: 0;}
                                &::after {opacity: 1;}
                            }
                            &:active {
                                transition: .2s;
                                transform: scale(.9);
                            }
                        }
                    }
                    .btns {
                        button {
                            margin-top: -20px !important;
                            &.prev {
                                margin-right: 3px;
                                font-size: 17px;
                                color: #ddda;
                                &::before {
                                    background: #70081d;
                                }
                            }
                            &.next {
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
        .form-progress-bar {
            display: flex;
            margin: 1em auto;
            user-select: none;

            .step {
                text-align: center;
                width: 100%;
                position: relative;
                margin: .5em auto;

                p {
                    font-weight: 800;
                    font-size: .9em;
                    color: #000;
                    margin: .4em auto;
                    text-transform: capitalize;
                    // margin-bottom: 8px;
                }

                .bullet {
                    height: 25px;
                    width: 25px;
                    border: none;
                    outline: none;
                    display: inline-block;
                    border-radius: 50%;
                    position: relative;
                    transition: 0.2s;
                    box-shadow: inset 2px 2px 4px #ddd,
                                inset -2px -2px 4px #000a;

                    &.active {
                        border: none;
                        outline: none;
                        background: #dc143c;
                    }

                    span {
                        color: #000;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        font-weight: 500;
                        font-size: .8em;
                        line-height: 22px;
                        font-family: 'Poppins', sans-serif;
                        

                    }
                    &.active {
                        span {
                            display: none;
                        }

                    }
                    &::before,
                    &::after {
                        position: absolute;
                        content: '';
                        bottom: 50%;
                        right: -30px;
                        height: 3px;
                        width: 25px;
                        background: #a3a3a30c;
                    }

                    &.active {
                        &::after {
                            background: #dc143c;
                                transform: scaleX(0);
                                transform-origin: left;
                                animation: animate .6s linear forwards;
                                @keyframes animate {
                                    100% {
                                        transform: scaleX(1);
                                    }
                            }
                        }
                    }
                    }
                &:last-child {
                    &.bullet {
                        &::before,
                        &::after {
                            display: block;
                        }
                    }
                }
                p {
                    &.active {
                        color: #d43f8d;
                        transition: .2s linear;
                    }
                }
                .check {
                    position: absolute;
                    left: 50%;
                    top: 80%;
                    font-size: 15px;
                    transform: translate(-50%, -50%);
                    display: none;

                    &.active {
                        display: block;
                        color: #fff;
                    }
                }
            }
        }
    }

}
.form-footer {
    .footer {
        padding-top: 0;
    }
    .map {
        margin: 1em auto;
        border: none;
        outline: none;
        width: 80%;
        border-radius: 5px;
        // padding: 1em;
        height: 50vh;
        overflow: hidden;

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        outline: none;
        }
    }
}


